<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="{settings.accessibilityMenu.easyToReadUid}">
        <nav class="lang-switch flex-basis-12 flex-container">
            <a href="{f:uri.page(pageUid:'{settings.accessibilityMenu.easyToReadUid}')}"
                title="{f:translate(key:'{settings.themeLanguageFile}:partials.basics.accessibility.easyToRead.ariaLabel')}"
                aria-label="{f:translate(key:'{settings.themeLanguageFile}:partials.basics.accessibility.easyToRead.ariaLabel')}"
                class="lang-switch__link {f:if(condition: '{data.uid} == {settings.accessibilityMenu.easyToReadUid}', then: 'is-active')}">
                <svg class="icon icon--24" aria-label="{f:translate(key:'{settings.themeLanguageFile}:partials.basics.accessibility.easyToRead.label')}">
                    <use xlink:href="#ic-easy-to-read" />
                </svg>
            </a>
        </nav>
    </f:if>
</html>
