<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="skiplinks">
        <a href="#navigation" class="sr-only sr-only-focusable">
            <f:translate key="{settings.themeLanguageFile}:partials.basics.skipLink.labelNavigation" />
        </a>
        <a href="#main" class="sr-only sr-only-focusable">
            <f:translate key="{settings.themeLanguageFile}:partials.basics.skipLink.labelContent" />
        </a>
    </div>
</html>