<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{data.tx_bmpdf2content_is_import_sub}">
        <f:then>
            <f:render section="PublicationSubs" arguments="{_all}"/>
        </f:then>
        <f:else>
            <f:render section="Default" arguments="{_all}"/>
        </f:else>
    </f:if>

    <f:comment><!-- ======================================================================== --></f:comment>

    <f:section name="Default">

        <div class="publication-details info-box">

            <!-- image -->
            <div class="publication-details-info">
                <figure class="publication-details-image sticky-hide">
                    <f:render partial="InfoBox/Partials/FileCover" arguments="{_all}"/>
                </figure>
            </div>


            <div class="publication-details-description">

                <!-- project -->
                <f:render partial="InfoBox/Partials/Project" arguments="{_all}"/>

                <!-- date -->
                <f:render partial="InfoBox/Partials/Date" section="Publication" arguments="{_all}"/>

                <!-- file size -->
                <f:render partial="InfoBox/Partials/FileSize" arguments="{_all}"/>

                <!-- authors -->
                <f:render partial="InfoBox/Partials/Author" section="List" arguments="{_all}"/>

                <div class="publication-details-buttons" role="tablist">

                    <!-- download button -->
                    <p role="tab">
                        <f:cObject typoscriptObjectPath="lib.txRkwTemplate.pageInfo.fileDownload" data="{data}" />
                    </p>

                    <!-- toggle for table of contents -->
                    <f:render partial="InfoBox/Partials/TableOfContents" section="TabToggle" arguments="{_all}"/>

                </div>
            </div>
        </div>

        <!-- table of contents -->
        <f:render partial="InfoBox/Partials/TableOfContents" section="TabContent" arguments="{_all}"/>

    </f:section>


    <f:comment><!-- ======================================================================== --></f:comment>

    <f:section name="PublicationSubs">
        <div class="chapter-info-box">
            <div class="publication-details sticky-slide info-box">

                <!-- image -->
                <div class="publication-chapter-info">
                    <figure class="publication-chapter-image-container">
                        <f:render partial="InfoBox/Partials/FileCover" arguments="{_all}"/>
                    </figure>
                </div>

                <div class="publication-details-description publication-details-description--chapter sticky-slide">

                    <!-- project -->
                    <f:render partial="InfoBox/Partials/Project" arguments="{_all}"/>

                    <!-- parent link -->
                    <f:render partial="InfoBox/Partials/ParentPage" arguments="{_all}"/>

                    <div class="publication-details-buttons" role="tablist">

                        <!-- download button -->
                        <p class="sticky-slide" role="tab">
                            <f:cObject typoscriptObjectPath="lib.txRkwTemplate.pageInfo.fileDownload" data="{data}" />
                        </p>

                        <!-- toggle for table of contents -->
                        <f:render partial="InfoBox/Partials/TableOfContents" section="TabToggleSticky" arguments="{_all}"/>
                    </div>
                </div>

                <div class="publication-details-buttons publication-details-buttons--mobile" role="presentation">

                    <!-- download button -->
                    <p class="sticky-slide">
                        <f:cObject typoscriptObjectPath="lib.txRkwTemplate.pageInfo.fileDownload" data="{data}" />
                    </p>

                    <!-- toggle for table of contents -->
                    <f:render partial="InfoBox/Partials/TableOfContents" section="TabToggleSticky" arguments="{_all}"/>
                </div>
            </div>

            <!-- table of contents -->
            <f:render partial="InfoBox/Partials/TableOfContents" section="TabContent" arguments="{_all}"/>
        </div>
    </f:section>

</html>