{namespace vh=Madj2k\Postmaster\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext">

------------------------------------------------------------------------------------------------

RKW Bremen GmbH
Martinistraße 68
28195 Bremen

</f:section>



<!-- HTML -->
<f:section name="Html">
	<tr>
		<td style="padding: 48px 16px 0 16px">
			<p style="margin: 0; padding: 9px 0 9px; border-top: 1px solid #000; font-size: 12px; line-height:12px;">
				&nbsp;
			</p>
		</td>
	</tr>

	<tr>
		<td style="padding: 0px 16px 16px 16px" class="footer">
			<p>
                RKW Bremen GmbH<br>
                Martinistraße 68<br>
                28195 Bremen<br>
				<a href="https://www.rkw-bremen.de">www.rkw-bremen.de</a>
			</p>
		</td>
	</tr>

</f:section>