{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}

<f:layout name="{pageLayoutSwitch}" />

<f:section name="content">

    <!-- top-menu -->
    <f:comment>
        <f:render partial="SubNav" section="Default" arguments="{_all}"/>
    </f:comment>
    <p>&nbsp;</p>


    <div class="page-area-grid">

        <!-- main part -->
        <div class="article">

            <div class="project-article" aria-labelledby="article-headline">

                <!-- header -->
                <header class="content-box content article-header wysiwyg" id="article-headline">
                    <f:format.html parseFuncTSPath="">{eventTitle}</f:format.html>
                </header>

                <!-- GoogleMaps -->
                <f:if condition="{consultantMaps}">
                    <f:format.html parseFuncTSPath="">{eventMaps}</f:format.html>
                </f:if>

                <!-- consultant overview with download files -->
                <f:format.html parseFuncTSPath="">{eventInfo}</f:format.html>

                <div class="content-box content wysiwyg">

                    <!-- Content -->
                    <f:format.html parseFuncTSPath="">{content}</f:format.html>

                </div>

                <footer class="article-footer">

                    <!-- Print and Save -->
                    <f:render partial="Common/Print" arguments="{_all}"/>

                    <!-- SocialMedia -->
                    <f:render partial="Common/SocialMedia" arguments="{_all}"/>
                </footer>
            </div>


            <div class="sections">

                <!-- Gallery 1 -->
                <f:format.html parseFuncTSPath="">{galleryOne}</f:format.html>

                <!-- Gallery 2 -->
                <f:format.html parseFuncTSPath="">{galleryTwo}</f:format.html>

            </div>


        </div>

        <!-- related -->
        <f:format.html parseFuncTSPath="">{relatedBoxesEvents}</f:format.html>

    </div>

</f:section>

