{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}

<f:layout name="{pageLayoutSwitch}" />

<f:section name="content">

    <!-- top-menu -->
    <f:if condition="'{pageLayoutSwitch}' == 'Microsite'">
        <f:render partial="SubNav" section="Default" arguments="{_all}"/>
    </f:if>

    <div class="content-page__content">

        <!--  Welcome Section -->
        <header class="page-headings">
            <h1>{pageSubTitle}</h1>
            <f:format.html parseFuncTSPath="">{boxIntroductionMap}</f:format.html>
        </header>

        <!-- boxes -->
        <div class="page-area-grid">
            <div class="boxes">

                <f:format.html parseFuncTSPath="">{boxOverviewBoxesMap}</f:format.html>

                <!-- map for mobile-->
                <div class="box regions-mobile">
                    <header>
                        <p>
                            Regional
                        </p>
                    </header>
                    <div class="regions-mobile__container">
                        <img src="{rkwMapImagePath}/cloud1.jpg" class="regions-mobile__cloud regions-mobile__cloud--cloud1" />
                        <img src="{rkwMapImagePath}/cloud2.jpg" class="regions-mobile__cloud regions-mobile__cloud--cloud2" />
                        <ul class="regions-mobile__list">

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-baden-wuerttemberg/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon1"></span>
                                     <span class="regions-mobile__item-label">
                                        Baden-Württemberg
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-bayern/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon2"></span>
                                    <span class="regions-mobile__item-label">
                                        Bayern
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-projekt-gmbh/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon3"></span>
                                    <span class="regions-mobile__item-label">
                                        Berlin
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-projekt-gmbh/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon4"></span>
                                    <span class="regions-mobile__item-label">
                                        Brandenburg
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-bremen/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon5"></span>
                                    <span class="regions-mobile__item-label">
                                        Bremen
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-nord/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon6"></span>
                                    <span class="regions-mobile__item-label">
                                        Hamburg
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-hessen/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon7"></span>
                                    <span class="regions-mobile__item-label">
                                        Hessen
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-nord/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon8"></span>
                                    <span class="regions-mobile__item-label">
                                        Mecklenburg-Vorpommern
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-nord/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon9"></span>
                                    <span class="regions-mobile__item-label">
                                        Niedersachsen
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-nordrhein-westfalen/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon10"></span>
                                    <span class="regions-mobile__item-label">
                                        Nordrhein-Westfalen
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-rheinland-pfalz/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon11"></span>
                                    <span class="regions-mobile__item-label">
                                        Rheinland-Pfalz
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/saarlandinnovationstandort-e-v-saaris/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon12"></span>
                                    <span class="regions-mobile__item-label">
                                        Saarland
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-sachsen/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon13"></span>
                                    <span class="regions-mobile__item-label">
                                        Sachsen
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-sachsen-anhalt/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon14"></span>
                                    <span class="regions-mobile__item-label">
                                        Sachsen-Anhalt
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-nord/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon15"></span>
                                    <span class="regions-mobile__item-label">
                                        Schleswig-Holstein
                                    </span>
                                </a>
                            </li>

                            <li class="regions-mobile__item">
                                <a class="regions-mobile__link" href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-thueringen/">
                                    <span class="regions-mobile__item-icon regions-mobile__item-icon--icon16"></span>
                                    <span class="regions-mobile__item-label">
                                        RKW Thüringen
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- regular  map -->
            <div class="map__container">
                <div class="map__wrapper">
                    <svg class="map" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 691 987" style="enable-background:new 0 0 690.9 986.9;" xml:space="preserve">
                        <g>
                            <image class="map__terrain" width="691" height="987"  xlink:href="{rkwMapImagePath}/terrain.png"  transform="matrix(1 0 0 1 -4 1)"></image>
                            <image class="map__terrain--night" width="691" height="987" xlink:href="{rkwMapImagePath}/terrain_night.png"  transform="matrix(1 0 0 1 -4 1)"></image>
                        </g>
                        <g>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-nord/">
                                <polygon class="map__region map__region--region1" data-text="Schleswig-Holstein" data-position-x="38%" data-position-y="2%" points="306.5,157.5 333.5,165.5 348.5,208.5 376.5,166.5 363.5,126.5 388.5,89.5 321.5,83.5 315.5,35.5 224.5,13.5 225.5,40.5 246.5,69.5 228.5,91.5 241.5,139.5 295.5,185.5 	"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-nord/">
                                <polygon class="map__region map__region--region2" data-text="Hamburg" data-position-x="43%" data-position-y="9%" points="310.5,210.5 348.5,208.5 333.5,165.5 306.5,157.5 295.5,185.5"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-nord/">
                                <polygon class="map__region map__region--region3" data-text="Mecklenburg-Vorpommern" data-position-x="62%" data-position-y="4%" points="429.5,253.5 348.5,208.5 376.5,166.5 391.5,129.5 461.5,119.5 473.5,75.5 564.5,111.5 623.5,211.5 571.5,195.5 526.5,228.5 463.5,208.5 	"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-nord/">
                                <path class="map__region map__region--region4" data-text="Niedersachsen" data-position-x="39%" data-position-y="20%" d="M374.5,270.5l43.4-23.5l-69.4-38.5l-38,2l-15-25l-80-38l-7,56l-38-44l-60,21l21,40l-21,9l-37,81 l18,34l48-35l30,59l26-11l6-47l39,16l43,138l66-34l-2-57h32L374.5,270.5z M222.5,263.5l-28-23l6-16l33,10L222.5,263.5z"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-bremen/">
                                <polygon class="map__region map__region--region5" data-text="Bremen" data-position-x="29%" data-position-y="13%" points="200.5,224.5 233.5,234.5 222.5,263.5 194.5,240.5"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-projekt-gmbh/">
                                <path class="map__region map__region--region6" data-text="Brandenburg" data-position-x="80%" data-position-y="28%" d="M606.5,257.5l17-46l-52-16l-45,33l-63-20l-34,45l40,37l16,68l66,41l5,63l103-47L606.5,257.5z M542.5,314.5l-11-28l33-29l26,65L542.5,314.5z"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-projekt-gmbh/">
                                <polygon class="map__region map__region--region7" data-text="Berlin" data-position-x="80%" data-position-y="20%" points="531.5,286.5 564.5,257.5 590.5,322.5 542.5,314.5"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-sachsen-anhalt/">
                                <polygon class="map__region map__region--region8" data-text="Sachsen-Anhalt" data-position-x="61%" data-position-y="30%" points="400.5,457.5 405.5,485.5 474.5,489.5 471.5,450.5 554,431.2 551.5,399.5 485.5,358.5 469.6,291.1 429.5,253.5 417.3,246.9 374.5,270.5 379.5,373.5 347.5,373.5 349.5,430.5 	"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-nordrhein-westfalen/">
                                <polygon class="map__region map__region--region9" data-text="Nordrhein-Westfalen" data-position-x="12%" data-position-y="33%" points="245.5,457.5 269.6,419.9 240.5,326.5 201.5,310.5 195.5,357.5 169.5,368.5 139.5,309.5 91.5,344.5 74.5,385.5 21.5,392.5 36.5,447.5 16.5,490.5 40.5,579.5 123.5,542.5 145.5,510.5 169.5,545.5 213.5,459.5 	"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-hessen/">
                                <polygon class="map__region map__region--region10" data-text="Hessen" data-position-x="30%" data-position-y="50%" points="153.5,625.5 192.5,677.5 242.5,680.5 234.5,621.5 322.5,563.5 303.5,538.5 322.5,483.5 306.8,452.5 283.5,464.5 269.5,419.5 245.5,457.5 213.5,459.5 169.5,545.5 	"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-thueringen/">
                                <polygon class="map__region map__region--region11" data-text="Thüringen" data-position-x="52%" data-position-y="44%" points="401.5,599.5 410.5,559.5 454.5,578.5 498.5,508.5 474.5,489.5 405.5,485.5 400.5,457.5 349.5,430.5 306.5,452.5 322.5,483.5 303.5,538.5 322.5,563.5 	"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-sachsen/">
                                <polygon class="map__region map__region--region12" data-text="Sachsen" data-position-x="72%" data-position-y="45%" points="556.5,462.5 554.5,431.5 471.5,450.5 474.5,489.5 498.5,508.5 454.5,578.5 498.5,599.5 623.5,485.5 663.5,504.5 659.5,415.5 	"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-rheinland-pfalz/">
                                <polygon class="map__region map__region--region13" data-text="Rheinland-Pfalz" data-position-x="13%" data-position-y="54%" points="80.5,665.5 103.5,680.5 104.5,724.5 174.5,758.5 192.5,677.5 153.5,625.5 169.5,545.5 145.5,510.5 123.5,542.5 40.5,579.5 16.5,609.5 45.5,647.5 31.5,677.5 	"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/saarlandinnovationstandort-e-v-saaris/">
                                <polygon class="map__region map__region--region14" data-text="Saarland" data-position-x="6%" data-position-y="60%" points="49.5,736.5 76.5,732.5 98.5,748.5 104.5,724.5 103.5,680.5 80.5,665.5 31.5,677.5"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-baden-wuerttemberg/">
                                <polygon class="map__region map__region--region15" data-text="Baden-Württemberg" data-position-x="32%" data-position-y="72%" points="319.5,678.5 282.5,652.5 242.5,680.5 192.5,677.5 174.5,758.5 106.5,918.5 181.5,926.5 203.5,895.5 216.5,915.5 276.5,931.5 322.5,897.5 315.5,822.5 347.5,762.5 316.5,712.5 	"/>
                            </a>
                            <a href="/beratung/detail/tx-rkw-consultant/consultant/show/rkw-bayern/">
                                <polygon class="map__region map__region--region16" data-text="Bayern" data-position-x="60%" data-position-y="69%" points="477.5,906.5 546.5,931.5 520.5,861.5 606.5,773.5 492.5,674.5 499.5,640.5 454.5,578.5 410.5,559.5 401.5,599.5 322.5,563.5 234.5,621.5 242.5,680.5 282.5,652.5 319.5,678.5 316.5,712.5 347.5,762.5 315.5,822.5 322.5,897.5 276.5,931.5 330.5,959.5 	"/>
                            </a>
                        </g>
                        <g style="pointer-events: none">
                            <image width="552" height="735" id="icons_1_" xlink:href="{rkwMapImagePath}/icons.png"  transform="matrix(1 0 0 1 55 81)"></image>
                        </g>
                        <mask maskUnits="userSpaceOnUse" x="26" y="229" width="638" height="501" id="map__mask">
                            <polygon id="map__mask" style="fill: #ffffff" points="224.5,13.5 225.5,40.5 246.5,69.5 228.5,91.5 241.5,139.5 295.5,185.5 215.5,147.5
                            208.5,203.5 170.5,159.5 112.5,181.5 133.5,221.5 111.5,231.5 75.5,310.5 93.5,344.5 75.5,386.5 24.5,394.5 38.5,447.5 18.5,490.5
                            42.5,579.5 18.5,609.5 47.5,647.5 31.5,677.5 49.5,736.5 76.5,732.5 98.5,748.5 104.5,724.5 174.5,758.5 106.5,918.5 181.5,926.5
                            203.5,895.5 216.5,915.5 276.5,931.5 330.5,959.5 477.5,906.5 546.5,931.5 520.5,861.5 606.5,773.5 492.5,674.5 499.5,640.5
                            454.5,578.5 498.5,599.5 623.5,485.5 663.5,504.5 659.5,415.5 606.5,257.5 623.5,211.5 564.5,111.5 473.5,75.5 461.5,119.5
                            391.5,129.5 376.5,166.5 363.5,126.5 388.5,89.5 321.5,83.5 315.5,35.5"/>
                        </mask>
                        <g class="map__clouds">
                            <image width="266" height="122" class="map__cloud map__cloud--cloud1" xlink:href="{rkwMapImagePath}/cloud1.jpg"  transform="matrix(1 0 0 1 38 229)"></image>
                            <image width="265" height="150" class="map__cloud map__cloud--cloud2" xlink:href="{rkwMapImagePath}/cloud2.jpg"  transform="matrix(1 0 0 1 26 462)"></image>
                            <image width="256" height="152" class="map__cloud map__cloud--cloud3" xlink:href="{rkwMapImagePath}/cloud3.jpg"  transform="matrix(1 0 0 1 408 430)"></image>
                            <image width="275" height="151" class="map__cloud map__cloud--cloud4" xlink:href="{rkwMapImagePath}/cloud4.jpg"  transform="matrix(1 0 0 1 289 579)"></image>
                        </g>
                    </svg>
                    <p class="map__mouseover"><span>&nbsp;</span></p>
                </div>
            </div>
        </div>
    </div>

</f:section>
