{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}

<f:layout name="{pageLayoutSwitch}" />


<f:section name="content">

    <div class="page-area-grid">
        <div class="article">

            <article class="project-article" aria-labelledby="article-headline">

                <!-- key-visual and slogan -->
                <f:render partial="KeyVisualHeadline" section="Special" arguments="{_all}"/>

                <!-- main part -->
                <div class="content-box content wysiwyg">
                    <f:format.html parseFuncTSPath="">{content}</f:format.html>
                </div>

            </article>

            <!-- further boxes here -->
            <f:render partial="AdditionalBoxes" section="Special" arguments="{_all}"/>

        </div>
    </div>

</f:section>


