<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">

        <div class="flex-container center-main px-1 mt-3">
            <div class="flex-basis-7 introtext">
                <h3 class="headline headline--underlined">{data.header}</h3>
                <f:for each="{gallery.rows}" as="row">
                    <f:for each="{row.columns}" as="column">
                        <f:if condition="{column.media}">
                            <f:render partial="Multimedia/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
                        </f:if>
                    </f:for>
                </f:for>
            </div>
        </div>

    </f:section>
</html>
