<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:coreExtended="http://typo3.org/ns/Madj2k/CoreExtended/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">
        <f:if condition="<coreExtended:isEmpty string='{data.tx_gridelements_view_column_40}' /> == 0">
            <div class="promoters__container">
                <span class="promoters__headline" id="section-header-{data.uid}">
                    {data.header}
                </span>

                <div class="promoters__item-list">
                    <f:format.raw>{data.tx_gridelements_view_column_40}</f:format.raw>
                </div>
            </div>

        </f:if>
    </f:section>
</html>
