<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">
        <div class="footer-content">
            <f:if condition="{f:count(subject: images)} > 0">
                <div class="footer-thumb">
                    <img src="{f:uri.image(image:images.0,width:'1050',cropVariant:'default')}" alt="">
                </div>
            </f:if>
            <div class="btn-list flex-container center-main">
                <f:format.raw>{data.tx_gridelements_view_column_110}</f:format.raw>
            </div>
            <div class="footer-totop">
                <a href="#top" data-target="#top" class="footer-totop__link">
                    <svg class="icon">
                        <use xlink:href="#ic-arrow-footer" />
                    </svg>
                    <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/locallang.xlf:contentElement.stickyFooterContainer.labelScrollToTop" />
                </a>
            </div>
        </div>
    </f:section>

</html>
