<footer class="page-footer">
	<div class="container">
		<p class="desktop-footer">
			<f:format.html parseFuncTSPath="">{copyright}</f:format.html>&nbsp;|&nbsp;<f:format.html parseFuncTSPath="">{metaNav}</f:format.html>
		</p>
		<p class="mobile-footer">
			<f:format.html parseFuncTSPath="">{copyright}</f:format.html><br/><f:format.html parseFuncTSPath="">{metaNav}</f:format.html>
		</p>
        <f:if condition="{settings.socialMedia} == 1">
            <p class="social-media">
                <a href="https://twitter.com/rkw_experten" target="_blank" class="icon-twitter"><span>Twitter</span></a>
                <a href="https://de-de.facebook.com/RKWexperten/" target="_blank" class="icon-facebook"><span>Facebook</span></a>
                <a href="https://www.youtube.com/user/RKWexperten" target="_blank" class="icon-youtube"><span>YouTube</span></a>
                <!-- <a href="https://www.instagram.com/rkwexperten/" target="_blank" class="icon-instagram"><span>Instagram</span></a> -->
                <a href="https://www.xing.com/companies/rkwkompetenzzentrum" target="_blank" class="icon-xing"><span>Xing</span></a>
            </p>
        </f:if>
	</div>
</footer>
