<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:section name="Default">

        <f:if condition="{contactPid}'">
            <li class="nav__item">
                <a href="{f:uri.page(pageUid:'{contactPid}')}" class="btn btn--secondary btn--nav" >
                    <f:translate key="{settings.themeLanguageFile}:partials.menus.main.buttons.contact" />
                </a>
            </li>
        </f:if>
        <f:if condition="{loginPid}'">
            <li class="nav__item">
                <a href="{f:uri.page(pageUid:'{loginPid}')}" class="btn btn--tertiary btn--nav" id="menu-mein-rkw">
                    <f:translate key="{settings.themeLanguageFile}:partials.menus.main.buttons.login" />
                </a>
            </li>
        </f:if>
        <!--
        <li class="nav__item nav__item--search">
            <a href="search.php" class="nav__item-search" aria-label="Suche">
                <svg class="icon icon--24">
                    <use xlink:href="#ic-search" /></svg>
            </a>
        </li>-->

    </f:section>

    <f:comment><!-- ======================================================================== --></f:comment>


    <f:section name="Mobile">

        <div class="nav-mobile__bottom flex">
            <ul class="nav-mobile__bottom-btnlinks">
                <li class="nav-mobile__item nav-mobile__item--bottom">
                    <a href="{f:uri.page(pageUid:'{contactPid}')}" >
                        <f:translate key="{settings.themeLanguageFile}:partials.menus.main.buttons.contact" />
                    </a>
                </li>
                <li class="nav-mobile__item nav-mobile__item--bottom">
                    <a href="{f:uri.page(pageUid:'{loginPid}')}" class="nav-mobile__item nav-mobile__item--bottom" id="menu-mein-rkw">
                        <f:translate key="{settings.themeLanguageFile}:partials.menus.main.buttons.login" />
                    </a>
                </li>
                <!--
                <li class="nav-mobile__item nav-mobile__item--bottom">
                    <a href="">Suche</a>
                </li>
                -->
            </ul>

            <f:if condition="{menuItemsMeta}">
                <ul class="nav-mobile__bottom-footer">
                    <f:for each="{menuItemsMeta}" as="item" iteration="iterator">
                        <li class="nav-mobile__item">
                            <a href="{item.link}" target="{item.target}">
                                {item.title}
                            </a>
                        </li>
                    </f:for>
                </ul>
            </f:if>
        </div>
    </f:section>


</html>