<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


    <f:section name="Mobile">
        <li class="nav-mobile__item nav-mobile__item--fourth">
            <a href="{item.link}" target="{item.target}">
                {item.title}
            </a>

            <f:if condition="{item.children}">
                <ul class="nav-mobile__fifth nav-mobile__dropdown">
                    <f:for each="{item.children}" as="item" iteration="iterator">
                        <f:render partial="ItemLevel5" section="Mobile" arguments="{item: item, counter: iterator.cycle}"/>
                    </f:for>
                </ul>
            </f:if>
        </li>

    </f:section>

</html>