<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


    <f:section name="Mobile">

        <li class="nav-mobile__item {f:if(condition:item.active, then:' is-active')}">
            <a class="{f:if(condition: '{item.children} && {item.data.doktype} == 4 && {item.data.shortcut_mode} == 1', then: 'nav-mobile__item--toggle')}" href="{item.link}" target="{f:if(condition: item.target, then: item.target, else:'_self')}" {f:if(condition:item.children, then:' aria-haspopup="true"')}>
                {item.title}
            </a>

            <f:if condition="{item.children}">
                <span class="nav-mobile__item-icon-wrapper nav-mobile__item--toggle">
                    <button class="nav-mobile__item-icon" aria-label="{f:translate(key:'{settings.themeLanguageFile}:partials.menus.main.item.more')}">
                        <svg class="icon icon--12">
                            <use xlink:href="#ic-arrow-primary" />
                        </svg>
                    </button>
                </span>

                <div class="flex-basis-12 inner-nav-mob {f:if(condition:item.active, then:' is-active-list')}">
                    <ul>

                        <!-- Backlink -->
                        <li class="nav-mobile__item nav-mobile__back-link">
                            <span class="nav-mobile__item-icon-wrapper nav-mobile__item--toggle">
                                <button class="nav-mobile__item-icon" aria-haspopup="true" aria-label="{f:translate(key:'{settings.themeLanguageFile}:partials.menus.main.item.back')}">
                                    <svg class="icon icon--12">
                                        <use xlink:href="#ic-arrow-primary" />
                                    </svg>
                                </button>
                            </span>
                            <strong>
                                {item.title}
                            </strong>
                        </li>

                        <!-- Sub-Items -->
                        <f:for each="{item.children}" as="item" iteration="iterator">
                            <f:render partial="ItemLevel3" section="Mobile" arguments="{item: item, counter: iterator.cycle}"/>
                        </f:for>
                    </ul>
                </div>
            </f:if>
        </li>

    </f:section>

</html>