<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:section name="Default">
        <ul class="flex-container valign-center">
            <f:for each="{menuItems}" as="item" iteration="iterator">
                <f:render partial="ItemLevel1" section="Default" arguments="{item: item, iterator: iterator}"/>
            </f:for>

            <f:render partial="Closure" section="Default" arguments="{_all}"/>
        </ul>
    </f:section>



    <f:section name="Mobile">

        <ul class="nav-mobile__primary flex-container valign-center space-start flex-basis-12">
            <f:for each="{menuItems}" as="item" iteration="iterator">
                <f:render partial="ItemLevel1" section="Mobile" arguments="{item: item, iterator: iterator}"/>
            </f:for>
        </ul>

        <f:render partial="Closure" section="Mobile" arguments="{_all}"/>

    </f:section>
</html>