{namespace rkwEtracker=RKW\RkwEtracker\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{data.header}">

        <div class="carousel-item__text {f:if(condition: '{data.header_layout} >= 2', then: 'carousel-item__text--inverted')} flex-container">
            <div>
                <f:if condition="{data.subheader}">
                    <div class="carousel-cat"><f:format.stripTags>{data.subheader}</f:format.stripTags></div>
                </f:if>
                <h1 class="carousel-title">{data.header}</h1>
                <rkwEtracker:link.typolink parameter="{data.header_link}" class="btn btn--primary">
                    <f:format.stripTags>{data.rowDescription}</f:format.stripTags>
                </rkwEtracker:link.typolink>
            </div>
        </div>

    </f:if>
</html>
