<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwEtracker="http://typo3.org/ns/RKW/RkwEtracker/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="{data.header}">

        <div class="slider-item__text {f:if(condition: '({data.header_layout} == 2) || ({data.header_layout} == 4))', then: 'slider-item__text--inverted')} {f:if(condition: '{data.header_layout} >= 3)', then: 'slider-item__text--background')} flex-container">
            <div class="slider-item__textwrapper">
                <f:if condition="{data.subheader}">
                    <div class="slider-cat"><f:format.stripTags allowedTags="<span>">{data.subheader}</f:format.stripTags></div>
                </f:if>
                <h1 class="slider-title">{data.header}</h1>
                <f:if condition="{data.header_link}">
                    <rkwEtracker:link.typolink parameter="{data.header_link}" class="btn btn--primary">
                        <f:format.stripTags>{data.rowDescription}</f:format.stripTags>
                    </rkwEtracker:link.typolink>
                </f:if>
            </div>
        </div>

    </f:if>
</html>
