{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}

<f:layout name="{pageLayoutSwitch}" />

<f:section name="content">
	<header class="page-headings broken-link">

		<f:image src="{settings.websiteLogoBrokenLinkFile}" alt="{settings.websiteName}" width="201c" />
		<div>
			<h1 id="topic-headline">{pageTitle}</h1>
            <f:if condition="{pageSubTitle}">
			    <h2>{pageSubTitle}</h2>
            </f:if>
		</div>
	</header>

	<div class="article" style="margin-bottom:32px; width:100%">
		<article aria-labelledby="article-headline">
			<!-- Content -->
			<div class="content-box content wysiwyg first-letter-normal">
				<f:format.html parseFuncTSPath="">{content}</f:format.html>
			</div>

		</article>

		<!-- comments and further boxes here -->
		<div class="sections">

			<!-- further boxes -->
			<f:format.html parseFuncTSPath="">{boxContent}</f:format.html>
		</div>
	</div>

    <!-- topic-boxes -->
    <f:format.html parseFuncTSPath="">{boxTopics}</f:format.html>

</f:section>

