<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:comment><!-- skip links--></f:comment>
	<f:render partial="Basics/SkipLinks" />

	<div class="pagewrap">

		<f:comment><f:render partial="Basics/BrowserWarning" /></f:comment>

		<f:comment><!-- header --></f:comment>
		<header class="header {f:if(condition: '{f:cObject(typoscriptObjectPath:\'lib.txRkwTemplate.navigation.sub\', data:\'{data}\')}', then: 'has-nav')} {f:if(condition: '{settings.shortMainMenu}', then: 'has-nav--short')}">
			<f:render partial="Basics/Header" arguments="{_all}"/>
			<f:render section="Header" />
		</header>

		<f:comment><!-- main section --></f:comment>
		<f:render section="Content" />

        <f:if condition="{data.backend_layout} != 'pagets__landingPages'">
            <f:comment><!-- footer --></f:comment>
            <f:render partial="Basics/Footer" section="Default" arguments="{_all}"/>
        </f:if>

	</div>

    <f:if condition="{data.backend_layout} == 'pagets__landingPages'">
        <f:comment><!-- footer --></f:comment>
        <f:render partial="Basics/Footer" section="Default" arguments="{_all}"/>
    </f:if>

	<f:comment><!-- SVGs --></f:comment>
	<f:render partial="Basics/SVGs" />

	<f:comment><!-- Overlay --></f:comment>
	<f:cObject typoscriptObjectPath="lib.txRkwTemplate.various.loginOverride" data="{data}" />


</html>