<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:ajaxApi="http://typo3.org/ns/Madj2k/AjaxApi/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<f:comment><!-- basic colors --></f:comment>
	<style>
		:root {

			--specials-primary-color: <f:format.raw>{data.tx_rkwtemplate_landingpage_primary_color}</f:format.raw>; /* primary color */
			--specials-primary-effect-color: <f:format.raw>{data.tx_rkwtemplate_landingpage_primary_effect_color}</f:format.raw>;  /* for links and buttons on white */
			--specials-primary-effect-text-color: <f:format.raw>{data.tx_rkwtemplate_landingpage_primary_effect_text_color}</f:format.raw>;  /* for text on buttons on white */
			--specials-primary-top-text-color: <f:format.raw>{data.tx_rkwtemplate_landingpage_primary_top_text_color}</f:format.raw>; /* for text on primary color */
			--specials-primary-top-effect-color: <f:format.raw>{data.tx_rkwtemplate_landingpage_primary_top_effect_color}</f:format.raw>; /* for links and buttons on primary color*/
			--specials-primary-top-effect-text-color: <f:format.raw>{data.tx_rkwtemplate_landingpage_primary_top_effect_text_color}</f:format.raw>; /* for text on buttons on primary color */

			--specials-secondary-color: <f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_color}</f:format.raw>; /* secondary color */
			--specials-secondary-effect-color: <f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_effect_color}</f:format.raw>;  /* for links and buttons on white */
			--specials-secondary-effect-text-color: <f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_effect_text_color}</f:format.raw>;  /* for text on buttons on white */
			--specials-secondary-top-text-color: <f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_top_text_color}</f:format.raw>; /* for text on secondary color */
			--specials-secondary-top-effect-color: <f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_top_effect_color}</f:format.raw>; /* for links and buttons on secondary color*/
			--specials-secondary-top-effect-text-color: <f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_top_effect_text_color}</f:format.raw>; /* for text on buttons on secondary color */

			--specials-tertiary-color: <f:if condition="{data.tx_rkwtemplate_landingpage_tertiary_color}"><f:then><f:format.raw>{data.tx_rkwtemplate_landingpage_tertiary_color}</f:format.raw></f:then><f:else><f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_color}</f:format.raw></f:else></f:if>; /* tertiary color */
			--specials-tertiary-effect-color: <f:if condition="{data.tx_rkwtemplate_landingpage_tertiary_effect_color}"><f:then><f:format.raw>{data.tx_rkwtemplate_landingpage_tertiary_effect_color}</f:format.raw></f:then><f:else><f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_effect_color}</f:format.raw></f:else></f:if>;  /* for links and buttons on white */
			--specials-tertiary-effect-text-color: <f:if condition="{data.tx_rkwtemplate_landingpage_tertiary_effect_text_color}"><f:then><f:format.raw>{data.tx_rkwtemplate_landingpage_tertiary_effect_text_color}</f:format.raw></f:then><f:else><f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_effect_text_color}</f:format.raw></f:else></f:if>;  /* for text on buttons on white */
			--specials-tertiary-top-text-color: <f:if condition="{data.tx_rkwtemplate_landingpage_tertiary_top_text_color}"><f:then><f:format.raw>{data.tx_rkwtemplate_landingpage_tertiary_top_text_color}</f:format.raw></f:then><f:else><f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_top_text_color}</f:format.raw></f:else></f:if>; /* for text on tertiary color */
			--specials-tertiary-top-effect-color: <f:if condition="{data.tx_rkwtemplate_landingpage_tertiary_top_effect_color}"><f:then><f:format.raw>{data.tx_rkwtemplate_landingpage_tertiary_top_effect_color}</f:format.raw></f:then><f:else><f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_top_effect_color}</f:format.raw></f:else></f:if>; /* for links and buttons on tertiary color*/
			--specials-tertiary-top-effect-text-color: <f:if condition="{data.tx_rkwtemplate_landingpage_tertiary_top_effect_text_color}"><f:then><f:format.raw>{data.tx_rkwtemplate_landingpage_tertiary_top_effect_text_color}</f:format.raw></f:then><f:else><f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_top_effect_text_color}</f:format.raw></f:else></f:if>; /* for text on buttons on tertiary color */

			--specials-quarterly-color: <f:if condition="{data.tx_rkwtemplate_landingpage_quarterly_color}"><f:then><f:format.raw>{data.tx_rkwtemplate_landingpage_quarterly_color}</f:format.raw></f:then><f:else><f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_color}</f:format.raw></f:else></f:if>; /* quarterly color */
			--specials-quarterly-effect-color: <f:if condition="{data.tx_rkwtemplate_landingpage_quarterly_effect_color}"><f:then><f:format.raw>{data.tx_rkwtemplate_landingpage_quarterly_effect_color}</f:format.raw></f:then><f:else><f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_effect_color}</f:format.raw></f:else></f:if>;  /* for links and buttons on white */
			--specials-quarterly-effect-text-color: <f:if condition="{data.tx_rkwtemplate_landingpage_quarterly_effect_text_color}"><f:then><f:format.raw>{data.tx_rkwtemplate_landingpage_quarterly_effect_text_color}</f:format.raw></f:then><f:else><f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_effect_text_color}</f:format.raw></f:else></f:if>;  /* for text on buttons on white */
			--specials-quarterly-top-text-color: <f:if condition="{data.tx_rkwtemplate_landingpage_quarterly_top_text_color}"><f:then><f:format.raw>{data.tx_rkwtemplate_landingpage_quarterly_top_text_color}</f:format.raw></f:then><f:else><f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_top_text_color}</f:format.raw></f:else></f:if>; /* for text on quarterly color */
			--specials-quarterly-top-effect-color: <f:if condition="{data.tx_rkwtemplate_landingpage_quarterly_top_effect_color}"><f:then><f:format.raw>{data.tx_rkwtemplate_landingpage_quarterly_top_effect_color}</f:format.raw></f:then><f:else><f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_top_effect_color}</f:format.raw></f:else></f:if>; /* for links and buttons on quarterly color*/
			--specials-quarterly-top-effect-text-color: <f:if condition="{data.tx_rkwtemplate_landingpage_quarterly_top_effect_text_color}"><f:then><f:format.raw>{data.tx_rkwtemplate_landingpage_quarterly_top_effect_text_color}</f:format.raw></f:then><f:else><f:format.raw>{data.tx_rkwtemplate_landingpage_secondary_top_effect_text_color}</f:format.raw></f:else></f:if>; /* for text on buttons on quarterly color */
		}
	</style>

	<f:comment><!-- skip links--></f:comment>
	<f:render partial="Basics/SkipLinks" />

    <div class="pagewrap">

        <f:if condition="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutSwitch')} == 'Microsite'">
            <f:if condition="{settings.micrositeShowBar}">
                <f:comment><!-- microsite bar --></f:comment>
                <f:render partial="Basics/Header" section="MicrositeBar" arguments="{_all}"/>
            </f:if>
        </f:if>

		<f:comment><!-- header --></f:comment>
		<header class="header {f:if(condition: '{f:cObject(typoscriptObjectPath:\'lib.txRkwTemplate.navigation.sub\', data:\'{data}\')}', then: 'has-nav')} {f:if(condition: '{settings.shortMainMenu}', then: 'has-nav--short')}">
            <f:render partial="Basics/Accessibility" arguments="{_all}"/>
			<f:render partial="Basics/Header" arguments="{_all}"/>
			<f:render section="Header" />
		</header>

		<f:comment><!-- main section --></f:comment>
        <!--TYPO3SEARCH_begin-->
        <f:render section="Content" />
        <!--TYPO3SEARCH_end-->

        <f:comment><!-- footer --></f:comment>
		<f:render partial="Basics/Footer" section="Default" arguments="{_all}"/>

	</div>

	<f:comment><!-- SVGs --></f:comment>
	<f:render partial="Basics/SVGs" />

	<f:comment><!-- Some AJAX-Requests --></f:comment>
	<f:cObject typoscriptObjectPath="lib.txRkwTemplate.various.loginInfo" data="{data}" />
	<f:cObject typoscriptObjectPath="lib.txRkwTemplate.various.mobileMenu" data="{data}" />

	<f:comment><!-- For Browser-Version-Check --></f:comment>
	<div id="outdated"></div>

</html>
