<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:layout name="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutSwitch')}" />

	<f:section name="content">

		<header class="page-headings page-headings--no-image">
			<f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.headlineExpert" data="{data}" />
		</header>

		<!-- details -->
		<div class="expert-grid">

			<f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.mainExpert" data="{data}" />

			<!-- further boxes -->
			<div class="sections">
				<f:cObject typoscriptObjectPath="lib.txRkwTemplate.expert.work" data="{data}" />
			</div>
		</div>

	</f:section>
</html>
