{namespace vh=Madj2k\Postmaster\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext">

------------------------------------------------------------------------------------------------

RKW Baden-Württemberg GmbH
Schloßstraße 70
70176 Stuttgart

Geschäftsführer: Dr. Clemens Ackermann
Registergericht Stuttgart
HRB 19925
</f:section>



<!-- HTML -->
<f:section name="Html">
	<tr>
		<td style="padding: 48px 16px 0 16px">
			<p style="margin: 0; padding: 9px 0 9px; border-top: 1px solid #000; font-size: 12px; line-height:12px;">
				&nbsp;
			</p>
		</td>
	</tr>

	<tr>
		<td style="padding: 0px 16px 16px 16px" class="footer">
			<p>
				RKW Baden-Württemberg GmbH<br>
				Schloßstraße 70<br>
                70176 Stuttgart<br>
				<a href="https://www.rkw-bw.de">www.rkw-bw.de</a><br><br>
				Geschäftsführer: Dr. Clemens Ackermann<br>
				Registergericht Stuttgart<br>
				HRB 19925
			</p>
		</td>
	</tr>

</f:section>
