{namespace vh=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
    <vh:frontend.translate key="templates_email_confirmationUser.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="RkwFeecalculator" arguments="{0 : frontendUser.name}" />

    <vh:frontend.translate key="templates_email_confirmationUser.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="RkwFeecalculator" />
    <vh:frontend.translate key="templates_email_confirmationUser.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="RkwFeecalculator" />

    <f:render partial="Email/SupportRequest" section="Plaintext" arguments="{supportRequest: supportRequest, supportProgramme: supportProgramme, applicant: applicant, consulting: consulting, misc: misc, frontendUser: frontendUser, language: frontendUser.txRkwregistrationLanguageKey}"/>
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><vh:frontend.translate key="templates_email_confirmationUser.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="RkwFeecalculator" arguments="{0 : frontendUser.name}" /></h1>
	<p>
		<vh:frontend.translate key="templates_email_confirmationUser.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="RkwFeecalculator" /><br>
		<vh:frontend.translate key="templates_email_confirmationUser.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="RkwFeecalculator" />
	</p>
    <f:render partial="Email/SupportRequest" section="Html" arguments="{supportRequest: supportRequest, supportProgramme: supportProgramme, applicant: applicant, consulting: consulting, misc: misc, frontendUser: frontendUser, language: frontendUser.txRkwregistrationLanguageKey}"/>
</f:section>