{namespace vh=Madj2k\Postmaster\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext">

------------------------------------------------------------------------------------------------

Bei Rückfragen kontaktieren Sie bitte entsprechend Ihres Bundeslandes die auf der folgenden Website genannten Ansprechpartnerinnen und Ansprechpartner für das RKW-Gütesiegel Arbeitgeberattraktivität: https://www.rkw.de/guetesiegel/kontakt/

Verantwortlich stellvertretend für alle RKW-Landesorganisationen, die am RKW-Gütesiegel Arbeitgeberattraktivität teilnehmen:
RKW Bremen GmbH
Martinistraße 68
28195 Bremen
Tel.: 0421 / 32 34 64-0
E-Mail: info@rkw-bremen.de

Vertretungsberechtigter Geschäftsführer: Harm Wurthmann
Registergericht: Handelsregister Bremen
Registernummer: HRB 25884
Umsatzsteuer ID-Nr.: DE 2686 18 324

</f:section>



<!-- HTML -->
<f:section name="Html">
	<tr>
		<td style="padding: 48px 16px 0 16px">
			<p style="margin: 0; padding: 9px 0 9px; border-top: 1px solid #000; font-size: 12px; line-height:12px;">
				&nbsp;
			</p>
		</td>
	</tr>

	<tr>
		<td style="padding: 0px 16px 16px 16px" class="footer">
			<p>
                Bei Rückfragen kontaktieren Sie bitte entsprechend Ihres Bundeslandes die auf der folgenden Website genannten Ansprechpartnerinnen und Ansprechpartner für das RKW-Gütesiegel Arbeitgeberattraktivität: <a href="https://www.rkw.de/guetesiegel/kontakt/">https://www.rkw.de/guetesiegel/kontakt/</a>
                <br><br>
                Verantwortlich stellvertretend für alle RKW-Landesorganisationen, die am RKW-Gütesiegel Arbeitgeberattraktivität teilnehmen:<br>
                RKW Bremen GmbH<br>
                Martinistraße 68<br>
                28195 Bremen<br>
                Tel.: 0421 / 32 34 64-0<br>
                E-Mail: <a href="mailto:info@rkw-bremen.de">info@rkw-bremen.de</a>
                <br><br>
                Vertretungsberechtigter Geschäftsführer: Harm Wurthmann<br>
                Registergericht: Handelsregister Bremen<br>
                Registernummer: HRB 25884<br>
                Umsatzsteuer ID-Nr.: DE 2686 18 324<br>
            </p>
		</td>
	</tr>

</f:section>
