<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <!-- content -->
    <rkwBasics:format.removeEmptyParagraphs>
        <f:format.html parseFuncTSPath="">
            {data.tx_gridelements_view_column_50}
        </f:format.html>
    </rkwBasics:format.removeEmptyParagraphs>

    <!-- read more nav -->
    <f:if condition="{data.tx_gridelements_backend_layout} == 'contentContainerOneCol'">
        <f:if condition="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.publication.isParentPage', data:'{data}')}">
            <f:then>
                <f:cObject typoscriptObjectPath="lib.txRkwTemplate.navigation.beginRead" />
            </f:then>
            <f:else>
                <f:comment>
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.navigation.readMore" />
                </f:comment>
            </f:else>
        </f:if>

    </f:if>

    <!-- image resources -->
    <f:if condition="<rkwBasics:isEmpty string='{f:cObject(typoscriptObjectPath: \'lib.txRkwTemplate.pageInfo.imageResources\')}' /> == 0">
        <p class="media-sources {f:if(condition: '<rkwBasics:isEmpty string=\'{data.tx_gridelements_view_column_70}\' /> == 0', then: 'media-sources--space')}" role="contentinfo">
            <strong><f:translate key="{settings.themeLanguageFile}:partials.gridElements.contentContainer.content.imageResources" />: </strong>
            <f:cObject typoscriptObjectPath="lib.txRkwTemplate.pageInfo.imageResources" />
        </p>
    </f:if>


</html>

