<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<f:if condition="({f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageLayout')} == 20)">
		<f:render section="Article" arguments="{_all}"/>
	</f:if>
	<f:if condition="({f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageLayout')} == 30)">
		<f:render  section="Publication" arguments="{_all}"/>
	</f:if>

	<f:comment><!-- ======================================================================== --></f:comment>

	<f:section name="Article">
		<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Article",
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "<f:cObject typoscriptObjectPath='lib.txRkwTemplate.schemaOrg.url' />"
			},
			"author":
			[
				{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageAuthors')}
			],
			"headline": "<rkwBasics:format.addSlashes>{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageTitle')}</rkwBasics:format.addSlashes>",
			"articleBody" : "<rkwBasics:format.addSlashes><f:format.htmlspecialchars><f:format.htmlentitiesDecode><f:format.stripTags ><f:if condition="{data.tx_gridelements_view_column_50}"><f:then>{data.tx_gridelements_view_column_50}</f:then><f:else>{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageAbstract')}</f:else></f:if></f:format.stripTags></f:format.htmlentitiesDecode></f:format.htmlspecialchars></rkwBasics:format.addSlashes>",
			"description" : "<rkwBasics:format.addSlashes><f:format.htmlspecialchars><f:format.htmlentitiesDecode>{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageAbstract')}</f:format.htmlentitiesDecode></f:format.htmlspecialchars></rkwBasics:format.addSlashes>",
			"datePublished": "<f:format.date format="Y-m-d">{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pagePubDate')}</f:format.date>",
			"dateModified": "<f:format.date format="Y-m-d">{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageLastUpdated')}</f:format.date>",
			"image" : "{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageHeader')}",
			"url" : "{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.url')}",
			"copyrightHolder" : {
				"@type" : "Organization",
				"name" : "<f:cObject typoscriptObjectPath='lib.txRkwTemplate.schemaOrg.publisher' />"
			},
			"publisher" : {
				"@type" : "Organization",
				"name" : "<f:cObject typoscriptObjectPath='lib.txRkwTemplate.schemaOrg.publisher' />",
				"logo" : {
					"@type": "ImageObject",
					"url" : "<f:cObject typoscriptObjectPath='lib.txRkwTemplate.schemaOrg.logoUrl' />"
				}
			}
		}
		</script>
	</f:section>

	<f:comment><!-- ======================================================================== --></f:comment>

	<f:section name="Publication">
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Article",
				"mainEntityOfPage": {
					"@type": "WebPage",
					"@id": "<f:cObject typoscriptObjectPath='lib.txRkwTemplate.schemaOrg.url' />"
				},
				"author":
				[
					{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageAuthors')}
				],
				"headline": "<rkwBasics:format.addSlashes><f:if condition="{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.isSubPage')}"><f:then>{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageParentTitle')} - {f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageTitle')}</f:then><f:else>{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageTitle')}</f:else></f:if></rkwBasics:format.addSlashes>",
				"articleBody" : "<rkwBasics:format.addSlashes><f:format.htmlspecialchars><f:format.htmlentitiesDecode><f:format.stripTags ><f:if condition="{data.tx_gridelements_view_column_50}"><f:then>{data.tx_gridelements_view_column_50}</f:then><f:else>{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageAbstract')}</f:else></f:if></f:format.stripTags></f:format.htmlentitiesDecode></f:format.htmlspecialchars></rkwBasics:format.addSlashes>",
				"description" : "<rkwBasics:format.addSlashes><f:format.htmlspecialchars><f:format.htmlentitiesDecode>{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageAbstract')}</f:format.htmlentitiesDecode></f:format.htmlspecialchars></rkwBasics:format.addSlashes>",
				"datePublished": "<f:format.date format="Y-m-d">{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageParentPubDate')}</f:format.date>",
				"dateModified": "<f:format.date format="Y-m-d">{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageLastUpdated')}</f:format.date>",
				"image" : "{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.pageHeader')}",
				"url" : "{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.schemaOrg.url')}",
				"copyrightHolder" : {
					"@type" : "Organization",
					"name" : "<f:cObject typoscriptObjectPath='lib.txRkwTemplate.schemaOrg.publisher' />"
				},
				"publisher" : {
					"@type" : "Organization",
					"name" : "<f:cObject typoscriptObjectPath='lib.txRkwTemplate.schemaOrg.publisher' />",
					"logo" : {
						"@type": "ImageObject",
						"url" : "<f:cObject typoscriptObjectPath='lib.txRkwTemplate.schemaOrg.logoUrl' />"
					}
				}
			}
		</script>
	</f:section>
</html>