{namespace vh=RKW\RkwMailer\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext">

------------------------------------------------------------------------------------------------

RKW Sachsen-Anhalt GmbH
Denkfabrik im Wissenschaftshafen
Werner-Heisenberg-Straße 1
39106 Magdeburg

</f:section>



<!-- HTML -->
<f:section name="Html">
	<tr>
		<td style="padding: 48px 16px 0 16px">
			<p style="margin: 0; padding: 9px 0 9px; border-top: 1px solid #000; font-size: 12px; line-height:12px;">
				&nbsp;
			</p>
		</td>
	</tr>

    <!--
	<tr>
		<td style="padding: 0px 16px 0 16px" class="text">
			<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; font-family: 'Arial', sans-serif; font-size: 14px">
				<tr>
					<td style="width: 33%">
						<a href="###baseUrl###/fachkraeftesicherung"><img src="###baseUrlImages###/fachkrafte.png" alt="Fachkräftesicherung" style="max-width: 100%" /></a>
					</td>
					<td style="width: 33%; text-align: center">
						<a href="###baseUrl###/gruendung"><img src="###baseUrlImages###/grundung.png" alt="Gründung" style="max-width: 100%" /></a>
					</td>
					<td style="width: 33%; text-align: right">
						<a href="###baseUrl###/innovation"><img src="###baseUrlImages###/innovation.png" alt="Innovation" style="max-width: 100%" /></a>
					</td>
				</tr>
			</table>
		</td>
	</tr> -->

	<tr>
		<td style="padding: 0px 16px 16px 16px" class="footer">
			<p>
                RKW Sachsen-Anhalt GmbH<br>
                Denkfabrik im Wissenschaftshafen<br>
                Werner-Heisenberg-Straße 1<br>
                39106 Magdeburg<br>
				<a href="https://www.rkw-sachsenanhalt.de">www.rkw-sachsenanhalt.de</a>
			</p>
		</td>
	</tr>

</f:section>