{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
{namespace rkwNewsletter=RKW\RkwNewsletter\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext"><rkwMailer:plaintextLineBreaks>

<rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:frontend.translate key='partials_newsletter_body.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwNewsletter' /> " appendText="," />
\n\n
<f:if condition="{issue.newsletter.introduction}">
    <f:then>
{issue.newsletter.introduction}
    </f:then>
    <f:else>
<rkwMailer:frontend.translate key="partials_newsletter_body.introduction" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />
    </f:else>
</f:if>
\n\n
<f:render partial="Items" section="Plaintext" arguments="{pages: pages, issue: issue, queueMail: queueMail, queueRecipient: queueRecipient, maxItemsPerTopic: maxItemsPerTopic, pageTypeMore: pageTypeMore, pagesOrder: pagesOrder, includeEditorials: includeEditorials}" />
<f:render partial="Items" section="Plaintext" arguments="{pages: specialPages, issue: issue, queueMail: queueMail, queueRecipient: queueRecipient, maxItemsPerTopic: maxItemsPerTopic, pageTypeMore: pageTypeMore, includeEditorials: '0'}" />
</rkwMailer:plaintextLineBreaks></f:section>



<!-- HTML -->
<f:section name="Html">

    <!-- Headline -->
    <tr>
        <td style="padding: 0 16px">
            <p style="margin: 24px 0 12px; font-size:24px; line-height: 28px">
                <rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:frontend.translate key='partials_newsletter_body.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwNewsletter' /> " appendText="," />
            </p>
            <p style="margin: 24px 0 0; line-height: 20px">
                <f:if condition="{issue.newsletter.introduction}">
                    <f:then>
                        {issue.newsletter.introduction}
                    </f:then>
                    <f:else>
                        <rkwMailer:frontend.translate key="partials_newsletter_body.introduction" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />
                    </f:else>
                </f:if>
            </p>
        </td>
    </tr>

    <!-- Top-News -->
    <f:if condition="{webView}">
        <f:else>
            <f:render partial="TopNews" section="Html" arguments="{_all}" />
        </f:else>
    </f:if>

    <!-- Special Contents -->
    <f:render partial="Items" section="Html" arguments="{pages: specialPages, issue: issue, queueMail: queueMail, queueRecipient: queueRecipient, maxItemsPerTopic: maxItemsPerTopic, pageTypeMore: pageTypeMore, webView: webView, includeEditorials: includeEditorials}" />

    <!-- Normal Contents -->
    <f:render partial="Items" section="Html" arguments="{pages: pages, issue: issue, queueMail: queueMail, queueRecipient: queueRecipient, maxItemsPerTopic: maxItemsPerTopic, pageTypeMore: pageTypeMore, pagesOrder: pagesOrder, webView: webView, includeEditorials: includeEditorials}" />

</f:section>