{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
{namespace rkwNewsletter=RKW\RkwNewsletter\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext">

----------------------------------------------------------------------------------------------------------------------------------
<f:if condition="{hash}">
<rkwMailer:frontend.translate key="partials_newsletter_footer.subscriptionText" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />
<rkwMailer:frontend.translate key="partials_newsletter_footer.subscriptionLink" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />: <rkwMailer:frontend.link action="edit" controller="Subscription" extensionName="rkwNewsletter" pluginName="Subscription" pageUid="{subscriptionPid}" absolute="true" queueMail="{queueMail}" arguments="{hash: hash}" noCacheHash="true" />

</f:if>
RKW Rationalisierungs- und Innovationszentrum der Deutschen Wirtschaft e.V.
Kompetenzzentrum
Düsseldorfer Strasse 40 A
65760 Eschborn
Tel: 06196 495-0
www.rkw-kompetenzzentrum.de
</f:section>



<!-- HTML -->
<f:section name="Html">

	<tr>
		<td style="padding: 32px 16px 0 16px">
			<p style="margin: 0; padding: 9px 0 9px; border-top: 1px solid #333; font-size: 12px; line-height:12px;">
				&nbsp;
			</p>
		</td>
	</tr>

	<f:if condition="{hash}">
		<tr>
			<td style="padding: 0 16px 32px 16px">
				<p style="font-family: 'Arial', sans-serif; font-size: 14px; line-height: 20px; font-weight:700">
					<rkwMailer:frontend.translate key="partials_newsletter_footer.subscriptionText" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />
					<a style="color:#E64415;" href="<rkwMailer:frontend.link action='edit' controller='Subscription' extensionName='rkwNewsletter' pluginName='Subscription' pageUid='{subscriptionPid}' absolute='true' queueMail='{queueMail}' arguments='{hash: hash}' noCacheHash='true' />" target="_blank"><rkwMailer:frontend.translate key="partials_newsletter_footer.subscriptionLink" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" /></a>
				</p>
			</td>
		</tr>
	</f:if>

	<tr>
		<td style="padding: 0 16px 16px 16px" class="footer">
			<p>
				RKW Rationalisierungs- und Innovationszentrum der Deutschen Wirtschaft e.V.<br>
				Kompetenzzentrum<br>
				Düsseldorfer Strasse 40 A<br>
				65760 Eschborn<br>
				Tel: 06196 495-0<br>
				<a href="https://www.rkw-kompetenzzentrum.de" target="_blank">www.rkw-kompetenzzentrum.de</a>
			</p>
		</td>
	</tr>


</f:section>