{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}
{namespace rkwNewsletter=RKW\RkwNewsletter\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext">
    <f:if condition="{pages}">
        <f:for each="{pages}" as="page">
            <f:if condition="<rkwMailer:cache.hasRenderCache queueMail='{queueMail}' isPlaintext='true' additionalIdentifier='{page.uid}-{webView}-{includeEditorials}' />">
                <f:then>
                    <rkwMailer:cache.getRenderCache queueMail="{queueMail}" isPlaintext="true" additionalIdentifier="{page.uid}-{webView}-{includeEditorials}" marker="{pagesOrder : pagesOrder}"/>
                </f:then>

                <f:else>
                    <rkwMailer:cache.setRenderCache queueMail="{queueMail}" isPlaintext="true" additionalIdentifier="{page.uid}-{webView}-{includeEditorials}" marker="{pagesOrder : pagesOrder}">
                        <rkwMailer:frontend.replace.redirectLinks queueMail="{queueMail}" isPlaintext="true">
                            <f:for each="<rkwNewsletter:getNewsletterContents issue='{issue}' page='{page}' includeEditorials='{includeEditorials}' />" as="content" iteration="itemIterator">
                                <f:if condition="{itemIterator.cycle} < {maxItemsPerTopic}">
                                    <f:then>
                                        <f:render partial="Items/Default" section="Plaintext" arguments="{_all}" />\n\n
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{itemIterator.isLast}">
                                            <f:render partial="Items/More" section="Plaintext" arguments="{_all}" />\n\n
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </f:for>
                        </rkwMailer:frontend.replace.redirectLinks>
                    </rkwMailer:cache.setRenderCache>
                </f:else>
            </f:if>
        </f:for>
    </f:if>
</f:section>


<!-- HTML -->
<f:section name="Html">
    <f:if condition="{pages}">

        <f:for each="{pages}" as="page" iteration="pageIterator">

            <f:if condition="<rkwMailer:cache.hasRenderCache queueMail='{queueMail}' additionalIdentifier='{page.uid}-{webView}-{includeEditorials}' />">
                <f:then>
                    <rkwMailer:cache.getRenderCache queueMail="{queueMail}" additionalIdentifier="{page.uid}-{webView}-{includeEditorials}" marker="{pagesOrder : pagesOrder}"/>
                </f:then>
                <f:else>
                    <rkwMailer:cache.setRenderCache queueMail="{queueMail}" additionalIdentifier="{page.uid}-{webView}-{includeEditorials}" marker="{pagesOrder : pagesOrder}">
                        <rkwMailer:frontend.replace.redirectLinks queueMail="{queueMail}">

                            <f:for each="<rkwNewsletter:getNewsletterContents issue='{issue}' page='{page}' includeEditorials='{includeEditorials}' />" as="content" iteration="itemIterator">

                                <f:if condition="{content.txRkwnewsletterIsEditorial}">
                                    <f:then>

                                        <!-- editorial -->
                                        <f:render partial="Items/Editorial" section="Html" arguments="{_all}" />

                                    </f:then>

                                    <f:else>

                                        <f:if condition="{itemIterator.cycle} < {maxItemsPerTopic}">
                                            <f:then>
                                                <!-- normal -->
                                                <f:render partial="Items/Default" section="Html" arguments="{_all}" />

                                            </f:then>
                                            <f:else>
                                                <f:if condition="{itemIterator.isLast}">

                                                    <!-- more link -->
                                                    <tr>
                                                        <td style="padding: 16px 16px 0">
                                                            <f:render partial="Items/More" section="Html" arguments="{_all}" />
                                                        </td>
                                                    </tr>
                                                </f:if>
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                            </f:for>
                        </rkwMailer:frontend.replace.redirectLinks>
                    </rkwMailer:cache.setRenderCache>
                </f:else>
            </f:if>

        </f:for>
    </f:if>

</f:section>