<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:rkwTemplate="http://typo3.org/ns/RKW/RkwTemplate/ViewHelpers"
      data-namespace-typo3-fluid="true">
<figure class="video">
    <div class="video-embed media-with-source">
        <f:render partial="Media/Rendering/Video" arguments="{file: file, dimensions: dimensions, settings: settings}" />
        <rkwTemplate:copyright file="{file}"  showMediaSourceOverlay="{settings.showMediaSourceOverlay}" />
    </div>
    <f:if condition="{file.description}">
        <figcaption class="video-caption">
            {file.description -> f:format.nl2br()}
        </figcaption>
    </f:if>
</figure>
</html>
