
<div class="mobile-version-info">
	<p>
		Entschuldigung, aber diese Seite ist leider nur für Tablet und Desktop opimiert.
	</p>
</div>

<div class="old-browser">
	<p>
		Ihr Browser ist leider veraltet. Bitte verwenden Sie
		<a href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a>,
		<a href="https://www.mozilla.org/firefox/">Firefox</a>,
		<a href="http://www.opera.com/">Opera</a> oder den
		<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer ab Version 11</a>.
	</p>
</div>