<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<div class="mobile-version-info">
		<p>
			Entschuldigung, aber diese Seite ist leider nur für Tablet und Desktop optimiert.
		</p>
	</div>

	<div class="old-browser">
		<p>
			Ihr Browser ist leider veraltet. Bitte verwenden Sie
			<a href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a>,
			<a href="https://www.mozilla.org/firefox/">Firefox</a>,
			<a href="http://www.opera.com/">Opera</a> oder den
			<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer ab Version 11</a>.
		</p>
	</div>
</html>