
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <!-- title & subtitle -->
    <div class="siteheader__title siteheader__title--detail-site">
        <h1 class="h1">
            <f:format.raw><f:format.crop maxCharacters="100" respectWordBoundaries="false">{data.title}</f:format.crop></f:format.raw>
        </h1>
        <f:if condition="{data.subtitle}">
            <h2 class="siteheader__subtitle">Zusatzqualifikation für Auszubildende</h2>
        </f:if>
    </div>

    <!-- image or video -->
    <f:if condition="<rkwBasics:isEmpty string='{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.keyvisual.article', data:'{data}')}' /> == 0">
        <div class="siteheader__image">
            <f:cObject typoscriptObjectPath="lib.txRkwTemplate.keyvisual.article" data="{data}" />
        </div>
    </f:if>

</html>



