{namespace rkw=RKW\RkwSurvey\ViewHelpers}
<div class="careercheck-footer careercheck-footer--pagination">

	<!-- to satisfy the foreseen html structure -->
	<div>&nbsp;</div>

	<!-- pager - only shown is there is more than one page -->
	<f:if condition="<f:count>{surveyResult.survey.question}</f:count> > 1">
		<div class="pagination">
			<span>
                <f:translate key='partials_survey_footer.progress' extensionName='RkwSurvey' />:
                <rkw:calcPercentage percentage='<rkw:pageCount questionResultList="{surveyResult.questionResult}" start="0" />' total='<f:count>{surveyResult.survey.question}</f:count>' />
                <f:comment>
                    <!-- old "Frage 1/4" pagination -->
                    <f:translate key='partials_survey_footer.question' extensionName='RkwSurvey' />
                    <span class="active"><rkw:pageCount questionResultList='{surveyResult.questionResult}' /></span>
                    /
                    <span class="pages"><f:count>{surveyResult.survey.question}</f:count></span>
                </f:comment>
			</span>
		</div>
	</f:if>

	<!-- button -->
	<f:if condition="<f:count>{surveyResult.survey.question}</f:count> == <rkw:pageCount questionResultList='{surveyResult.questionResult}' />">
		<f:then>
			<f:form.submit class="button button--submit" value="<f:translate key='partials_survey_footer.finish' extensionName='RkwSurvey' />" />
		</f:then>
		<f:else>
			<f:form.submit class="button button--submit" value="<f:translate key='partials_survey_footer.next' extensionName='RkwSurvey' />" />
		</f:else>
	</f:if>

</div>