{namespace rkw=RKW\RkwEvents\ViewHelpers}
<f:layout name="BackendModule" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">


	<h1><f:translate key="tx_rkwevents_fluid.templates_backend_show.headline" /></h1>
	<f:form action="create" name="data">

		<label>
			<span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_csv" /></span>
			<f:form.textarea property="csv" value="{content}" />
		</label>

		<label>
			<span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_typeId" /></span>
			<f:form.select property="typeId" options="{documentTypes}" optionValueField="uid" optionLabelField="name" prependOptionValue="" prependOptionLabel="---" />
		</label>

		<label>
			<span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_topicId" /></span>
			<f:form.select property="topicId" options="{departments}" optionValueField="uid" optionLabelField="name" prependOptionValue="" prependOptionLabel="---" />
		</label>

		<label>
			<span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_organizerId" /></span>
			<f:form.select property="organizerId" options="{organizers}" optionValueField="uid" optionLabelField="company" prependOptionValue="" prependOptionLabel="---" />
		</label>

		<label>
			<span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_timeZone" /></span>
			<f:form.textfield property="timeZone" value="GMT+1" />
		</label>

        <label>
            <span><f:translate key="tx_rkwevents_fluid.templates_backend_show.label_targetPid" /></span>
            <f:form.textfield property="targetPid" value="1" />
        </label>

		<label>
			<span>
				<f:form.checkbox property="activate"  value="1" />
				<f:translate key="tx_rkwevents_fluid.templates_backend_show.label_activate" />
			</span>
		</label>

		<label>
			<span>
				<f:form.checkbox property="doImport"  value="1" />
				<f:translate key="tx_rkwevents_fluid.templates_backend_show.label_doImport" />
			</span>
		</label>

		<f:form.button type="submit">
			<f:translate key="tx_rkwevents_fluid.templates_backend_show.label_submit" />
		</f:form.button>
	</f:form>

</f:section>