{namespace vh=Madj2k\Postmaster\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext">

------------------------------------------------------------------------------------------------

RKW Thüringen GmbH
Konrad-Zuse-Str. 15
99099 Erfurt
Telefon: +49 (0361) 551 43 20
E-Mail: info@rkw-thueringen.de
Web: https://www.rkw-thueringen.de
USt-IdNr. DE205008784
Beiratsvorsitzender: Dr.-Ing. Ulrich Palzer
Geschäftsführer: Stephan Heym
Register (GmbH-Eintrag): Amtsgericht Jena HRB 111049
</f:section>



<!-- HTML -->
<f:section name="Html">
	<tr>
		<td style="padding: 48px 16px 0 16px">
			<p style="margin: 0; padding: 9px 0 9px; border-top: 1px solid #000; font-size: 12px; line-height:12px;">
				&nbsp;
			</p>
		</td>
	</tr>

	<tr>
		<td style="padding: 0px 16px 16px 16px" class="footer">
			<p>
                RKW Thüringen GmbH<br>
                Konrad-Zuse-Str. 15<br>
                99099 Erfurt<br>
                Telefon: +49 (0361) 551 43 20<br>
                E-Mail: <a href="mailto:info@rkw-thueringen.de">info@rkw-thueringen.de</a><br>
                Web: <a href="https://www.rkw-thueringen.de">www.rkw-thueringen.de</a><br>
                USt-IdNr. DE205008784<br>
                Beiratsvorsitzender: Dr.-Ing. Ulrich Palzer<br>
                Geschäftsführer: Stephan Heym<br>
                Register (GmbH-Eintrag): Amtsgericht Jena HRB 111049
			</p>
		</td>
	</tr>

</f:section>
