<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<h2><f:translate key="templates_registration_deleteUserShow.headline" /></h2>

    <f:render partial="FlashMessages" arguments="{_all}" />
	<f:render partial="FormErrors" arguments="{for:frontendUser}"/>

	<f:form action="deleteUser" name="frontendUser" object="{frontendUser}" class="form-fields">

		<p><f:translate key="templates_registration_deleteUserShow.reallyDelete" /></p>

		<p>
			<f:link.action pageUid="{welcomePid}" action="welcome" class="button">
				<span><f:translate key="templates_registration_deleteUserShow.labelBack"/></span>
			</f:link.action>

			<button type="submit" class="button secondary">
				<span><f:translate key="templates_registration_deleteUserShow.labelDelete" /></span>
			</button>
		</p>

	</f:form>

</f:section>