<f:comment>
    <f:flashMessages />
</f:comment>

<f:render partial="FormErrors" arguments="{object:SupportRequest}" />

<f:form class="form-fields" action="create" name="supportRequest" object="{supportRequest}"  enctype="multipart/form-data">

    <f:form.hidden property="supportProgramme" value="{supportProgramme}" />

    <h3>
        <f:translate key="tx_rkwfeecalculator_partials_supportrequest_requestForm.headline" arguments="{0 : supportProgramme.name}" />
    </h3>

    <f:render partial="SupportRequest/Components/01-Applicant" arguments="{_all}" />

    <f:render partial="SupportRequest/Components/02-Consulting" arguments="{_all}" />

    <f:render partial="SupportRequest/Components/04-Misc" arguments="{_all}" />

    <f:form.button class="button">
        <f:translate key="tx_rkwfeecalculator_partials_supportrequest_requestForm.send" />
    </f:form.button>

    <!-- Override typeNum for AJAX -->
    <input type="hidden" name="type" value="{settingsArray.ajaxTypeNum}">
</f:form>
