{namespace vh=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
<vh:frontend.translate key="templates_email_passwordReset.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />

<vh:frontend.translate key="templates_email_passwordReset.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" arguments="{0 : plaintextPasswordForMail}"/>

<vh:frontend.translate key="templates_email_passwordReset.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />

<vh:frontend.translate key="templates_email_passwordReset.loginLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />:
<vh:frontend.link pageUid="{loginPid}" absolute="true" noCacheHash="true"/>
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><vh:frontend.translate key="templates_email_passwordReset.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" /></h1>

	<p><vh:frontend.translate key="templates_email_passwordReset.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" arguments="{0 : ''}"/><strong>{plaintextPasswordForMail}</strong></p>
	<p><vh:frontend.translate key="templates_email_passwordReset.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" /></p>
	<p><a href="<vh:frontend.link pageUid='{loginPid}' absolute='true' noCacheHash='true'/>"><vh:frontend.translate key="templates_email_passwordReset.loginLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" /></a></p>
</f:section>