{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:frontend.translate key='templates_email_registerOptInRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwRegistration' />, " fallbackText="<rkwMailer:frontend.translate key='templates_email_registerOptInRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwRegistration' />!" appendText="!"/>
	
<rkwMailer:frontend.translate key="templates_email_registerOptInRequest.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />

<rkwMailer:frontend.translate key="templates_email_registerOptInRequest.textOptIn" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />
<rkwMailer:frontend.link action="optIn" controller="Registration" extensionName="rkwRegistration" pluginName="rkwRegistration" absolute="TRUE" noCacheHash="TRUE" pageUid="{registrationPid}" additionalParams="{tx_rkwregistration_rkwregistration: {token_yes: tokenYes, user: userSha1}}"/>

<rkwMailer:frontend.translate key="templates_email_registerOptInRequest.textOptOut" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />
<rkwMailer:frontend.link action="optIn" controller="Registration" extensionName="rkwRegistration" pluginName="rkwRegistration" absolute="TRUE" noCacheHash="TRUE" pageUid="{registrationPid}" additionalParams="{tx_rkwregistration_rkwregistration: {token_no: tokenNo, user: userSha1}}" />
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:frontend.translate key='templates_email_registerOptInRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwRegistration' />, " fallbackText="<rkwMailer:frontend.translate key='templates_email_registerOptInRequest.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwRegistration' />!" appendText="!"/></h1>
	<p><rkwMailer:frontend.translate key="templates_email_registerOptInRequest.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" /></p>
	<p>
		<rkwMailer:frontend.translate key="templates_email_registerOptInRequest.textOptIn" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/><br>
		<a href="<rkwMailer:frontend.link action='optIn' controller='Registration' extensionName='rkwRegistration' pluginName='rkwRegistration' absolute='TRUE' noCacheHash='TRUE' pageUid='{registrationPid}' additionalParams='{tx_rkwregistration_rkwregistration: {token_yes: tokenYes, user: userSha1}}' />"><rkwMailer:frontend.translate key="templates_email_registerOptInRequest.textOptInLinkLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/></a>
	</p>
	<p>
		<rkwMailer:frontend.translate key="templates_email_registerOptInRequest.textOptOut" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" /><br>
		<a href="<rkwMailer:frontend.link action='optIn' controller='Registration' extensionName='rkwRegistration' pluginName='rkwRegistration' absolute='TRUE' noCacheHash='TRUE' pageUid='{registrationPid}' additionalParams='{tx_rkwregistration_rkwregistration: {token_no: tokenNo, user: userSha1}}'  />"><rkwMailer:frontend.translate key="templates_email_registerOptInRequest.textOptOutLinkLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration"/></a>
	</p>
</f:section>