{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
<rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:frontend.translate key='templates_email_serviceOptInDenial.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwRegistration' /> " fallbackText="<rkwMailer:frontend.translate key='templates_email_serviceOptInDenial.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwRegistration' />," appendText=","/>

<rkwMailer:frontend.translate key="templates_email_serviceOptInDenial.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />

<f:for each="{service.usergroup}" as="usergroup">
	{usergroup.title}
</f:for>

<rkwMailer:frontend.translate key="templates_email_serviceOptInDenial.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" />
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><rkwMailer:recipientSalutation queueRecipient="{queueRecipient}" prependText="<rkwMailer:frontend.translate key='templates_email_serviceOptInDenial.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwRegistration' /> " fallbackText="<rkwMailer:frontend.translate key='templates_email_serviceOptInDenial.headline' languageKey='{queueRecipient.languageCode}' extensionName='rkwRegistration' />," appendText=","/></h1>
	<p><rkwMailer:frontend.translate key="templates_email_serviceOptInDenial.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" /></p>
	<ul>
		<f:for each="{service.usergroup}" as="usergroup">
			<li>{usergroup.title}</li>
		</f:for>
	</ul>
	<p><rkwMailer:frontend.translate key="templates_email_serviceOptInDenial.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwRegistration" /></p>
</f:section>		