
<f:layout name="Ajax" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:render partial="FlashMessages" arguments="{_all}" />

	<f:cObject typoscriptObjectPath="lib.txRkwRegistrationAjaxCoa" />

	<f:if condition="{frontendUser}">
		<f:if condition="{frontendUser.lastName}">
			<script>
				jQuery('#tx-rkwregistration-username').html('<f:format.crop maxCharacters="15" respectWordBoundaries="FALSE">{frontendUser.lastName}</f:format.crop>');
			</script>
		</f:if>
	</f:if>

</f:section>