
<f:if condition="{settings.noFilters}">
    <f:else>
        <f:form noCacheHash="true" action="filter" controller="Ajax" extensionName="RkwEvents" pluginName="Pi1" class="ajax" name="filter" >
            <div class="filter search-filter">

                <f:if condition="{departmentList}">

                    <p>
                        <label for="department-select" class="hide" role="presentation"><f:translate key="tx_rkwevents_fluid.partials_event_filter.labelTopics" /></label>
                        <f:form.select id="department-select" name="filter[department]" options="{departmentList}" optionValueField="uid" optionLabelField="name" prependOptionLabel="<f:translate key='tx_rkwevents_fluid.partials_event_filter.labelTopicsAll' />" prependOptionValue="0" class="secondary ajax" />
                    </p>
                    <!--
                    <div class="break-after">
                        <fieldset>
                            <legend class="hide"><f:translate key="tx_rkwevents_fluid.partials_event_filter.labelTopics" extensionName="rkwEvents" /></legend>
                            <ul>
                                <li class="description"><f:translate key="tx_rkwevents_fluid.partials_event_filter.labelTopics" extensionName="rkwEvents" />:</li>
                                <li>
                                    <f:form.radio name="filter[department]" id="all-topics" value="0" checked="checked" />
                                    <label for="all-topics"><f:translate key="tx_rkwevents_fluid.partials_event_filter.labelAll" extensionName="rkwEvents" /></label>
                                </li>

                                <f:for each="{departmentList}" as="department">
                                    <li>
                                        <f:form.radio name="filter[department]" id="{department.name}" value="{department.uid}"  />
                                        <label class="{department.cssClass}" for="{department.name}">{department.name}</label>
                                    </li>
                                </f:for>
                            </ul>
                        </fieldset>
                    </div>
                    -->
                </f:if>


                <f:if condition="{documentTypeList}">
                    <p>
                        <label for="document-type-select" class="hide" role="presentation"><f:translate key="tx_rkwevents_fluid.partials_event_filter.labelDocumentType" /></label>
                        <f:form.select id="document-type-select" name="filter[documentType]" options="{documentTypeList}" optionValueField="uid" optionLabelField="name" prependOptionLabel="<f:translate key='tx_rkwevents_fluid.partials_event_filter.labelDocumentTypeAll' />" prependOptionValue="0" class="secondary ajax" />
                    </p>
                </f:if>

                <!--
                <f:if condition="{categoryList}">
                    <p>
                        <label for="category-select" class="hide" role="presentation"><f:translate key="tx_rkwevents_fluid.partials_event_filter.labelCategory" /></label>
                        <f:form.select id="category-select" name="filter[category]" options="{categoryList}" optionValueField="uid" optionLabelField="title" prependOptionLabel="<f:translate key='tx_rkwevents_fluid.partials_event_filter.labelCategoryAll' />" prependOptionValue="0" class="secondary ajax" />
                    </p>
                </f:if>
                -->

                <!--
                <p>
                    <label class="button-checked" for="availablePlaces">
                        <span>
                            <f:form.checkbox property="availablePlaces" id="availablePlaces" value="1" />
                        </span>
                        <f:translate key="tx_rkwevents_fluid.free_places" />
                    </label>
                </p>
         -->
                <f:comment>
                    <div>
                        <f:form.textfield name="filter[address]" type="search" placeholder="<f:translate key='tx_rkwevents_fluid.partials_event_filter.placeholderZipSearch' extensionName='rkwEvents' />" />
                        <button type="submit" class="button">
                            <span>
                                <f:translate key="tx_rkwevents_fluid.partials_event_filter.labelSearch" extensionName="rkwEvents" />
                            </span>
                        </button>
                    </div>
                </f:comment>
            </div>

            <!-- Override typeNum for AJAX -->
            <input type="hidden" name="type" value="{ajaxTypeNum}">

            <!-- Project filter from Plugin -->
            <f:form.hidden name="filter[project]" value="{filter.project}" />
            <f:form.hidden name="filter[noGrouping]" value="{filter.noGrouping}" />

        </f:form>
    </f:else>
</f:if>