{namespace rkwNewsletter=RKW\RkwNewsletter\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<h1>
		<f:translate key="templates_backend_release_list" arguments="{name: backendUserName}"/>
	</h1>
    <p class="tx-rkwnewsletter-description">
        <f:translate key="templates_backend_release_list.description" />
    </p>

    <f:render partial="FlashMessages" arguments="{_all}" />

    <h2>
        <f:translate key="templates_backend_release_list.approvalsStage1" />
    </h2>
    <f:render partial="Release/Issues" arguments="{backendUserId: backendUserId, issues : issuesOpenApprovalStage1List, stage : 1}" />

    <h2>
        <f:translate key="templates_backend_release_list.approvalsStage2" />
    </h2>
    <f:render partial="Release/Issues" arguments="{backendUserId: backendUserId, issues : issuesOpenApprovalStage2List, stage : 2}" />


</f:section>

