<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    xmlns:rkw="http://typo3.org/ns/RKW/RkwEvents/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:if condition="<rkwBasics:isEmpty string='{data.tx_gridelements_view_column_60}' /> == 0">
        <aside>
            <f:for each="{data.tx_gridelements_view_children}" as="item">
                <f:if condition="{item.tx_gridelements_columns} == 60">
                    <f:format.raw>{data.tx_gridelements_view_child_{item.uid}}</f:format.raw>
                </f:if>
            </f:for>
        </aside>
    </f:if>

    <f:if condition="<rkwBasics:isEmpty string='{data.tx_gridelements_view_column_50}' /> == 0">
        <div id="c{data.uid}" class="contentbox content-padding-layoutmax {f:if(condition: '{data.tx_gridelements_view_children.0.CType} == \'rkwtemplate_textimagebackground\'', then: 'has-bg', else: '')}">
            <div class="flex-container">
                <div class="{f:if(condition: '{rkwBasics:isEmpty(string: data.tx_gridelements_view_column_60)} == 0', then: 'flex-basis-7', else: 'flex-basis-12')}">
                    <f:format.raw>{data.tx_gridelements_view_column_50}</f:format.raw>
                </div>
            </div>
        </div>
    </f:if>

</html>
