<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:comment><!-- aside --></f:comment>
    <f:if condition="<rkwBasics:isEmpty string='{data.tx_gridelements_view_column_60}' /> == 0">
        <aside>
            <f:render partial="StructureContainer/Aside" section="Landingpage" arguments="{_all}"/>
        </aside>
    </f:if>

    <f:comment><!-- content --></f:comment>
    <f:if condition="<rkwBasics:isEmpty string='{data.tx_gridelements_view_column_50}' /> == 0">
        <div id="c{data.uid}" class="contentbox content-padding-layoutmax {f:if(condition: '{data.header_position} == 1', then: 'primary-mod')}{f:if(condition: '{data.header_position} == 2', then: 'secondary-mod')}{f:if(condition: '{data.header_position} == 3', then: 'tertiary-mod')}{f:if(condition: '{data.header_position} == 4', then: 'quarterly-mod')} text-mod">
            <f:render partial="StructureContainer/Content" section="Landingpage" arguments="{_all}"/>
        </div>
    </f:if>

</html>
