<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:coreExtended="http://typo3.org/ns/Madj2k/CoreExtended/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="content-box content">
        <div class="wysiwyg">
            <coreExtended:format.removeEmptyParagraphs>
                <f:format.html parseFuncTSPath="">
                    {data.tx_gridelements_view_column_50}
                </f:format.html>
            </coreExtended:format.removeEmptyParagraphs>
        </div>
    </div>
</html>
