{namespace rkwAuthors=RKW\RkwAuthors\ViewHelpers}
<f:if condition="{settingsArray.showFilter}">

	<!--
	Beim Form-Feld "pluginName" könnte man noch mit der Variable {currentPluginName} arbeiten. Beim Feld
	"additionalParams" funktioniert hingegen kein "tx_rkwrelated_{currentPluginName}", weswegen daher nun
	mit Conditions für das jeweilige Plugin gearbeitet wird.
	-->

	<!-- Morecontent -->
	<f:if condition="{currentPluginName} == 'Morecontent'">
		<f:form id="search-form" noCacheHash="true" action="list" controller="More" extensionName="RkwRelated" pluginName="Morecontent" class="ajax" additionalParams="{tx_rkwrelated_morecontent: '{ttContentUid: ttContentUid}'}" additionalAttributes="{data-page-type: '{pageTypeAjax}'}" >
			<div class="filter search-filter">
				<f:if condition="{settingsArray.showDepartment}">
					<f:render partial="More/List/Filters/Department" arguments="{_all}" />
				</f:if>
				<f:if condition="{settingsArray.showDocumentType}">
					<f:render partial="More/List/Filters/DocumentType" arguments="{_all}" />
				</f:if>
				<f:if condition="{settingsArray.showProject}">
					<f:render partial="More/List/Filters/Project" arguments="{_all}" />
				</f:if>
                <f:if condition="{settingsArray.showYear}">
                    <f:render partial="More/List/Filters/Year" arguments="{_all}" />
                </f:if>
			</div>
			<!-- Override typeNum for AJAX -->
			<input type="hidden" name="type" value="{pageTypeAjax}">
		</f:form>
	</f:if>

	<!-- Morecontent2 -->
	<f:if condition="{currentPluginName} == 'Morecontent2'">
		<f:form id="search-form" noCacheHash="true" action="list" controller="More" extensionName="RkwRelated" pluginName="Morecontent2" class="ajax" additionalParams="{tx_rkwrelated_morecontent2: '{ttContentUid: ttContentUid}'}" additionalAttributes="{data-page-type: '{pageTypeAjax}'}" >
			<div class="filter search-filter">
				<f:if condition="{settingsArray.showDepartment}">
					<f:render partial="More/List/Filters/Department" arguments="{_all}" />
				</f:if>
				<f:if condition="{settingsArray.showDocumentType}">
					<f:render partial="More/List/Filters/DocumentType" arguments="{_all}" />
				</f:if>
				<f:if condition="{settingsArray.showProject}">
					<f:render partial="More/List/Filters/Project" arguments="{_all}" />
				</f:if>
                <f:if condition="{settingsArray.showYear}">
                    <f:render partial="More/List/Filters/Year" arguments="{_all}" />
                </f:if>
			</div>
			<!-- Override typeNum for AJAX -->
			<input type="hidden" name="type" value="{pageTypeAjax}">
		</f:form>
	</f:if>

	<!-- Morecontentpublication -->
	<f:if condition="{currentPluginName} == 'Morecontentpublication'">
		<f:form id="search-form" noCacheHash="true" action="list" controller="More" extensionName="RkwRelated" pluginName="Morecontentpublication" class="ajax" additionalParams="{tx_rkwrelated_morecontentpublication: '{ttContentUid: ttContentUid}'}" additionalAttributes="{data-page-type: '{pageTypeAjax}'}" >
			<div class="filter search-filter">
				<f:if condition="{settingsArray.showDepartment}">
					<f:render partial="More/List/Filters/Department" arguments="{_all}" />
				</f:if>
				<f:if condition="{settingsArray.showDocumentType}">
					<f:render partial="More/List/Filters/DocumentType" arguments="{_all}" />
				</f:if>
				<f:if condition="{settingsArray.showProject}">
					<f:render partial="More/List/Filters/Project" arguments="{_all}" />
				</f:if>
                <f:if condition="{settingsArray.showYear}">
                    <f:render partial="More/List/Filters/Year" arguments="{_all}" />
                </f:if>
			</div>
			<!-- Override typeNum for AJAX -->
			<input type="hidden" name="type" value="{pageTypeAjax}">
		</f:form>
	</f:if>


</f:if>