<div class="no-search-results first-letter-normal content content-box wysiwyg">
	<div id="c2180" class="csc-default csc-element-n1">
		<h3>
			<strong>
				<f:translate key="partials_more_list_noresults.text1" extensionName="RkwRelated" />
			</strong>
		</h3>
        <f:if condition="{settingsArray.showFilter}">
            <p>
                <f:translate key="partials_more_list_noresults.text2" extensionName="RkwRelated" />
                <br>
                <f:translate key="partials_more_list_noresults.text3" extensionName="RkwRelated" />
            </p>
        </f:if>
		<p>
			<f:translate key="partials_more_list_noresults.text4" extensionName="RkwRelated" />
			<br>
			<f:translate key="partials_more_list_noresults.text5" extensionName="RkwRelated" />
		</p>
        <f:comment>
            <p>
                <f:translate key="partials_more_list_noresults.phone" extensionName="RkwRelated" /> 06196 495-0
                <br>
                <f:translate key="partials_more_list_noresults.email" extensionName="RkwRelated" />
                <a href="javascript:linkTo_UnCryptMailto('pdlowr-nrppxqlndwlrqCunz1gh');" title="<f:translate key='partials_more_list_noresults.email.title' extensionName='RkwRelated' />">kommunikation(at)rkw.de</a>
            </p>
        </f:comment>
	</div>
</div>