{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{data.rowDescription}">
        <p>{data.rowDescription}</p>
    </f:if>

    <f:if condition="{data.bodytext}">
        <div class="collapsed-text" data-show="{f:translate(key:'LLL:EXT:rkw_template/Resources/Private/Language/locallang.xlf:contentElement.collapsed.showMore')}" data-hide="{f:translate(key:'LLL:EXT:rkw_template/Resources/Private/Language/locallang.xlf:contentElement.collapsed.showLess')}">
            <rkwBasics:format.removeEmptyParagraphs>
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
            </rkwBasics:format.removeEmptyParagraphs>
        </div>
    </f:if>

</html>