<f:layout name="Landingpage" />


<!-- First Content -->
<f:section name="Content-1">

    <section class="text-section" style="background-image: url('{settings.imagesPath}/landingpage/text-section-background.png')">
        <div class="text-section__container container">
            <h1 class="text-section__title">WebApp "Strategische Personalplanung"</h1>
            <div class="text-section__content">
                <figure class="text-section__content-image text-section__content-image--target">
                    <img src="{settings.imagesPath}/landingpage/media/target-289x289.png" alt="Target image" class="text-section__image">
                </figure>
                <div class="text-section__content-paragraph">
                    <h2 class="text-section__content-title">Strategische Personalplanung geht auch einfach. Es braucht den strategischen Blick auf das Personalmanagement, nicht langwierige Strategieprozesse.</h2>
                    <p class="text-section__content-text">Die RKW-Methode der strategischen Personalplanung haben bereits viele Unternehmen erfolgreich genutzt, um ihre Personalarbeit stärker und vorausschauend an den Unternehmenszielen auszurichten. Unser Workshop-Konzept steht hier nun auch als WebApp zur Verfügung und wird damit noch einfacher. In sechs Schritten erarbeiten Management und Personalverantwortliche systematisch Antworten auf die Frage: Was müssen wir heute in Bezug auf unser Personal tun und entscheiden, um auch morgen noch erfolgreich im Geschäft zu sein?</p>
                </div>
            </div>
            <div class="text-section__content text-section__content--medium">
                <div class="text-section__content-paragraph">
                    <h2 class="text-section__content-title">Kostenfrei, online, mobil, mit Lernmodus – so funktioniert die WebApp</h2>
                    <p class="text-section__content-text">Sie brauchen eine Internetverbindung und ein Tablet oder ein größeres
                        Endgerät. Mit einem Klick auf den Button unten öffnet sich die Anwendung und Sie können sich
                        registrieren oder anonym weiter machen. Die WebApp führt Sie sodann intuitiv durch den Prozess der
                        strategischen Personalplanung und Sie können sich im Lernmodus mit der Methode genauestens vertraut
                        machen. Da wir gemeinnützig tätig sind, ist die Nutzung für Sie kostenfrei. Mehr zu uns und weitere
                        Angebote zum Thema strategische Personalarbeit finden Sie hier: <a href="http://www.strategische-personalarbeit.de" target="_ blank" class="text-section__content-hyperlink">www.strategische-personalarbeit.de</a>.</p>
                </div>
                <figure class="text-section__content-image">
                    <img src="{settings.imagesPath}/landingpage/media/chess-353x322.png" alt="Chess image" class="text-section__image">
                </figure>
            </div>
        </div>
    </section>

</f:section>


<!-- Second Content -->
<f:section name="Content-2">
    <section class="text-section text-section--second" style="background-image:url('{settings.imagesPath}/landingpage/text-section-background.png')">
        <div class="text-section__top">
            <div class="text-section__top-triangle" style="background-image:url('{settings.imagesPath}/landingpage/section-background.png')"></div>
            <div class="text-section__top-triangle" style="background-image:url('{settings.imagesPath}/landingpage/section-background.png')"></div>
        </div>
        <div class="text-section__container text-section__container--bottom container">
            <div class="text-section__content text-section__content--wide">
                <div class="text-section__content-paragraph">
                    <h2 class="text-section__content-title">Strategische Personalplanung – Ist das nicht eher was für große Unternehmen?</h2>
                    <p class="text-section__content-text">Die wenigsten Unternehmen können damit rechnen, dass alles so bleibt wie es ist – egal, wie groß sie sind. Strategische Personalplanung bezieht sich auf diese geschäftlichen Veränderungen und schafft damit die Voraussetzungen dafür, dass Ihnen künftig die Personalressourcen zur Verfügung stehen, die Sie zur Realisierung Ihrer Unternehmensziele brauchen. Damit ist strategische Personalplanung der Ausgangspunkt effektiven Personalmanagements.</p>
                </div>
                <figure class="text-section__content-image text-section__content-image--right">
                    <img src="{settings.imagesPath}/landingpage/media/people-313x300.png" alt="People image" class="text-section__image">
                </figure>
            </div>
            <div class="text-section__content text-section__content--small">
                <figure class="text-section__content-image text-section__content-image--left">
                    <img src="{settings.imagesPath}/landingpage/media/domino-368x258.png" alt="Domino image" class="text-section__image">
                </figure>
                <div class="text-section__content-paragraph">
                    <h2 class="text-section__content-title">Was unterscheidet die WebApp von dem bewährten RKW-Leitfaden „Strategische Personalplanung für kleine und mittlere Unternehmen“?</h2>
                    <p class="text-section__content-text">Die Methode bleibt die gleiche. Sie wird mit der WebApp noch einfacher: das Handling von Flipcharts und Moderationskarten entfällt, viele Einträge werden automatisch berechnet, die Ergebnisse sind (wenn gewünscht) speicherbar und können einfach für die nächste Planung wieder herangezogen werden. Das heißt: Kein Papierkram mehr und es bleibt mehr Zeit, für das was zählt: Management und Personalverantwortliche schlagen gemeinsam die Brücke von der Unternehmens- zur Personalstrategie.</p>
                </div>
            </div>
            <div class="text-section__content text-section__content--narrow">
                <div class="text-section__content-paragraph">
                    <h2 class="text-section__content-title">Probieren Sie die WebApp selbst aus! Ihr Feedback hilft uns bei der Weiterentwicklung.</h2>
                    <p class="text-section__content-text">Wenn Sie Fragen, Anregungen oder Probleme haben, melden Sie sich bitte bei uns. Abhängig von Ihrem Feedback werden wir sukzessive Funktionalitäten ergänzen. So ist beispielsweise geplant, langfristig auch eine Nutzung über Handys zu ermöglichen.</p>
                </div>
                <figure class="text-section__content-image">
                    <img src="{settings.imagesPath}/landingpage/media/man-362x311.png" alt="Man image" class="text-section__image">
                </figure>
            </div>
        </div>
    </section>
</f:section>


<!-- Third Content -->
<f:section name="Content-3">
    <section class="contact" style="background-image: url('{settings.imagesPath}/landingpage/text-section-background.png')">
        <div class="contact__top">
            <div class="contact__top-triangle" style="background-image:url('{settings.imagesPath}/landingpage/section-background.png')"></div>
            <div class="contact__top-triangle" style="background-image:url('{settings.imagesPath}/landingpage/section-background.png')"></div>
        </div>
        <div class="contact__items container">
            <div class="contact__double-item">
                <div class="contact__item">
                    <figure class="contact__person">
                        <img src="{settings.imagesPath}/landingpage/media/contact_image_1-200x200.png" alt="Contact image" class="contact__person-image">
                    </figure>
                </div>
                <div class="contact__item contact__item-content">
                    <h3 class="contact__person-name">Kathrin Großheim</h3>
                    <p class="contact__person-data">Unternehmensentwicklung und Fachkräftesicherung</p>
                    <div class="contact__icons">
                        <div class="contact__icon-container">
                            <a href="javascript:void(0);" class="contact__icon contact__icon-phone icon-phone"></a>
                            <p class="contact__hover-phone">0196<br>495 - 2813</p>
                        </div>
                        <div class="contact__icon-container">
                            <a href="mailto:k.grossheim@rkw.de" class="contact__icon contact__icon-mail icon-mail"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact__double-item">
                <div class="contact__item">
                    <figure class="contact__person">
                        <img src="{settings.imagesPath}/landingpage/media/contact_image_2-200x200.png" alt="Contact image" class="contact__person-image">
                    </figure>
                </div>
                <div class="contact__item contact__item-content">
                    <h3 class="contact__person-name">Patrick Großheim</h3>
                    <p class="contact__person-data">Unternehmensentwicklung und Fachkräftesicherung</p>
                    <div class="contact__icons">
                        <div class="contact__icon-container">
                            <a href="javascript:void(0);" class="contact__icon contact__icon-phone icon-phone"></a>
                            <p class="contact__hover-phone">0196<br>495 - 3215</p>
                        </div>
                        <div class="contact__icon-container">
                            <a href="mailto:grossheim@rkw.de" class="contact__icon contact__icon-mail icon-mail"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact__logo-item">
                <div class="contact__item">
                    <figure class="contact__bmwi">
                        <img src="{settings.imagesPath}/landingpage/bmwi-logo.png" alt="BMWI logo" class="contact__bmwi-logo">
                    </figure>
                </div>
            </div>
        </div>
    </section>
</f:section>