{namespace vh=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />

<!-- PLAINTEXT -->
<f:section name="Plaintext">
    <f:render partial="Email/Components/Plaintext/00-Header" arguments="{_all}" />
    =============================================================
    <f:render partial="Email/Components/Plaintext/01-Applicant" arguments="{_all}" />
    =============================================================
    <f:render partial="Email/Components/Plaintext/02-Consulting" arguments="{_all}" />
    =============================================================
    <f:render partial="Email/Components/Plaintext/04-Misc" arguments="{_all}" />
</f:section>

<!-- HTML -->
<f:section name="Html">
    <f:render partial="Email/Components/Html/00-Header" arguments="{_all}" />
    <f:render partial="Email/Components/Html/01-Applicant" arguments="{_all}" />
    <f:render partial="Email/Components/Html/02-Consulting" arguments="{_all}" />
    <f:render partial="Email/Components/Html/04-Misc" arguments="{_all}" />
</f:section>