{namespace vh=Madj2k\Postmaster\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext">

------------------------------------------------------------------------------------------------

RKW Sachsen-Anhalt GmbH
Denkfabrik im Wissenschaftshafen
Werner-Heisenberg-Straße 1
39106 Magdeburg

</f:section>



<!-- HTML -->
<f:section name="Html">
	<tr>
		<td style="padding: 48px 16px 0 16px">
			<p style="margin: 0; padding: 9px 0 9px; border-top: 1px solid #000; font-size: 12px; line-height:12px;">
				&nbsp;
			</p>
		</td>
	</tr>

	<tr>
		<td style="padding: 0px 16px 16px 16px" class="footer">
			<p>
                RKW Sachsen-Anhalt GmbH<br>
                Denkfabrik im Wissenschaftshafen<br>
                Werner-Heisenberg-Straße 1<br>
                39106 Magdeburg<br>
				<a href="https://www.rkw-sachsenanhalt.de">www.rkw-sachsenanhalt.de</a>
			</p>
		</td>
	</tr>

</f:section>