{namespace vh=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<vh:frontend.translate key="templates_email_optInReservationUser.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" />

<vh:frontend.translate key="templates_email_optInReservationUser.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents"  />
<vh:frontend.translate key="templates_email_optInReservationUser.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents"  />

<f:render partial="Email/Details" section="Plaintext" arguments="{reservation:registration.data, frontendUser: frontendUser, language:frontendUser.txRkwregistrationLanguageKey, showPid: showPid}"/>

=============================================================
<vh:frontend.translate key="templates_email_optInReservationUser.confirmHeadline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents"/>
=============================================================

<vh:frontend.translate key="templates_email_optInReservationUser.textOptIn" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" />
<vh:frontend.link action='optIn' controller='EventReservation' extensionName='rkwEvents' pluginName='pi1'  absolute="TRUE" pageUid="{pageUid}" additionalParams="{tx_rkwevents_pi1: {token_yes: tokenYes, user: userSha1, event: registration.data.event.uid}}" section="rkw-order" />

<vh:frontend.translate key="templates_email_optInReservationUser.textOptOut" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" />
<vh:frontend.link action='optIn' controller='EventReservation' extensionName='rkwEvents' pluginName='pi1'  absolute="TRUE" pageUid="{pageUid}" additionalParams="{tx_rkwevents_pi1: {token_no: tokenNo, user: userSha1, event: registration.data.event.uid}}" section="rkw-order" />
</f:section>


<!-- HTML -->
<f:section name="Html">
	<h1><vh:frontend.translate key="templates_email_optInReservationUser.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" /></h1>
	<p>
		<vh:frontend.translate key="templates_email_optInReservationUser.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" /><br>
		<strong><vh:frontend.translate key="templates_email_optInReservationUser.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" /></strong>
	</p>

	<f:render partial="Email/Details" section="Html" arguments="{reservation:registration.data, frontendUser: frontendUser, language:frontendUser.txRkwregistrationLanguageKey, showPid: showPid}"/>

	<h2><vh:frontend.translate key="templates_email_optInReservationUser.confirmHeadline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents"/></h2>
	<p>
		<vh:frontend.translate key="templates_email_optInReservationUser.textOptIn" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents"/><br>
		<a href="<vh:frontend.link action='optIn' controller='EventReservation' extensionName='rkwEvents' pluginName='pi1' absolute='TRUE' pageUid='{pageUid}' additionalParams='{tx_rkwevents_pi1: {token_yes: tokenYes, user: userSha1, event: registration.data.event.uid}}' section='rkw-events' />"><vh:frontend.translate key="templates_email_optInReservationUser.textOptInLinkLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents"/></a>
	</p>
	<p>
		<vh:frontend.translate key="templates_email_optInReservationUser.textOptOut" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" /><br>
		<a href="<vh:frontend.link action='optIn' controller='EventReservation' extensionName='rkwEvents' pluginName='pi1' absolute='TRUE' pageUid='{pageUid}' additionalParams='{tx_rkwevents_pi1: {token_no: tokenNo, user: userSha1, event: registration.data.event.uid}}' section='rkw-events' />"><vh:frontend.translate key="templates_email_optInReservationUser.textOptOutLinkLabel" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents"/></a>
	</p>




</f:section>