{namespace vh=RKW\RkwMailer\ViewHelpers}
<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
<vh:frontend.translate key="templates_email_surveyReservationUser.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" />

<vh:frontend.translate key="templates_email_surveyReservationUser.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" />
<vh:frontend.translate key="templates_email_surveyReservationUser.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" />

<vh:frontend.translate key="templates_email_surveyReservationUser.goToSurvey" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" />
<vh:frontend.link absolute="TRUE" pageUid='{surveyPid}' arguments='{survey: reservation.event.surveyBefore}' />
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h1><vh:frontend.translate key="templates_email_surveyReservationUser.headline" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" arguments="{0 : frontendUser.firstName, 1: frontendUser.lastName}" /></h1>
	<p>
		<vh:frontend.translate key="templates_email_surveyReservationUser.text1" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" /><br>
		<vh:frontend.translate key="templates_email_surveyReservationUser.text2" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" />
	</p>
	<p>
		<a href="<vh:frontend.link absolute='TRUE' pageUid='{surveyPid}' action='start' controller='Survey' extensionName='RkwSurvey' pluginName='Survey' arguments='{survey: reservation.event.surveyBefore.uid}' />" target="_blank"><vh:frontend.translate key="templates_email_surveyReservationUser.goToSurvey" languageKey="{frontendUser.txRkwregistrationLanguageKey}" extensionName="rkwEvents" /></a>
	</p>
</f:section>
