<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:section name="Header">
        <aside class="related-box padding-mobile" aria-labelledby="section-header-{data.uid}">
            <f:if condition="{data.header}">
                <div class="related-box-title">
                    <h4 class="h2 section-header" id="section-header-{data.uid}">
                        {data.header}
                    </h4>
                </div>
            </f:if>
    </f:section>


    <f:section name="Footer">
        </aside>
    </f:section>
</html>