<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwEtracker="http://typo3.org/ns/RKW/RkwEtracker/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Rkw" />

<f:section name="Main">

    <f:if condition="{data.header_link}">
        <f:link.typolink
            parameter="{data.header_link}"
            class="btn btn--specials specials-bgcolor-primary specials-textcolor-white"
            title="{data.header}"
            additionalAttributes="{data-target:'{data.header_link}'}"
        >
            {data.rowDescription}
        </f:link.typolink>
    </f:if>

</f:section>
</html>