<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">

        <div class="flex-container center-main">
            <f:for each="{images}" as="image" iteration="iterator">
                <img class="image-mod__img{iterator.index + 1}" src="{f:uri.image(image:image,width:'1050',cropVariant:'default')}" alt="Moodbild 1"/>
            </f:for>
        </div>

    </f:section>

</html>

