<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwGeo="http://typo3.org/ns/RKW/RkwGeolocation/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">

        <f:if condition="{data.tx_rkwtemplate_longitude} && {data.tx_rkwtemplate_latitude}">
            <rkwGeo:maps
                longitude='{data.tx_rkwtemplate_longitude}'
                latitude="{data.tx_rkwtemplate_latitude}"
                height="718px"
            />
        </f:if>

    </f:section>

</html>

