<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">

        <f:if condition="{f:count(subject: images)} > 0">

            <div class="picture-list-section" id="c{data.uid}">
                <div class="picture-header flex" style="background-image: url('{f:uri.image(image:images.0,width:'1050',cropVariant:'default')}')">

                    <div class="picture-header__content flex-basis-6">

                        <f:render partial="Header" arguments="{
                            header: data.header,
                            layout: data.header_layout,
                            link: data.header_link,
                            anchorId: data.uid,
                            class: 'picture-list__header'
                        }" />
                        
                        <rkwBasics:format.removeEmptyParagraphs>
                            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                        </rkwBasics:format.removeEmptyParagraphs>
                    </div>
                </div>
            </div>
        </f:if>

    </f:section>
</html>

