<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:coreExtended="http://typo3.org/ns/Madj2k/CoreExtended/ViewHelpers"
    xmlns:rkwEtracker="http://typo3.org/ns/RKW/RkwEtracker/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">

        <f:if condition="{f:count(subject: images)} > 0">
            <div class="picture-list-section" id="c{data.uid}">

                <f:render partial="Header" arguments="{
                    header: data.header,
                    layout: data.header_layout,
                    link: data.header_link
                }" />
                
                <div class="picture-list flex full-width-narrow">
                    <div class="flex-basis-2 picture-list__img full-width-narrow">
                        <f:if condition="{images.0.link}">
                            <f:then>
                                <rkwEtracker:link.typolink parameter="{images.0.link}">
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" loading="lazy" srcset="{f:uri.image(image:images.0,width:'328c',height:'328c',cropVariant:'default')}" alt="{images.0.alt}" title="{images.0.title}"  />
                                </rkwEtracker:link.typolink>
                            </f:then>
                            <f:else>
                                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" loading="lazy" srcset="{f:uri.image(image:images.0,width:'328c',height:'328c',cropVariant:'default')}" alt="{images.0.alt}" title="{images.0.title}"  />
                            </f:else>
                        </f:if>
                    </div>

                    <div class="flex-basis-10 picture-list__content full-width-narrow">
                        <f:if condition="{data.rowDescription}">
                            <f:then>
                                <f:render partial="CollapsedText/Text" arguments="{_all}"/>
                            </f:then>
                            <f:else>
                                <coreExtended:format.removeEmptyParagraphs>
                                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                                </coreExtended:format.removeEmptyParagraphs>
                            </f:else>
                        </f:if>
                    </div>
                </div>
            </div>
        </f:if>
    </f:section>
</html>




