<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{f:count(subject: images)} > 0">

        <div class="picture-list">

            <f:if condition="{data.header} && {data.header_layout} != 100">
                <f:if condition="{data.header_layout}">
                    <f:then>
                        <h{data.header_layout} class="picture-list__header">{data.header}</h{data.header_layout}>
                    </f:then>
                    <f:else>
                        <h2 class="picture-list__header">{data.header}</h2>
                    </f:else>
                </f:if>
            </f:if>

            <div class="picture-list__item">
                <figure class="picture-list__image">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" srcset="{f:uri.image(image:images.0,width:'328c',height:'328c',cropVariant:'default')}" alt="{images.0.alt}" title="{images.0.title}"  />
                </figure>

                <div class="picture-list__content">
                    <f:if condition="{data.rowDescription}">
                        <f:then>
                            <f:render partial="CollapsedText/Text" arguments="{_all}"/>
                        </f:then>
                        <f:else>
                            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>
    </f:if>

</html>



