<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{f:count(subject: image)} > 0">
        <f:then>
            <div class="header-container {f:if(condition: '{data.bodytext}', then: 'header-container--secondary', else: '')}" style="background-image: url('{f:uri.image(image:image.0,width:'2000',cropVariant:'default')}');">
                <header class="page-headings">
                    <f:render partial="Keyvisual/Sub" arguments="{_all}"/>
                </header>
            </div>
        </f:then>
        <f:else>
            <header class="page-headings page-headings--no-image">
                <f:render partial="Keyvisual/Sub" arguments="{_all}"/>
            </header>
        </f:else>
    </f:if>

</html>



