{namespace rkwEtracker=RKW\RkwEtracker\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{f:count(subject: image)} > 0">
        <div>
            <f:if condition="<rkwEtracker:link.typolink parameter='{data.header_link}' />">
                <f:then>
                    <rkwEtracker:link.typolink parameter="{data.header_link}" class="box partner">
                        <picture>
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" srcset="{f:uri.image(image:image.0,width:'160',height:'320m',cropVariant:'default')}" alt="{data.header}" />
                        </picture>
                    </rkwEtracker:link.typolink>
                </f:then>
                <f:else>
                    <a href="#" class="box partner">
                        <picture>
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" srcset="{f:uri.image(image:image.0,width:'160',height:'320m',cropVariant:'default')}" alt="{data.header}" />
                        </picture>
                    </a>
                </f:else>
            </f:if>
        </div>
    </f:if>

</html>



