<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">

        <div class="parallax-container">
            <div class="parallax">
                <img src="{f:uri.image(image:images.0,cropVariant:'default')}" alt="{image.title}" loading="lazy">
            </div>
        </div>
        <div class="flex-container flex-basis-12 siteheader__specials-title">
            <h1 class="{f:if(condition: '{data.header_layout} >= 2', then: 'siteheader__specials-title--inverted')}">{data.header}</h1>
            <f:if condition="{data.header_link}">
                <f:link.typolink
                    parameter="{data.header_link}"
                    class="btn btn--specials specials-bgcolor-primary specials-text-white"
                    title="{data.header_linktext}"
                    additionalAttributes="{data-target:'{data.header_link}'}"
                >{data.rowDescription}</f:link.typolink>
            </f:if>
        </div>

    </f:section>
</html>

