<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">

        <f:if condition="{f:count(subject: images)} > 0">
            <div class="slider-item">
                <f:render partial="Slider/Image" arguments="{_all}"/>
                <f:render partial="Slider/Text" arguments="{_all}"/>
            </div>
        </f:if>

        <f:if condition="{f:count(subject: assets)} > 0 && {f:count(subject: images)} == 0">
            <div class="slider-item">
                <f:render partial="Slider/Video" arguments="{_all}"/>
                <f:render partial="Slider/Text" arguments="{_all}"/>
            </div>
        </f:if>

    </f:section>
</html>
