<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />
        
    <f:section name="Main">
            
        <div id="tab-{data.uid}" class="tabs__content">
            <f:if condition="{data.header} && {data.header_layout} != 100">
                <f:if condition="{data.header_layout}">
                    <f:then>
                        <h{data.header_layout} id="c{data.uid}">{data.header}</h{data.header_layout}>
                    </f:then>
                    <f:else>
                        <h2 id="c{data.uid}">{data.header}</h2>
                    </f:else>
                </f:if>
            </f:if>
        
            <rkwBasics:format.removeEmptyParagraphs>
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
            </rkwBasics:format.removeEmptyParagraphs>
        </div>
    </f:section>
</html>
