<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />
        
    <f:section name="Main">
            
        <div id="tab-{data.uid}" class="tabs__content">

            <f:render partial="Header" arguments="{
                header: data.header,
                layout: data.header_layout,
                link: data.header_link,
                anchorId: data.uid
            }" />
        
            <rkwBasics:format.removeEmptyParagraphs>
                <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
            </rkwBasics:format.removeEmptyParagraphs>
        </div>
    </f:section>
</html>
