<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwEtracker="http://typo3.org/ns/RKW/RkwEtracker/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Rkw" />

<f:section name="Main">

    <f:if condition="{data.header}">
        <h3 class="headline headline--underlined">{data.header}</h3>
    </f:if>

    <rkwBasics:format.removeEmptyParagraphs>
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
    </rkwBasics:format.removeEmptyParagraphs>

    <f:if condition="{data.header_link}">
        <f:if condition="<rkwBasics:string.contains needle='#' haystack='{data.header_link}' /> == 1">
            <f:then>
                <f:link.typolink
                    parameter="{data.header_link}"
                    class="btn btn--specials specials-bgcolor-primary specials-textcolor-white"
                    title="{data.rowDescription}"
                    additionalAttributes="{data-target:'{data.header_link}'}"
                >{data.rowDescription}</f:link.typolink>
            </f:then>
            <f:else>
                <f:link.typolink
                    parameter="{data.header_link}"
                    class="btn btn--specials specials-bgcolor-primary specials-textcolor-white"
                    title="{data.rowDescription}"
                >{data.rowDescription}</f:link.typolink>
            </f:else>
        </f:if>
    </f:if>

</f:section>
</html>