<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">

        <div class="parallax-container">
            <div class="parallax">
                <img src="{f:uri.image(image:images.0,cropVariant:'default')}" alt="{image.title}" loading="lazy">
            </div>
        </div>
        <div class="flex-container download-mod__content">
            <div class="flex-basis-7">
                <f:if condition="{data.header} && {data.header_layout} != 100">
                    <f:if condition="{data.header_layout}">
                        <f:then>
                            <h{data.header_layout} class="picture-list__header" id="c{data.uid}">{data.header}</h{data.header_layout}>
                        </f:then>
                        <f:else>
                            <h3 class="headline headline--underlined" id="c{data.uid}">{data.header}</h3>
                        </f:else>
                    </f:if>
                </f:if>
                <rkwBasics:format.removeEmptyParagraphs>
                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                </rkwBasics:format.removeEmptyParagraphs>
                <f:if condition="{data.header_link}">
                    <f:link.typolink
                        parameter="{data.header_link}"
                        class="btn btn--specials specials-bgcolor-primary specials-textcolor-white"
                        title="{data.header}"
                        additionalAttributes="{data-target:'{data.header_link}'}"
                    >
                        {data.tx_rkwtemplate_linktext}
                    </f:link.typolink>
                </f:if>
            </div>
        </div>

    </f:section>
</html>

