<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    xmlns:rkwEtracker="http://typo3.org/ns/RKW/RkwEtracker/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">

        <div class="speaker-list__item">
            <f:if condition="{f:count(subject: images)} > 0">
                <div class="speaker-img">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" loading="lazy" srcset="{f:uri.image(image:images.0,width:'328c',height:'328c',cropVariant:'default')}" alt="{images.0.alt}" title="{images.0.title}"  />
                </div>
            </f:if>
            <div class="speaker-title">
                <strong>{data.header}</strong>
                Geschäftsführer ryte | Mitbegründer Bits & Pretzels
            </div>
            <button class="speaker-link js-open-mdl" data-modal="mdl-c{data.uid}">Mehr lesen</button>
        </div>
        <div id="mdl-c{data.uid}" class="mdl">
            <div class="mdl__inner">
                <header class="mdl__header">
                    <span class="h4 mdl__headline">{data.header}</span>
                </header>
                <div class="mdl__content">
                    <rkwBasics:format.removeEmptyParagraphs>
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                    </rkwBasics:format.removeEmptyParagraphs>
                </div>
            </div>
            <button class="mdl-close js-close-mdl">
                <svg class="icon icon--48">
                    <use xlink:href="#ic-mobile-menu-close"/>
                </svg>
            </button>
        </div>
        <div class="mdl-layer js-mdl-layer"></div>

    </f:section>
</html>




