<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwEtracker="http://typo3.org/ns/RKW/RkwEtracker/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">

        <f:if condition="{data.header_link}">
            <a href="{data.header_link}" class="speaker-list__item" target="_blank" rel="nofollow">
        </f:if>
        <f:if condition="{data.bodytext} && !{data.header_link}">
            <a href="#" class="speaker-list__item js-open-mdl" data-modal="mdl-c{data.uid}">
        </f:if>
        <f:if condition="!{data.bodytext} && !{data.header_link}">
            <div class="speaker-list__item">
        </f:if>
            <f:if condition="{f:count(subject: images)} > 0">
                <div class="speaker-list__item__header">
                    <div class="speaker-img">
                        <img src="{f:uri.image(image:images.0,cropVariant:'default')}" alt="{image.title}" loading="lazy">
                    </div>
                </div>
            </f:if>
            <div class="speaker-list__item__content">
                <div class="speaker-title">
                    <strong>{data.header}</strong>
                    {data.subheader}
                </div>
                <f:if condition="{data.bodytext} || {data.header_link}">
                    <span class="speaker-link">
                        <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/locallang.xlf:contentElement.tile.labelShowMore" />
                    </span>
                </f:if>
            </div>
        <f:if condition="!{data.bodytext} && !{data.header_link}">
            </div>
        </f:if>
        <f:if condition="{data.bodytext} && !{data.header_link}">
            </a>
            <f:render partial="Modal/Inner" arguments="{_all}"/>
        </f:if>
        <f:if condition="{data.header_link}">
            </a>
        </f:if>

    </f:section>
</html>




