<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:comment><!-- title --></f:comment>
    <div class="siteheader__title siteheader__title--dark siteheader__title--long-title siteheader__title--detail-site">
        <h1 class="h1">
            <f:format.crop maxCharacters="90" respectWordBoundaries="false"><f:cObject typoscriptObjectPath="lib.txRkwTemplate.publication.parentTitle" data="{data}" /></f:format.crop>
        </h1>
        <div class="siteheader__intro">
            <em><f:translate key="{settings.themeLanguageFile}:partials.keyVisual.publication.sub.labelChapter"/>:</em> <f:format.crop maxCharacters="90" respectWordBoundaries="false"><f:format.raw>{data.title}</f:format.raw></f:format.crop>
        </div>
    </div>

</html>