<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="siteheader__meta flex-container space-between">

        <!-- meta infos -->
        <div class="flex-item flex-basis-5 full-width-medium infobox-space">
            <h3 class="siteheader__meta-title">
                <f:translate key="{settings.themeLanguageFile}:partials.infoBox.article.labelMeta"/>
            </h3>
            <div class="siteheader__meta-text">
                <div class="table">
                    <f:render partial="InfoBox/Partials/Date" section="Article" arguments="{_all}"/>
                    <f:render partial="InfoBox/Partials/Project" arguments="{_all}"/>
                    <f:render partial="InfoBox/Partials/Author" arguments="{_all}"/>
                </div>
            </div>
        </div>

        <!-- abstract -->
        <f:if condition="{data.abstract}">
            <div class="flex-item flex-basis-7 full-width-medium">
                <h3 class="siteheader__meta-title">
                    <f:translate key="{settings.themeLanguageFile}:partials.infoBox.article.labelAbstract"/>
                </h3>
                <div class="siteheader__meta-text">
                    <f:format.crop maxCharacters="250" respectWordBoundaries="true">{data.abstract}</f:format.crop>
                </div>
            </div>
        </f:if>

    </div>
</html>
