<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
        <f:if condition="{gallery.position.vertical} != 'below'">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </f:if>

        <f:if condition="{data.bodytext}">
            <div class="ce-bodytext">
                <rkwBasics:format.removeEmptyParagraphs>
                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
                </rkwBasics:format.removeEmptyParagraphs>
            </div>
        </f:if>

        <f:if condition="{gallery.position.vertical} == 'below'">
            <f:render partial="Media/Gallery" arguments="{_all}" />
        </f:if>
    </div>

</html>
