<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:section name="Header">
        <section id="c{data.uid}" class="contentbox content-padding-layoutmax box-mod">
            <f:if condition="{data.header}">
                <div class="flex-container">

                    <f:render partial="Header/Header" arguments="{
                        header: data.header,
                        anchorId: data.uid,
                        layout: '{f:if(condition:\'{data.header_layout}\', then:\'{data.header_layout}\', else:\'{settings.defaultHeaderType}\')}',
                        positionClass: 'headline headline--underlined',
                        link: data.header_link }" />
                </div>
            </f:if>
    </f:section>

    <f:section name="Footer">
        </section>
    </f:section>
</html>
