{namespace rkw=RKW\RkwSurvey\ViewHelpers}
<label for="tx-rkwsurvey-left-label" class="scale-main-label">{question.textConsent}</label>
<f:for each="<rkw:loop number='{question.scaleToPoints}' />" as="element" iteration="iterScale">
    <label>
        <f:if condition="{iterScale.isFirst}">
            <f:then>
                <f:form.radio id="tx-rkwsurvey-left-label" name="answer" property="answer" value="{iterScale.cycle}"/>
            </f:then>
            <f:else>
                <f:if condition="{iterScale.isLast}">
                    <f:then>
                        <f:form.radio id="tx-rkwsurvey-right-label" name="answer" property="answer" value="{iterScale.cycle}"/>
                    </f:then>
                    <f:else>
                        <f:form.radio name="answer" property="answer" value="{iterScale.cycle}"/>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
        <span class="scale-item-label">{iterScale.cycle}</span>
    </label>
</f:for>
<label for="tx-rkwsurvey-right-label" class="scale-main-label">{question.textRejection}</label>
