{namespace vh=RKW\RkwMailer\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext">

------------------------------------------------------------------------------------------------

RKW Bayern e. V.
c/o Bayerischer Handwerkstag e. V.
Max-Joseph-Str. 4
80333 München

Geschäftsführer: Joseph Wissinger
Amtsgericht München
VR 16445
</f:section>



<!-- HTML -->
<f:section name="Html">
	<tr>
		<td style="padding: 48px 16px 0 16px">
			<p style="margin: 0; padding: 9px 0 9px; border-top: 1px solid #000; font-size: 12px; line-height:12px;">
				&nbsp;
			</p>
		</td>
	</tr>

	<tr>
		<td style="padding: 0px 16px 16px 16px" class="footer">
			<p>
                RKW Bayern e. V.<br>
                c/o Bayerischer Handwerkstag e. V.<br>
                Max-Joseph-Str. 4<br>
                80333 München<br>
				<a href="https://www.rkwbayern.de">www.rkwbayern.de</a><br><br>
                Geschäftsführer: Joseph Wissinger<br>
                Amtsgericht München<br>
                VR 16445
			</p>
		</td>
	</tr>

</f:section>