{namespace rkwEvents=RKW\RkwEvents\ViewHelpers}

<f:section name="Internal">
    <f:if condition="{contact.company}">
        <f:then>
            {contact.company}<br>
        </f:then>
        <f:else>
            <f:if condition="{contact.internal} == 1">
                RKW Kompetenzzentrum<br>
            </f:if>
        </f:else>
    </f:if>

    <!--
    <f:if condition="{contact.salutation} == 0">
        <f:then>
            <f:translate key="tx_rkwevents_fluid.partials_event_contactSub.salutation_mr" />
        </f:then>
        <f:else>
            <f:if condition="{contact.salutation} == 1">
                <f:translate key="tx_rkwevents_fluid.partials_event_contactSub.salutation_mrs" />
            </f:if>
        </f:else>
    </f:if>
    -->
    {contact.titleBefore} {contact.firstName} {contact.lastName}<br>
    <f:if condition="{contact.phone}">
        <f:translate key="tx_rkwevents_fluid.partials_event_contactSub.phone" />:
        <f:if condition="{contact.phone2}">
            <f:then>
                <rkwEvents:getFormattedPhoneNumber author="{contact}" />
            </f:then>
            <f:else>
                {contact.phone}
            </f:else>
        </f:if><br>
    </f:if>
    <!--<f:if condition="{contact.fax}">
        <f:translate key="tx_rkwevents_fluid.partials_event_contactSub.fax" />: {contact.fax}<br>
    </f:if>-->
    <f:if condition="{contact.email}">
        <f:translate key="tx_rkwevents_fluid.partials_event_contactSub.email" />: <f:link.email email="{contact.email}" /><br>
    </f:if>

    <f:if condition="{iterator.isLast}">
        <f:else>
            <br>
        </f:else>
    </f:if>
</f:section>

<!-- ====================================================================== -->

<f:section name="External">
    <f:if condition="{contact.company}">
        {contact.company}<br>
    </f:if>

    <!--
    <f:if condition="{contact.salutation} == 0">
        <f:then>
            <f:translate key="tx_rkwevents_fluid.partials_event_contactSub.salutation_mr" />
        </f:then>
        <f:else>
            <f:if condition="{contact.salutation} == 1">
                <f:translate key="tx_rkwevents_fluid.partials_event_contactSub.salutation_mrs" />
            </f:if>
        </f:else>
    </f:if>
    -->
    {contact.titleBefore} {contact.firstName} {contact.lastName}<br>
    <f:if condition="{contact.phone}">
        <f:translate key="tx_rkwevents_fluid.partials_event_contactSub.phone" />:
        <f:if condition="{contact.phone2}">
            <f:then>
                {contact.phone2} / {contact.phone}
            </f:then>
            <f:else>
                {contact.phone}
            </f:else>
        </f:if><br>
    </f:if>
    <!--<f:if condition="{contact.fax}">
        <f:translate key="tx_rkwevents_fluid.partials_event_contactSub.fax" />: {contact.fax}<br>
    </f:if>-->
    <f:if condition="{contact.email}">
        <f:translate key="tx_rkwevents_fluid.partials_event_contactSub.email" />: <f:link.email email="{contact.email}" /><br>
    </f:if>

    <f:if condition="{iterator.isLast}">
        <f:else>
            <br>
        </f:else>
    </f:if>
</f:section>

