{namespace rkwAuthors=RKW\RkwAuthors\ViewHelpers}

<f:if condition="{author}">
	<!-- image -->
	<div class="expert-image">
		<figure>
			<f:if condition="{author.imageBig}">
				<f:then>
					<f:image image="{author.imageBig}" treatIdAsReference="TRUE" width="990c" height="980c-100"/>
				</f:then>
				<f:else>
					<!-- ### set dummy if no image is available ### -->
					<!-- <img alt="expert placeholder image" src="fileadmin/media/images/Experts/expert_992x984.png"> -->
				</f:else>
			</f:if>
		</figure>
	</div>
	<!-- contact box information -->
	<div class="expert-contact-box">
		<div>
			<p class="info-text">
				<strong>
					<rkwAuthors:GetCombinedName author="{author}" addTitleAfter="TRUE"/>
				</strong>
				<br>
				<f:format.nl2br>{author.functionTitle}</f:format.nl2br>
			</p>
			<div class="contacts">
				<f:if condition="{author.phone}">
					<p>
						<span class="icon-phone">&nbsp;<rkwAuthors:GetFormattedPhoneNumber phoneExtensionLength="{settings.phoneExtensionLength}" author="{author}"/></span>
					</p>
				</f:if>
                <f:if condition='<rkwAuthors:ifContactFormIsActive author="{author}" />'>
                    <f:then>
                        <p>
                            <f:link.page class="icon-mail" pageUid="{settings.contactForm.pageUid}" additionalParams="{tx_rkwauthors_rkwauthorscontactform: {author: author}}">&nbsp;&nbsp;<f:translate key="partials_authors_list_authors.contactForm" extensionName="rkwAuthors" /></f:link.page>
                        </p>
                    </f:then>
                    <f:else>
                        <f:if condition="{author.email}">
                            <p>
                                <f:link.email class="icon-mail" email="{author.email}">&nbsp;
                                    E-Mail
                                </f:link.email>
                            </p>
                        </f:if>
                    </f:else>
                </f:if>
			</div>
		</div>
	</div>

	<!-- expert description text -->
	<f:if condition="{author.functionDescription}">
		<div class="expert-content">
			<div class="content wysiwyg">
				<f:format.html parseFuncTSPath="lib.parseFunc_RTE">{author.functionDescription}</f:format.html>
			</div>
		</div>
	</f:if>
</f:if>