<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:flashMessages />

    <f:render partial="FormErrors" arguments="{object:SupportRequest}" />

    <f:form class="form-fields" action="requestForm" name="supportRequest" object="{supportRequest}">
        <label class="form-label" for="supportProgramme">
            <f:translate key="tx_rkwfeecalculator_domain_model_supportprogramme" />
        </label>
        <f:form.select name="supportProgramme" options="{supportProgrammeList}" optionValueField="uid" optionLabelField="name" prependOptionValue="0" prependOptionLabel="{f:translate(key:'tx_rkwfeecalculator_partials_supportrequest_formfields.chooseSupportProgramme')}" additionalAttributes="{onChange : 'this.form.submit();'}"/>

        <f:form.button class="button">
            <f:translate key="tx_rkwfeecalculator_templates_new.choose" />
        </f:form.button>
    </f:form>

</f:section>
</html>
