<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{logos} > 0">
        <f:for each="{logos}" as="logo" key="key">
            <div class="box-wrapper">
                <div class="powered-by">
                    <picture>
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" srcset="{f:uri.image(image:logo,width:'320',cropVariant:'default')}" alt="{f:if(condition: '{logo.title}', then: '{logo.title}', else: '{logo.alternative}')}" />
                    </picture>
                </div>
            </div>
        </f:for>
    </f:if>

</html>