<ul class="share-buttons" role="toolbar" aria-labelledby="headline-share">
	<li class="share-buttons-text" id="headline-share"><f:translate key="{settings.themeLanguageFile}:partials.sharePrint.socialMedia.labelShare" /></li>
	<li>
		<a href="https://www.facebook.com/sharer/sharer.php?u={f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.websiteUrlEncoded')}"
		   title="{f:translate(key:'{settings.themeLanguageFile}:partials.sharePrint.socialMedia.labelShareFacebook')}"
		   target="_blank"
		   rel="nofollow">
			<img src="{settings.imagesPath}/icon_facebook.png" alt="Facebook">
		</a>
	</li>
	<li>
		<a href="https://twitter.com/intent/tweet?text=<f:format.urlencode>{data.itle}</f:format.urlencode>&url={f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.websiteUrlEncoded')}&via=RKW_Experten"
		   title="{f:translate(key:'{settings.themeLanguageFile}:partials.sharePrint.socialMedia.labelShareTwitter')}"
		   target="_blank"
		   rel="nofollow">
			<img src="{settings.imagesPath}/icon_twitter.png" alt="Twitter">
		</a>
	</li>
	<li>
		<a href="https://www.xing.com/spi/shares/new?url={f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.websiteUrlEncoded')}&follow_url=<f:format.urlencode>https://www.xing.com/companies/rkwkompetenzzentrum</f:format.urlencode>"
		   title="{f:translate(key:'{settings.themeLanguageFile}:partials.sharePrint.socialMedia.labelShareXing')}"
		   target="_blank"
		   rel="nofollow">
			<img src="{settings.imagesPath}/icon_xing.png" alt="XING" >
		</a>
	</li>
	<!--
	<li>
		<a href="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.baseUrl')}pagetype-rss/"
			title="{f:translate(key:'{settings.themeLanguageFile}:partials.sharePrint.socialMedia.labelShareRss')}"
			target="_blank"
			rel="alternate"
			type ="application/rss+xml"
			>
			<img src="{settings.imagesPath}/icon_feed.png" alt="RSS" >
		</a>
	</li>-->

	<!-- <li><a href="#"><img src="{settings.imagesPath}/icon_gplus.png" alt="Google+"></a></li>-->
	<!--<li><a href="#"><img src="{settings.imagesPath}/icon_linkedin.png" alt="Linkedin"></a></li>-->
</ul>

