{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}

<!-- infobox for normal pages -->
<f:section name="Default">
    <div class="project-details info-box">

        <!-- author info -->
        <div class="persons person-teaser">
            <f:format.html parseFuncTSPath="">{pageAuthorsDetailFirst}</f:format.html>
        </div>

        <div class="box-content">

            <!-- abstract -->
            <div class="project-teaser">

                <!-- date -->
                <p>
                    <strong>
                        <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelDate"/>:
                    </strong>
                    <f:format.date format="d.m.Y">{importParentPagePubDate}</f:format.date>
                </p>

                <!-- project link -->
                <f:if condition="{projectLink}">
                    <p><strong>
                        <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelProject"/>:
                    </strong>
                        <f:format.html parseFuncTSPath="">{projectLink}</f:format.html>
                    </p>
                </f:if>

                <!-- abstract -->
                <f:if condition="{pageAbstractInherit}">
                    <p>
                        <strong>
                            <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelAbstract"/>:
                        </strong>
                        <f:format.crop maxCharacters="250" respectWordBoundaries="TRUE">{pageAbstractInherit}</f:format.crop>
                    </p>
                </f:if>
            </div>
            <f:if condition="<rkwBasics:notEmptyOr or1='{pageInformation}' or2='{pageAuthorsDetailRest}'/>">
                <div class="buttons-set" role="tablist">

                    <!-- toggle tab 1 -->
                    <f:if condition="<rkwBasics:isEmpty string='{pageInformation}' /> == 0">
                        <f:then>
                            <p>
                                <a class="accordion-button toggle-project button" data-toggle="tab-1" role="tab" aria-controls="tab-1" href="#toogle-1">
                                    <span class="icon-arrow-right"><f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelMore"/></span>
                                </a>
                            </p>
                        </f:then>
                        <f:else>
                            <f:if condition="<rkwBasics:isEmpty string='{pageAuthorsDetailRest}' /> == 0">
                                <p>
                                    <a class="accordion-button toggle-project button" data-toggle="tab-1" role="tab" aria-controls="tab-1" href="#toogle-1">
                                        <span class="icon-arrow-right"><f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelMore"/></span>
                                    </a>
                                </p>
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
            </f:if>
        </div>
    </div>

    <!-- tab 1 -->
    <f:if condition="<rkwBasics:notEmptyOr or1='{pageInformation}' or2='{pageAuthorsDetailRest}'/>">
        <div class="toggled-content" data-tab="tab-1" id="tab-1" role="tabpanel">

            <!-- page infos -->
            <f:if condition="<rkwBasics:isEmpty string='{pageInformation}' /> == 0">
                <div class="box-content infobox-content wysiwyg">
                    <div>
                        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{pageInformation}</f:format.html>
                    </div>
                </div>
            </f:if>

            <!-- other authors -->
            <f:if condition="<rkwBasics:isEmpty string='{pageAuthorsDetailRest}' /> == 0">
                <div class="persons">
                    <f:format.html parseFuncTSPath="">{pageAuthorsDetailRest}</f:format.html>
                </div>
            </f:if>
        </div>
    </f:if>
</f:section>


<!-- ################################################################################# -->

<!-- Infobox for publications pages -->
<f:section name="Publications">
    <div class="publication-details info-box">

        <!-- image -->
        <div class="publication-details-info">
            <figure class="publication-details-image sticky-hide">
                <f:if condition="{coverThumbnail}">
                    <f:then>
                        <f:format.html parseFuncTSPath="">{coverThumbnail}</f:format.html>
                    </f:then>
                    <f:else>
                        <f:format.html parseFuncTSPath="">{pdfThumbnail}</f:format.html>
                    </f:else>
                </f:if>
            </figure>
        </div>


        <div class="publication-details-description">

            <!-- details -->
            <f:if condition="{projectLink}">
                <p>
                    <strong>
                        <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelProject"/>:
                    </strong>
                    <f:format.html parseFuncTSPath="">{projectLink}</f:format.html>
                </p>
            </f:if>
            <p>
                <strong>
                    <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelPubYear"/>:
                </strong>
                <f:format.date format="Y">{importParentPagePubDate}</f:format.date>
            </p>
            <f:if condition="{pdfSize} > 0">
                <p>
                    <strong>
                        <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelFilesize"/>:
                    </strong>
                    {pdfSize}
                </p>
            </f:if>
            <p>
                <strong>
                    <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelAuthors"/>:
                </strong>
                <f:format.html parseFuncTSPath="">{pageAuthorsCommaList}</f:format.html>
            </p>


            <div class="publication-details-buttons" role="tablist">

                <!-- download button -->
                <p role="tab">
                    <f:format.html parseFuncTSPath="">{pdfDownload}</f:format.html>
                </p>

                <f:if condition="{tocNav}">
                    <!-- table of contents -->
                    <p role="tab">
                        <a class="accordion-button toggle-project button" data-toggle="tab-1" href="#">
                            <span class="icon-arrow-right">
                                <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelTableOfContents"/>
                            </span>
                        </a>
                    </p>
                </f:if>
            </div>
        </div>
    </div>

    <!-- table of contents -->
    <f:if condition="{tocNav}">
        <div class="toggled-content" data-tab="tab-1">
            <div class="box-content infobox-content wysiwyg">
                <div class="publications-contents-table">
                    <f:format.html parseFuncTSPath="">{tocNav}</f:format.html>
                </div>
                <div class="publications-contents-table__close-container">
                    <a href="#" class="publications-contents-table__close-icon icon-close link"></a>
                </div>
            </div>
        </div>
    </f:if>
</f:section>

<!-- ################################################################################# -->

<!-- infobox for publication sub- pages -->
<f:section name="PublicationSubs">
    <div class="chapter-info-box">
        <div class="publication-details sticky-slide info-box">

            <!-- image -->
            <div class="publication-chapter-info">
                <figure class="publication-chapter-image-container">
                    <f:if condition="{coverThumbnail}">
                        <f:then>
                            <f:format.html parseFuncTSPath="">{coverThumbnail}</f:format.html>
                        </f:then>
                        <f:else>
                            <f:format.html parseFuncTSPath="">{pdfThumbnail}</f:format.html>
                        </f:else>
                    </f:if>
                </figure>
            </div>

            <div class="publication-details-description publication-details-description--chapter sticky-slide">

                <!-- details -->
                <f:if condition="{importParentPageUid}">
                    <p>
                        <strong>
                            <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelPublication"/>:
                        </strong>
                        <f:link.page pageUid="{importParentPageUid}" title="{importParentPageTitle}" class="publication__name link link--underlined">{importParentPageTitle}</f:link.page>
                    </p>
                </f:if>
                <f:if condition="{projectLink}">
                    <p>
                        <strong>
                            <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelProject"/>:
                        </strong>
                        <f:format.html parseFuncTSPath="">{projectLink}</f:format.html>
                    </p>
                </f:if>


                <div class="publication-details-buttons" role="tablist">

                    <!-- download button -->
                    <p class="sticky-slide" role="tab">
                        <f:format.html parseFuncTSPath="">{pdfDownload}</f:format.html>
                    </p>

                    <!-- table of contents -->
                    <p class="sticky-slide" role="tab">
                        <a class="accordion-button toggle-project button" data-toggle="tab-1" href="#">
                            <span class="icon-arrow-right">
                                <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelTableOfContents"/>
                            </span>
                        </a>
                    </p>
                </div>
            </div>

            <div class="publication-details-buttons publication-details-buttons--mobile" role="presentation">

                <!-- download button -->
                <p class="sticky-slide">
                    <f:format.html parseFuncTSPath="">{pdfDownload}</f:format.html>
                </p>

                <!-- table of contents -->
                <p class="sticky-slide">
                    <a class="accordion-button toggle-project button" data-toggle="tab-1" href="#">
                        <span class="icon-arrow-right">
                            <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:partials_infoBox.labelTableOfContents"/>
                        </span>
                    </a>
                </p>
            </div>
        </div>

        <!-- table of contents -->
        <div class="toggled-content" data-tab="tab-1">
            <div class="box-content infobox-content wysiwyg">
                <div class="publications-contents-table">
                    <f:format.html parseFuncTSPath="">{tocNav}</f:format.html>
                </div>
                <div class="publications-contents-table__close-container">
                    <a href="#" class="publications-contents-table__close-icon icon-close link"></a>
                </div>
            </div>
        </div>
    </div>
</f:section>