{namespace vh=Madj2k\Postmaster\ViewHelpers}

<!-- PLAINTEXT -->
<f:section name="Plaintext">

------------------------------------------------------------------------------------------------

RKW Nord GmbH
Günter-Wagner-Allee 17
30177 Hannover

Geschäftsführer: Harm Wurthmann, Monika Opitz
Amtsgericht Hannover
HRB 211607
</f:section>



<!-- HTML -->
<f:section name="Html">
	<tr>
		<td style="padding: 48px 16px 0 16px">
			<p style="margin: 0; padding: 9px 0 9px; border-top: 1px solid #000; font-size: 12px; line-height:12px;">
				&nbsp;
			</p>
		</td>
	</tr>

	<tr>
		<td style="padding: 0px 16px 16px 16px" class="footer">
			<p>
                RKW Nord GmbH<br>
                Günther-Wagner-Allee 17<br>
                30177 Hannover<br>
				<a href="https://www.rkw-nord.de">www.rkw-nord.de</a><br><br>
                Geschäftsführer: Harm Wurthmann, Monika Opitz<br>
                Amtsgericht Hannover<br>
                HRB 211607
			</p>
		</td>
	</tr>

</f:section>