<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">

        <aside>
            <div class="contentbox">
                <div class="labels">
                        <span class="label--outlined">
                          Veranstaltung
                        </span>
                    <span class="label--outlined">
                          Vortrag
                        </span>
                    <span class="label--outlined">
                          Studie
                        </span>
                </div>
                <f:if condition="<rkwBasics:isEmpty string='{data.tx_gridelements_view_column_10}' /> == 0">
                    <f:format.raw>{data.tx_gridelements_view_column_10}</f:format.raw>
                </f:if>
            </div>
            <f:if condition="<rkwBasics:isEmpty string='{data.tx_gridelements_view_column_20}' /> == 0">
                <f:format.raw>{data.tx_gridelements_view_column_20}</f:format.raw>
            </f:if>
            <f:if condition="<rkwBasics:isEmpty string='{data.tx_gridelements_view_column_30}' /> == 0">
                <div class="contentbox contentbox__lastrow text-small">
                    <f:format.raw>{data.tx_gridelements_view_column_30}</f:format.raw>
                </div>
            </f:if>
        </aside>

    </f:section>
</html>
