{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="<rkwBasics:isEmpty string='{data.tx_gridelements_view_column_40}' /> == 0">
        <div role="contentinfo" class="promoters" aria-labelledby="section-header-{data.uid}">
            <div>
                <span class="promoters__headline" id="section-header-{data.uid}">
                    {data.header}
                </span>

                <div class="promoters__item-list">
                    <f:format.raw>{data.tx_gridelements_view_column_40}</f:format.raw>
                </div>
            </div>
        </div>
    </f:if>
</html>
