<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">
        <f:if condition="<rkwBasics:isEmpty string='{data.tx_gridelements_view_column_40}' /> == 0">
            <div id="c{data.uid}" class="contentbox content-padding-layoutmax speaker-mod">
                <div class="flex-container">
                    <h3 class="headline headline--underlined headline--underlined-primary">{data.header}</h3>
                </div>
                <div class="speaker-header" style="background-image:url('{f:uri.image(image:images.0,cropVariant:'default')}')">
                    <blockquote class="blockquote-specials">
                        {data.subheader}
                    </blockquote>
                </div>
                <div class="speaker-list-wrapper">
                    <f:format.raw>{data.tx_gridelements_view_column_40}</f:format.raw>
                </div>
            </div>
        </f:if>
    </f:section>

</html>
