<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{settings.socialMediaShare} == 1">

        <div class="sharing nav flex-basis-12">
            <p class="sharing__label"><f:translate key="{settings.themeLanguageFile}:partials.gridElements.contentContainer.sharing.label" /></p>
            <ul class="sociallist">
                <li class="sociallist__item">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.socialMedia.shareUrl')}" 
                        target="_blank" 
                        title="Facebook" 
                        rel="nofollow">
                        <svg class="icon icon--24">
                            <use xlink:href="#ic-facebook" />
                        </svg>
                    </a>
                </li>
                <li class="sociallist__item">
                    <a href="https://twitter.com/intent/tweet?url={f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.socialMedia.shareUrl')}" 
                        target="_blank" 
                        title="Twitter" 
                        rel="nofollow">
                        <svg class="icon icon--24">
                            <use xlink:href="#ic-twitter" />
                        </svg>
                    </a>
                </li>
                <li class="sociallist__item">
                    <a href="https://www.xing.com/app/user?op=share;url={f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.socialMedia.shareUrl')}" 
                        target="_blank" 
                        title="XING" 
                        rel="nofollow">
                        <svg class="icon icon--24">
                            <use xlink:href="#ic-xing" />
                        </svg>
                    </a>
                </li>
                <li class="sociallist__item">
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.socialMedia.shareUrl')}" 
                        target="_blank" 
                        title="LinkedIn" 
                        rel="nofollow">
                        <svg class="icon icon--24">
                            <use xlink:href="#ic-linkedin" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </f:if>

</html>