{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}

<f:layout name="{pageLayoutSwitch}" />

<f:section name="content">

    <!-- top-menu -->
    <f:render partial="SubNav" section="Default" arguments="{_all}"/>

    <!-- schema.org -->
    <f:render partial="SchemaOrg" section="Default" arguments="{_all}"/>

    <div class="page-area-grid">
        <div class="article">

            <article class="project-article" aria-labelledby="article-headline">

                <!-- key-visual and slogan -->
                <f:render partial="KeyVisualHeadline" section="Tools" arguments="{_all}"/>

                <!-- infobox -->
                <f:render partial="InfoBox/Article" arguments="{_all}"/>

                <!-- main part -->
                <div class="content-box content">

                    <!-- breadcrumb -->
                    <f:format.html parseFuncTSPath="">{breadcrumbNav}</f:format.html>

                    <!-- content -->
                    <div class="wysiwyg">
                        <f:format.html parseFuncTSPath="">{content}</f:format.html>
                    </div>

                    <!-- image resources -->
                    <f:if condition="<rkwBasics:isEmpty string='{imageResourcesArticles}' /> == 0">
                        <div class="media-sources {f:if(condition: '<rkwBasics:isEmpty string=\'{callToAction}\' /> == 0', then: 'media-sources--space')}" role="contentinfo">
                            <strong><f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:templates_article.imageResources" />: </strong>
                            <f:format.html parseFuncTSPath="">{imageResourcesArticles}</f:format.html>
                        </div>
                    </f:if>
                </div>

                <f:format.html parseFuncTSPath="">{callToAction}</f:format.html>


                <footer class="article-footer">

                    <!-- print and save -->
                    <f:render partial="ArticleFooter/PrintSave" arguments="{_all}"/>

                    <!-- social media -->
                    <f:render partial="ArticleFooter/SocialMedia" arguments="{_all}"/>
                </footer>
            </article>

            <!-- boxes -->
            <f:render partial="AdditionalBoxes" section="Article" arguments="{_all}"/>

        </div>

    </div>

</f:section>

