{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}
<f:layout name="{pageLayoutSwitch}" />

<f:section name="content">

    <!-- top-menu -->
    <f:render partial="SubNav" section="Default" arguments="{_all}"/>

    <div class="page-area-grid">
        <div class="article">


            <article class="project-article" aria-labelledby="article-headline">

                <!-- key-visual and slogan -->
                <f:render partial="Keyvisual/Article" arguments="{_all}"/>

                <!-- infobox -->
                <f:render partial="InfoBox" section="Default" arguments="{_all}"/>

                <!-- content -->
                <f:format.html parseFuncTSPath="">{content}</f:format.html>

                <!-- footer -->
                <footer class="article-footer">

                    <!-- print and save -->
                    <f:render partial="Common/PrintSave" arguments="{_all}"/>

                    <!-- social media -->
                    <f:render partial="Common/SocialMedia" arguments="{_all}"/>
                </footer>
            </article>


            <div class="sections narrow">

                <!-- alerts -->
                <f:render partial="AlertsBox" arguments="{_all}"/>

                <!-- boxes -->
                <f:format.html parseFuncTSPath="">{boxesContentArticle}</f:format.html>

            </div>

        </div>

        <!-- related -->
        <f:format.html parseFuncTSPath="">{relatedBoxes}</f:format.html>
    </div>

</f:section>

