<f:layout name="{pageLayoutSwitch}" />

<f:section name="content">

	<header class="page-headings page-headings--no-image">
		<f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.headlineExpert" data="{data}" />
	</header>

	<!-- details -->
	<div class="expert-grid">

		<f:format.html parseFuncTSPath="">{content}</f:format.html>

        <!-- further boxes -->
        <div class="sections">
			<f:cObject typoscriptObjectPath="lib.txRkwTemplate.expert.work" data="{data}" />
		</div>
	</div>

</f:section>
