{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}

<f:layout name="{pageLayoutSwitch}" />

<f:section name="content">

    <!-- top-menu -->
    <f:if condition="'{pageLayoutSwitch}' == 'Microsite'">
        <f:render partial="SubNav" section="Default" arguments="{_all}"/>
    </f:if>

    <!-- Slider Section -->
    <f:format.html parseFuncTSPath="">{sliderHome}</f:format.html>

    <!-- Statement and topic-boxes -->
    <f:format.html parseFuncTSPath="">{boxTask}</f:format.html>

    <f:if condition="<rkwBasics:isEmpty string='{boxSpecial}' /> == 0">
        <f:format.html parseFuncTSPath="">{boxSpecial}</f:format.html>
    </f:if>

    <f:format.html parseFuncTSPath="">{boxTopics}</f:format.html>

    <!-- Video -->
    <f:format.html parseFuncTSPath="">{htmlOnly}</f:format.html>

    <!-- News Section -->
    <f:format.html parseFuncTSPath="">{newsContent}</f:format.html>


    <!-- Content -->
    <f:if condition="<rkwBasics:isEmpty string='{content}' /> == 0">
        <section role="main" aria-labelledby="headline-content">
            <div class="section-header">
                <h2 id="headline-content">
                    <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:templates_home.headlineContent"/>
                </h2>
            </div>
            <div class="content-box content first-letter-normal wysiwyg">
                <f:format.html parseFuncTSPath="">{content}</f:format.html>
            </div>
        </section>
    </f:if>


    <!-- Partner boxes -->
    <f:if condition="<rkwBasics:isEmpty string='{logoBoxesHome}' /> == 0">
        <f:format.html parseFuncTSPath="">{logoBoxesHome}</f:format.html>
    </f:if>

    <!-- Partner boxes II -->
    <f:if condition="<rkwBasics:isEmpty string='{logoBoxesHome2}' /> == 0">
        <f:format.html parseFuncTSPath="">{logoBoxesHome2}</f:format.html>
    </f:if>


</f:section>
