<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="{pageLayoutSwitch}" />

    <f:section name="content">

        <!-- top-menu -->
        <f:render partial="SubNav" section="Default" arguments="{_all}"/>

        <div class="page-area-grid content-page__content">
            <div class="article">
                <article class="publications-article {f:if(condition: '{f:cObject(typoscriptObjectPath:\'lib.txRkwTemplate.publication.isSubPage\', data:\'{data}\')} == \'1\'', then: 'publications-article--chapter')}" aria-labelledby="article-headline">

                    <!-- key-visual-->
                    <f:render partial="Keyvisual/Publication" arguments="{_all}"/>

                    <!-- info box -->
                    <f:render partial="InfoBox/Publication" arguments="{_all}"/>

                    <!-- content -->
                    <f:format.html parseFuncTSPath="">{content}</f:format.html>

                    <!-- share, print and save -->
                    <footer class="article-footer">
                        <f:render partial="SharePrint/PrintSave" arguments="{_all}"/>
                        <f:render partial="SharePrint/SocialMedia" arguments="{_all}"/>
                    </footer>
                </article>

                <div class="sections narrow">

                    <!-- boxes -->
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.boxesPublication" data="{data}" />
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.boxesPublicationInherit" data="{data}" />

                </div>
            </div>

            <!-- related -->
            <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.related" data="{data}" />

        </div>

    </f:section>

</html>