{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}
<f:layout name="{pageLayoutSwitch}" />

<f:section name="content">

    <!-- top-menu -->
    <f:render partial="SubNav" section="Default" arguments="{_all}"/>

    <!-- key-visual -->
    <f:render partial="Keyvisual/Header" section="Default" arguments="{_all}"/>

    <f:format.html parseFuncTSPath="">{keyvisual}</f:format.html>

    <f:if condition="{promoterBoxes}">
        <f:format.html parseFuncTSPath="">{promoterBoxes}</f:format.html>
    </f:if>

    <f:if condition="{content}">
        <div class="page-area-grid content-page__content">

            <!-- schema.org -->
            <f:render partial="SchemaOrg" section="Default" arguments="{_all}"/>

            <!-- article -->
            <div class="article">
                <article aria-labelledby="article-headline">
                    <div class="content-box content">

                        <!-- breadcrumb -->
                        <f:format.html parseFuncTSPath="">{breadcrumbNav}</f:format.html>

                        <!-- content -->
                        <div class="wysiwyg">
                            <f:format.html parseFuncTSPath="">{content}</f:format.html>
                        </div>

                        <!-- image resources -->
                        <f:if condition="<rkwBasics:isEmpty string='{imageResources}' /> == 0">
                            <div class="media-sources {f:if(condition: '<rkwBasics:isEmpty string=\'{callToAction}\' /> == 0', then: 'media-sources--space')}" role="contentinfo">
                                <strong><f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:templates_article.imageResources" />: </strong>
                                <f:format.html parseFuncTSPath="">{imageResources}</f:format.html>
                            </div>
                        </f:if>
                    </div>
                    <f:format.html parseFuncTSPath="">{callToAction}</f:format.html>
                </article>
            </div>


            <!-- additional information -->
            <aside class="related-box" aria-labelledby="headline-more-information">
                <h4 class="section-header h2" id="headline-more-information">
                    <f:translate key="LLL:EXT:rkw_template/Resources/Private/Language/Kompetenzzentrum/locallang.xlf:templates_topic.headlineMoreInformation" />
                </h4>
                <div class="boxes-grid narrow inherit-color">
                    <f:if condition="{projectLogoBoxes}">
                        <f:format.html parseFuncTSPath="">{projectLogoBoxes}</f:format.html>
                    </f:if>
                    <f:format.html parseFuncTSPath="">{pageAuthorsBox}</f:format.html>
                    <f:format.html parseFuncTSPath="">{rightContent}</f:format.html>
                </div>
            </aside>
        </div>
    </f:if>


    <!-- box party - but not for MeinRKW ! -->
    <f:if condition="{pageLayoutType} != 7">
        <f:render partial="AdditionalBoxes" section="Topic" arguments="{_all}"/>
    </f:if>

</f:section>

