{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}
<f:layout name="{pageLayoutSwitch}" />

<f:section name="content">

    <!-- top-menu -->
    <f:render partial="SubNav" section="Default" arguments="{_all}"/>

    <!-- key-visual -->
    <f:render partial="Keyvisual/Topic" arguments="{_all}"/>

    <!-- promotion -->
    <f:if condition="{promotion}">
        <f:format.html parseFuncTSPath="">{promotion}</f:format.html>
    </f:if>

    <!-- content -->
    <f:if condition="{content}">
        <div class="page-area-grid content-page__content">
            <f:format.html parseFuncTSPath="">{content}</f:format.html>
        </div>
    </f:if>

    <!-- box party - but not for MeinRKW ! -->
    <f:if condition="{pageLayoutType} != 7">
        <div class="sections">

            <!-- alerts -->
            <f:render partial="AlertsBox" arguments="{_all}"/>

            <!-- boxes -->
            <f:format.html parseFuncTSPath="">{boxesContentTopic}</f:format.html>
            <f:format.html parseFuncTSPath="">{boxesContentInherit}</f:format.html>

        </div>
    </f:if>

</f:section>

