<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <header class="page-header">
        <div class="page-header__content container">
            <figure class="page-header__logo-container">
                <a href="https://www.rkw-kompetenzzentrum.de" target="_blank" class="page-header__logo">
                    <img src="{settings.websiteLogoFile}" alt="{settings.websiteName}" class="page-header__logo-image">
                </a>
            </figure>
        </div>
    </header>
</html>