<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.keyvisual.publication')}">
        <f:then>
            <div class="siteheader flex siteheader-full" style="background-image: url('{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.keyvisual.publication')}')">
                <f:render section="Sub" arguments="{_all}"/>
            </div>
        </f:then>
        <f:else>
            <div class="siteheader flex siteheader-full">
                <f:render section="Sub" arguments="{_all}"/>
            </div>
        </f:else>
    </f:if>

    <f:comment><!-- ======================================================================== --></f:comment>

    <f:section name="Sub">

        <!-- title -->
        <f:if condition="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.publication.isSubPage')}">
            <f:then>
                <f:render partial="HeaderSection/Publication/Sub" arguments="{_all}"/>
            </f:then>
            <f:else>
                <f:render partial="HeaderSection/Publication/Default" arguments="{_all}"/>
            </f:else>
        </f:if>

        <!-- infobox -->
        <f:render partial="InfoBox/Publication" arguments="{_all}" />

    </f:section>
</html>



