<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


    <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.keyvisual.topic')}">
        <f:then>
            <div class="siteheader flex siteheader--half" style="background-image: url('{f:cObject(typoscriptObjectPath: 'lib.txRkwTemplate.keyvisual.topic')}')">
                <f:render section="Sub" arguments="{_all}"/>
            </div>
        </f:then>
        <f:else>
            <div class="siteheader flex siteheader--no-image">
                <f:render section="Sub" arguments="{_all}"/>
            </div>
        </f:else>
    </f:if>

    <f:comment><!-- ======================================================================== --></f:comment>

    <f:section name="Sub">

        <div class="siteheader__title siteheader__title--primary text-white">

            <!-- title -->
            <h1 class="h1 h1--white">
                <f:format.raw><f:format.crop maxCharacters="100" respectWordBoundaries="false">{data.title}</f:format.crop></f:format.raw>
            </h1>
            <f:if condition="{data.abstract}">

                <!-- abstract -->
                <f:then>
                    <div class="siteheader__intro">
                        <p>
                            <f:format.crop maxCharacters="180" respectWordBoundaries="true"><f:format.html>{data.abstract}</f:format.html></f:format.crop>
                        </p>
                    </div>
                </f:then>

                <!-- subtitle -->
                <f:else>
                    <f:if condition="{data.subtitle}">
                        <div class="siteheader__intro">
                            <p>
                                <f:format.crop maxCharacters="150" respectWordBoundaries="false"><f:format.raw>{data.subtitle}</f:format.raw></f:format.crop>
                            </p>
                        </div>

                    </f:if>
                </f:else>
            </f:if>
        </div>
    </f:section>
</html>



