
<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<h2 id="tx-rkwevents-reservation" class="no-space"><f:translate key="tx_rkwevents_fluid.templates_eventReservation_new.headline" /></h2>

    <f:comment>
        <f:if condition="{frontendUser}">
            <f:else>
                <p><f:translate key="tx_rkwevents_fluid.templates_eventReservation_new.hint_reservation" /></p>
            </f:else>
        </f:if>
    </f:comment>

    <f:render partial="FlashMessages" arguments="{_all}" />
    <f:render partial="FormErrors" arguments="{object:Event}" />

	<f:form class="form-fields" action="create" enctype="multipart/form-data"  name="newEventReservation" object="{newEventReservation}">

		<!-- We need both versions here -->
		<f:form.hidden name="event" value="{event.uid}" />
		<f:form.hidden property="event" />

		<f:render partial="EventReservation/FormFieldsMaster" arguments="{_all}"/>

        <f:if condition="{event.regSingle}">
            <f:then><!-- no further participants to sign up --></f:then>
            <f:else>
		        <f:render partial="EventReservation/FormFieldsSub" arguments="{_all}"/>
            </f:else>
        </f:if>

	</f:form>

</f:section>