{namespace dv=RKW\RkwEvents\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">


	<h2><f:translate key="tx_rkwevents_fluid.templates_eventReservation_show.headline" /></h2>
	<p><f:translate key="tx_rkwevents_fluid.templates_eventReservation_show.introduction" arguments="{0: event.title}"/></p>

    <f:render partial="FlashMessages" arguments="{_all}" />

    <f:render partial="EventReservation/Properties" arguments="{eventReservation:eventReservation}" />

	<f:link.action action="myEvents" controller="Event" arguments="{event:event}" class="button secondary">
		<span><f:translate key="tx_rkwevents_fluid.templates_eventReservation_show.backButton" /></span>
	</f:link.action>
</f:section>