<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:section name="Header">
        <f:if condition="{data.header}">
            <f:then>
                <section role="complementary" aria-labelledby="section-header-{data.uid}" class="padding-mobile">
                    <h4 class="h2 section-header" id="section-header-{data.uid}">
                        {data.header}
                    </h4>
            </f:then>
            <f:else>
                <section aria-labelledby="article-headline" role="search">
            </f:else>
        </f:if>
    </f:section>


    <f:section name="Footer">
        </section>
    </f:section>
</html>