{namespace vh=RKW\RkwRegistration\ViewHelpers}

<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

	<h2><f:translate key="templates_service_list.headline" /></h2>

	<f:render partial="FlashMessages" arguments="{_all}" />

	<dl>
		<f:for each="{frontendUserGroups}" as="frontendUserGroup" iteration="iterator">

			<dt>{frontendUserGroup.title}
				<f:if condition="{frontendUserGroup.txRkwregistrationServiceOpeningDate} > <vh:getTodaysDate/>">
					&nbsp;(<f:translate key="templates_service_list.serviceComingSoon" /> <f:format.date format="d.m.Y">{frontendUserGroup.txRkwregistrationServiceOpeningDate}</f:format.date>)
				</f:if>
			</dt>
			<dd>
				<p>{frontendUserGroup.description}</p>
				<f:if condition="{frontendUserGroup.txRkwregistrationServiceOpeningDate} <= <vh:getTodaysDate/>">
					<f:then>
						<f:if condition="<vh:isGroupInServiceInquiryList groupId='{frontendUserGroup.uid}' serviceInquiries='{serviceInquiries}' /> == 0">
							<f:then>
								<f:if condition="<vh:isUserInGroup groupId='{frontendUserGroup.uid}' groupsOfFrontendUser='{groupsOfFrontendUser}' /> == 0">
									<f:then>
										<f:link.action action="create" arguments="{frontendUserGroup : frontendUserGroup}" class="button">
											<span><f:translate key="templates_service_list.joinService" /></span>
										</f:link.action>
									</f:then>
									<f:else>
										<f:if condition="{frontendUserGroup.txRkwregistrationServicePid}">
											<f:link.page pageUid="{frontendUserGroup.txRkwregistrationServicePid}"  class="button">
												<span><f:translate key="templates_service_list.startNow" /></span>
											</f:link.page>
										</f:if>
										<f:link.action action="delete" arguments="{frontendUserGroup : frontendUserGroup}" class="button secondary">
											<span><f:translate key="templates_service_list.resignService" /></span>
										</f:link.action>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<f:if condition="<vh:isGroupInServiceInquiryListAndEnabledByAdmin groupId='{frontendUserGroup.uid}' serviceInquiries='{serviceInquiriesAdmin}' /> == 1">
									<f:then>
										<p class="text-message">
											<f:translate key="templates_service_list.additionalProfileData" />
										</p>
										<f:link.action pageUid="{editUserPid}" action="editUser" controller="Registration" class="button">
											<span><f:translate key="templates_service_list.checkProfile" /></span>
										</f:link.action>
									</f:then>
									<f:else>
										<p class="text-message">
											<f:translate key="templates_service_list.adminRequestPending" />
										</p>
									</f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:then>
				</f:if>
				<f:if condition="{iterator.isLast} != 1">
					<p>&nbsp;</p>
				</f:if>
			</dd>
		</f:for>
	</dl>

</f:section>