<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Rkw" />

    <f:section name="Main">

        <f:if condition="{f:count(subject: images)} > 0">
            <f:then>
                <div class="testimonial__person">
                    <div class="testimonial__image">
                        <img src="{f:uri.image(image:images.0,cropVariant:'default')}" alt="{image.title}" loading="lazy">
                    </div>
                    <div class="testimonial__name">{data.header}</div>
                </div>
            </f:then>
            <f:else>
                <div class="testimonial__person testimonial__person--no-image">
                    <div class="testimonial__name">{data.header}</div>
                </div>
            </f:else>
        </f:if>

        <blockquote class="testimonial__text">
            <f:format.nl2br><f:format.stripTags>{data.bodytext}"</f:format.stripTags></f:format.nl2br>
        </blockquote>

    </f:section>
</html>




