<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    xmlns:rkwEtracker="http://typo3.org/ns/RKW/RkwEtracker/ViewHelpers"
    data-namespace-typo3-fluid="true">
    <f:if condition="<rkwBasics:isEmpty string='{data.bodytext}' /> == 0">
        <f:then>
            <h4 class="headline headline--underlined">{data.header}</h4>
            <p>
                <f:format.nl2br><f:format.stripTags>{data.bodytext}</f:format.stripTags></f:format.nl2br>
            </p>
        </f:then>
        <f:else>
            <h4 class="headline">{data.header}</h4>
        </f:else>
    </f:if>

    <f:if condition="{data.header_link}">
        <rkwEtracker:link.typolink parameter="{data.header_link}" class="btn btn--primary introtext__button">
            <f:if condition="{data.rowDescription}">
                <f:then>
                    {data.rowDescription}
                </f:then>
                <f:else>
                    <f:if condition="{settings.themeLanguageFile}">
                        <f:then>
                            <f:translate key="{settings.themeLanguageFile}:partials.contentElements.topic.readMore" />
                        </f:then>
                        <f:else>
                            {data.header}
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>

        </rkwEtracker:link.typolink>
    </f:if>

</html>
