{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}

<f:render partial="Basics/BrowserWarning" />

<!-- Page header -->
<f:render partial="Basics/Header" section="Microsite" arguments="{_all}"/>

<div class="page-wrap">

	<!-- Main Part -->
    <div class="page-content-wrapper"></div>

	<div class="container" id="page-top">
		<main id="main">
            <f:render partial="Basics/Logo" section="Microsite"  />
            <f:render section="content" />
		</main>
	</div>

	<!-- Footer -->
	<f:render partial="Basics/Footer" arguments="{_all}"/>

	<!-- Overlay -->
	<f:cObject typoscriptObjectPath="lib.txRkwTemplate.various.overlayMeinRKW" data="{data}" />

</div>
