{namespace rkw=RKW\RkwEvents\ViewHelpers}
{namespace rkwRegistration=RKW\RkwRegistration\ViewHelpers}

<!-- Main contact left -->
<div class="v320-1-of-2">


	<div class="v320-1">
		<label class="form-label" for="tx_rkwevents_pi1_salutation">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.salutation" />
			<f:if condition="<rkw:isMandatoryField fieldName='salutation' mandatoryFields='{settings.mandatoryFields.eventReservationMainPerson}' />">
				<span class='optional'>&nbsp;<f:translate key="tx_rkwevents_fluid.label_optional" /></span>
			</f:if>
		</label>
		<f:form.select property="salutation" id="tx_rkwevents_pi1_salutation" value="{f:if(condition:'\'{newEventReservation.salutation}\' == 99 || {editMode}',then:'{newEventReservation.salutation}',else:'{frontendUser.txRkwregistrationGender}')}" options="{99: '{f:translate(key: \'tx_rkwevents_domain_model_eventreservation.salutation.I.99\')}', 0: '{f:translate(key: \'tx_rkwevents_domain_model_eventreservation.salutation.I.0\')}', 1: '{f:translate(key: \'tx_rkwevents_domain_model_eventreservation.salutation.I.1\')}'}" />
	</div>

	<div class="v320-1">
		<label class="form-label" for="tx_rkwevents_pi1_firstName">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.firstName" />
			<f:if condition="<rkw:isMandatoryField fieldName='firstName' mandatoryFields='{settings.mandatoryFields.eventReservationMainPerson}' />">
				<span class='optional'>&nbsp;<f:translate key="tx_rkwevents_fluid.label_optional" /></span>
			</f:if>
		</label>
		<f:form.textfield property="firstName" id="tx_rkwevents_pi1_firstName" value="{f:if(condition:'{newEventReservation.firstName} || {editMode}',then:'{newEventReservation.firstName}',else:'{frontendUser.firstName}')}" additionalAttributes="{autocomplete:'fname'}" />
	</div>

	<div class="v320-1">
		<label class="form-label" for="tx_rkwevents_pi1_lastName">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.lastName" />
			<f:if condition="<rkw:isMandatoryField fieldName='lastName' mandatoryFields='{settings.mandatoryFields.eventReservationMainPerson}' />">
				<span class='optional'>&nbsp;<f:translate key="tx_rkwevents_fluid.label_optional" /></span>
			</f:if>
		</label>
		<f:form.textfield property="lastName" id="tx_rkwevents_pi1_lastName" value="{f:if(condition:'{newEventReservation.lastName} || {editMode}',then:'{newEventReservation.lastName}',else:'{frontendUser.lastName}')}" additionalAttributes="{autocomplete:'lname'}" />
	</div>

	<div class="v320-1">
		<label class="form-label" for="tx_rkwevents_pi1_email">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.email" />
			<f:if condition="<rkw:isMandatoryField fieldName='email' mandatoryFields='{settings.mandatoryFields.eventReservationMainPerson}' />">
				<span class='optional'>&nbsp;<f:translate key="tx_rkwevents_fluid.label_optional" /></span>
			</f:if>
		</label>

		<f:if condition="{validFrontendUserEmail} || {editMode}">
			<f:then>
				<f:form.textfield property="email" type="email" id="tx_rkwevents_pi1_email" value="{frontendUser.email}" additionalAttributes="{autocomplete: 'email', readonly: 'readonly'}" class="readonly"/>
			</f:then>
			<f:else>
				<f:form.textfield property="email" type="email" id="tx_rkwevents_pi1_email" value="{newEventReservation.email}" additionalAttributes="{autocomplete: 'email'}" />
			</f:else>
		</f:if>
	</div>
</div>


<!-- Main contact right -->
<div class="v320-2-of-2">

	<div class="v320-1">
		<label class="form-label" for="tx_rkwevents_pi1_company">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.company" />
			<f:if condition="<rkw:isMandatoryField fieldName='company' mandatoryFields='{settings.mandatoryFields.eventReservationMainPerson}' />">
				<span class='optional'>&nbsp;<f:translate key="tx_rkwevents_fluid.label_optional" /></span>
			</f:if>
		</label>
		<f:form.textfield  property="company" id="tx_rkwevents_pi1_company" value="{f:if(condition:'{newEventReservation.company} || {editMode}',then:'{newEventReservation.company}',else:'{frontendUser.company}')}" />
	</div>


	<div class="v320-1">
		<label class="form-label" for="tx_rkwevents_pi1_address">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.address" />
			<f:if condition="<rkw:isMandatoryField fieldName='address' mandatoryFields='{settings.mandatoryFields.eventReservationMainPerson}' />">
				<span class='optional'>&nbsp;<f:translate key="tx_rkwevents_fluid.label_optional" /></span>
			</f:if>
		</label>
		<f:form.textfield  property="address" id="tx_rkwevents_pi1_address" value="{f:if(condition:'{newEventReservation.address} || {editMode}',then:'{newEventReservation.address}',else:'{frontendUser.address}')}" additionalAttributes="{autocomplete:'address'}" />
	</div>


	<div class="v320-1">
		<label class="form-label" for="tx_rkwevents_pi1_zip">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.zip" />
			<f:if condition="<rkw:isMandatoryField fieldName='zip' mandatoryFields='{settings.mandatoryFields.eventReservationMainPerson}' />">
				<span class='optional'>&nbsp;<f:translate key="tx_rkwevents_fluid.label_optional" /></span>
			</f:if>
		</label>
		<f:form.textfield property="zip" id="tx_rkwevents_pi1_zip" value="{f:if(condition:'{newEventReservation.zip} || {editMode}',then:'{newEventReservation.zip}',else:'{frontendUser.zip}')}" additionalAttributes="{autocomplete:'zip'}" />
	</div>

	<div class="v320-1">
		<label class="form-label" for="tx_rkwevents_pi1_city">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.city" />
			<f:if condition="<rkw:isMandatoryField fieldName='city' mandatoryFields='{settings.mandatoryFields.eventReservationMainPerson}' />">
				<span class='optional'>&nbsp;<f:translate key="tx_rkwevents_fluid.label_optional" /></span>
			</f:if>
		</label>
		<f:form.textfield property="city" id="tx_rkwevents_pi1_city" value="{f:if(condition:'{newEventReservation.city} || {editMode}',then:'{newEventReservation.city}',else:'{frontendUser.city}')}" additionalAttributes="{autocomplete:'city'}" />
	</div>

	<!--
	<div class="v320-1">
		<label class="form-label" for="tx_rkwevents_pi1_phone">
			<f:translate key="tx_rkwevents_domain_model_eventreservation.telephone" />
			<f:if condition="<rkw:isMandatoryField fieldName='phone' mandatoryFields='{settings.mandatoryFields.eventReservationMainPerson}' />">
				<span class='optional'>&nbsp;<f:translate key="tx_rkwevents_fluid.label_optional" /></span>
			</f:if>
		</label>
		<f:form.textfield property="phone" id="tx_rkwevents_pi1_phone" value="{f:if(condition:'{newEventReservation.phone} || {editMode}',then:'{newEventReservation.phone}',else:'{frontendUser.telephone}')}" additionalAttributes="{autocomplete:'tel'}" placeholder="<f:translate key='tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.placeholder.phone' />" />
	</div>
	-->

</div>


<!-- workshops -->
<f:if condition="{event.workshop1}">
	<div class="v320-1">
		<h5>
			<f:translate key="tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.workshop1" />
		</h5>
		<f:for each="{event.workshop1}" as="workshop" iteration="iter">
			<f:render partial="EventReservation/Workshop" arguments="{workshop: workshop, workshopUnit: 'workshop1', frontendUser: frontendUser}"/>
			<if condition="!{iter.islast}">
				<br>
			</if>
		</f:for>
	</div>
</f:if>
<f:if condition="{event.workshop2}">
	<div class="v320-1">
		<h5>
			<f:translate key="tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.workshop2" />
		</h5>
		<f:for each="{event.workshop2}" as="workshop" iteration="iter">
			<f:render partial="EventReservation/Workshop" arguments="{workshop: workshop, workshopUnit: 'workshop2', frontendUser: frontendUser}"/>
		</f:for>
		<if condition="!{iter.islast}">
			<br>
		</if>
	</div>
</f:if>
<f:if condition="{event.workshop3}">
	<div class="v320-1">
		<h5>
			<f:translate key="tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.workshop3" />
		</h5>
		<f:for each="{event.workshop3}" as="workshop" iteration="iter">
			<f:render partial="EventReservation/Workshop" arguments="{workshop: workshop, workshopUnit: 'workshop3', frontendUser: frontendUser}"/>
		</f:for>
		<if condition="!{iter.islast}">
			<br>
		</if>
	</div>
</f:if>


<!-- remark and questions -->
<div class="v320-1">
	<label class="form-label" for="tx_rkwevents_pi1_remark">
		<f:translate key="tx_rkwevents_domain_model_eventreservation.remark" />
		<f:if condition="<rkw:isMandatoryField fieldName='remark' mandatoryFields='{settings.mandatoryFields.eventReservationMainPerson}' />">
			<span class='optional'>&nbsp;<f:translate key="tx_rkwevents_fluid.label_optional" /></span>
		</f:if>
	</label>
	<f:form.textarea property="remark" id="tx_rkwevents_pi1_remark" rows="3" placeholder="<f:translate key='tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.placeholder.remark' />" />
</div>

<f:if condition="{editMode}">
	<f:else>
		<div class="v320-1">
			<span class="checkbox">
				<label>
					<f:form.checkbox class="feedback-field" name="terms" value="1" />
					<span class="text-smaller">
						<f:translate key="tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.termsIntro" /> <f:link.page pageUid="{settings.termsPid}" target="_blank"><f:translate key="tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.terms" /></f:link.page>
						<f:if condition="{settings.terms2Pid}">
							<f:translate key="tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.terms2Intro" /> <f:link.page pageUid="{settings.terms2Pid}" target="_blank"><f:translate key="tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.terms2" /></f:link.page>
						</f:if>
                        <f:translate key="tx_rkwevents_fluid.partials_eventReservation_formFieldsMaster.terms3" />
					</span>
				</label>
			</span>
			<span class="checkbox">
            <label>
                <f:form.checkbox name="privacy" value="1" />
				<rkwRegistration:privacyText textVersion="events"/>
            </label>
        </span>
		</div>
	</f:else>
</f:if>


<!-- Button Set -->
<f:render partial="EventReservation/ButtonSet" arguments="{_all}"/>




