<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:postmaster="http://typo3.org/ns/Madj2k/Postmaster/ViewHelpers"
	data-namespace-typo3-fluid="true">


	<!-- PLAINTEXT -->
	<f:section name="Plaintext">
		<f:if condition="{topics} && !{isWebView}">
			##################################################\n
			<postmaster:email.translate key="partials_newsletter_global_footer.subscriptionHeadline" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />\n
			##################################################\n
			\n
			<postmaster:email.translate key="partials_newsletter_global_footer.subscriptionTopics" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />\n
			<f:for each="{topics}" as="topic">
				– {topic.name}<f:if condition="{topic.isSpecial}"> (<postmaster:email.translate key="partials_newsletter_global_footer.specialTopic" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />)</f:if>\n
			</f:for>
			\n
			<f:if condition="{hash}">
				<postmaster:email.translate key="partials_newsletter_global_footer.subscriptionText" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />\n
				<postmaster:email.translate key="partials_newsletter_global_footer.subscriptionLink" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />: <postmaster:email.uri.action action="edit" controller="Subscription" extensionName="rkwNewsletter" pluginName="Subscription" pageUid="{settings.subscriptionPid}" absolute="true" queueMail="{queueMail}" arguments="{hash: hash}" noCacheHash="true" />\n
				\n
			</f:if>
		</f:if>
		----------------------------------------------------------------------------------------------------------------------------------\n
		\n
		RKW Bayern e. V.\n
		c/o Bayerischer Handwerkstag e. V.\n
		Max-Joseph-Str. 4\n
		80333 München\n
		\n
		Geschäftsführer: Josef Wissinger\n
		Amtsgericht München\n
		VR 16445
	</f:section>


	<!-- HTML -->
	<f:section name="Html">
		<f:if condition="{topics} && !{isWebView}">
			<tr>
				<td style="padding-top:48px;">
					<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; font-family: 'Arial', sans-serif; font-size: 14px">
						<tr>
							<td style="padding: 12px 16px; font-size: 16px; color:#fff; font-weight: 700; line-height: 16px; text-transform: uppercase; background: #303030; ">
								<postmaster:email.translate key="partials_newsletter_global_footer.subscriptionHeadline" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />
							</td>
						</tr>
						<tr>
							<td style="padding: 12px 16px 8px 16px; line-height: 20px;">
								<postmaster:email.translate key="partials_newsletter_global_footer.subscriptionTopics" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />
							</td>
						</tr>
						<tr>
							<td style="padding: 0 16px; line-height: 20px;">
								<f:for each="{topics}" as="topic">
									&ndash;&nbsp;&nbsp;{topic.name}<f:if condition="{topic.isSpecial}"> (<postmaster:email.translate key="partials_newsletter_global_footer.specialTopic" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />)</f:if><br/>
								</f:for>
							</td>
						</tr>
						<f:if condition="{hash}">
						<tr>
							<td style="padding: 12px 16px; line-height: 20px; font-weight:700">
								<postmaster:email.translate key="partials_newsletter_global_footer.subscriptionText" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" />
								<a style="color:#E64415;" href="<postmaster:email.uri.action action='edit' controller='Subscription' extensionName='rkwNewsletter' pluginName='Subscription' pageUid='{settings.subscriptionPid}' absolute='true' queueMail='{queueMail}' arguments='{hash: hash}' noCacheHash='true' />" target="_blank"><postmaster:email.translate key="partials_newsletter_global_footer.subscriptionLink" languageKey="{queueRecipient.languageCode}" extensionName="rkwNewsletter" /></a>
							</td>
						</tr>
						</f:if>
					</table>
				</td>
			</tr>
		</f:if>

		<tr>
			<td style="padding: 32px 16px 0 16px">
				<p style="margin: 0; padding: 9px 0 9px; border-top: 1px solid #333; font-size: 12px; line-height:12px;">
					&nbsp;
				</p>
			</td>
		</tr>

		<tr>
			<td style="padding: 0 16px 16px 16px" class="footer">
				<p>
					RKW Bayern e. V.<br>
					c/o Bayerischer Handwerkstag e. V.<br>
					Max-Joseph-Str. 4<br>
					80333 München<br>
					<a href="https://www.rkwbayern.de">www.rkwbayern.de</a><br><br>
					Geschäftsführer: Josef Wissinger<br>
					Amtsgericht München<br>
					VR 16445
				</p>
			</td>
		</tr>

	</f:section>

</html>
