<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.pageInfo.projectLink', data:'{data}')}">
        <f:then>
            <p>
                <strong>
                    <f:translate key="{settings.themeLanguageFile}:partials.infoBox.partials.project.labelProject"/>:
                </strong>
                <f:cObject typoscriptObjectPath="lib.txRkwTemplate.pageInfo.projectLink" data="{data}" />
        </f:then>
        <f:else>
            <f:if condition="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.pageInfo.projectName', data:'{data}')}">
                <p>
                    <strong>
                        <f:translate key="{settings.themeLanguageFile}:partials.infoBox.partials.project.labelProject"/>:
                    </strong>
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.pageInfo.projectName" data="{data}" />
                </p>
            </f:if>
        </f:else>
    </f:if>

</html>
