{namespace rkwAuthors=RKW\RkwAuthors\ViewHelpers}

<f:if condition="{author}" >

	<f:if condition="{author.imageBoxes}" >
		<f:then>
			<figure><f:image src="{author.imageBoxes.uid}" treatIdAsReference="1"  alt="<rkwAuthors:GetCombinedName author='{author}' />" width="152c" height="152c"  /></figure>
		</f:then>
		<f:else>
			<figure><f:image src="EXT:rkw_authors/Resources/Public/Images/author-box-small-fallback.jpg" alt="<rkwAuthors:GetCombinedName author='{author}' />" width="152c" height="152c"  /></figure>
		</f:else>
	</f:if>

	<div class="person-info">
		<p class="name">
            <f:if condition="<rkwAuthors:and and1='{author.internal}' and2='{showPid}' />">
				<f:then>
					<f:link.action action="show" pageUid="{showPid}" arguments="{author: '{author}'}" target="{f:if(condition: '{settings.detailLinkTargetBlank} == 1', then: '_blank')}" title="<rkwAuthors:GetCombinedName author='{author}' />" >
						<rkwAuthors:GetCombinedName author="{author}" />
					</f:link.action>
				</f:then>
				<f:else>
					<rkwAuthors:GetCombinedName author="{author}" />
				</f:else>
			</f:if>
		</p>
		<div class="contact-info">
			<f:if condition="{author.phone}">
				<p class="contact">
					<a href="#" class="phone icon-phone text-hide"><span><rkwAuthors:GetFormattedPhoneNumber phoneExtensionLength="{settings.phoneExtensionLength}" author="{author}"/></span></a>
				</p>
			</f:if>
            <f:if condition='<rkwAuthors:ifContactFormIsActive author="{author}" />'>
                <f:then>
                    <f:link.page class="mail icon-mail text-hide" pageUid="{settings.contactForm.pageUid}" additionalParams="{tx_rkwauthors_rkwauthorscontactform: {author: author}}">&nbsp;&nbsp;<f:translate key="partials_authors_list_authors.contactForm" extensionName="rkwAuthors" /></f:link.page>
                </f:then>
                <f:else>
                    <f:if condition="{author.email}">
                        <p class="contact">
                            <f:link.email email="{author.email}" class="mail icon-mail text-hide">
                                E-Mail
                            </f:link.email>
                        </p>
                    </f:if>
                </f:else>
            </f:if>
		</div>
		<!--<p class="position">
			<f:format.crop maxCharacters="21" respectWordBoundaries="FALSE">{author.functionTitleShort}</f:format.crop>
		</p> -->
	</div>
</f:if>