<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutSwitch')}" />

    <f:section name="Header">

    </f:section>


    <!-- ======================================================================== -->


    <f:section name="Content">

        <main class="main flex-container space-between no-padding-narrow" id="main">
            <section class="section content flex-item flex-basis-9 full-width-smalldesk no-padding-narrow">

                <!-- header & infobox -->
                <f:render partial="HeaderSection/Article" arguments="{_all}" />

                <!-- breadcrumb-->
                <div class="breadcrumbs flex-container nav breadcrumb-padding">
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.navigation.breadcrumb" data="{data}" />
                </div>

                <!-- content -->
                <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.main" data="{data}" />
            </section>

            <!-- similar contents -->
            <f:render partial="Aside" arguments="{_all}" />


            <!-- boxes -->
            <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.boxesArticle" data="{data}" />

            <f:comment>
                    <!-- promotion -->
                    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.content.promotion', data:'{data}')}">
                        <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.promotion" data="{data}" />
                    </f:if>

                    <!-- content -->

                    <!-- box party - but not for MeinRKW ! -->
                    <f:if condition="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutType')} != 12">

                        <!-- alerts -->
                        <f:comment><f:render partial="AlertsBox" arguments="{_all}"/></f:comment>

                        <!-- boxes -->
                        <f:if condition="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.content.boxesTopic', data:'{data}')}">
                            <f:then>
                                <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.boxesTopic" data="{data}" />
                            </f:then>
                            <f:else>
                                <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.boxesTopicInherit" data="{data}" />
                            </f:else>
                        </f:if>
                    </f:if>
                </f:comment>
            </main>

    </f:section>



    <f:section name="content---old">

        <f:if condition="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutType')} == 22">
            <f:then>
                <f:render section="Special" arguments="{_all}"/>
            </f:then>
            <f:else>
                <f:if condition="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutType')} == 21">
                    <f:then>
                        <f:render section="Tools" arguments="{_all}"/>
                    </f:then>
                    <f:else>
                        <f:render section="Default" arguments="{_all}"/>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>

    </f:section>


    <f:comment><!-- ======================================================================== --></f:comment>

    <f:section name="Default">

        <!-- top-menu -->
        <f:render partial="SubNav" section="Default" arguments="{_all}"/>

        <div class="page-area-grid">
            <div class="article">

                <article class="project-article" aria-labelledby="article-headline">

                    <!-- key-visual and slogan -->
                    <f:render partial="HeaderSection/Article/Default" arguments="{_all}"/>

                    <!-- infobox -->
                    <f:render partial="InfoBox/Article" arguments="{_all}"/>

                    <!-- content -->
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.main" data="{data}" />

                    <!-- footer -->
                    <footer class="article-footer">
                        <f:render partial="SharePrint/Print" arguments="{_all}"/>
                        <f:render partial="SharePrint/SocialMedia" arguments="{_all}"/>
                    </footer>
                </article>

                <div class="sections narrow">

                    <!-- alerts -->
                    <f:render partial="AlertsBox" arguments="{_all}"/>

                    <!-- boxes -->
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.boxesArticle" data="{data}" />

                </div>
            </div>

            <!-- related -->
            <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.related" data="{data}" />
        </div>
    </f:section>

    <f:comment><!-- ======================================================================== --></f:comment>

    <f:section name="Tools">

        <!-- top-menu -->
        <f:render partial="SubNav" section="Default" arguments="{_all}"/>

        <div class="page-area-grid">
            <div class="article">

                <article class="project-article" aria-labelledby="article-headline">

                    <!-- key-visual and slogan -->
                    <f:render partial="HeaderSection/Article/Tools" arguments="{_all}"/>

                    <!-- infobox -->
                    <f:render partial="InfoBox/Article" arguments="{_all}"/>

                    <!-- content -->
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.main" data="{data}" />

                    <!-- footer -->
                    <footer class="article-footer">
                        <f:render partial="SharePrint/Print" arguments="{_all}"/>
                        <f:render partial="SharePrint/SocialMedia" arguments="{_all}"/>
                    </footer>
                </article>

                <div class="sections narrow">

                    <!-- alerts -->
                    <f:render partial="AlertsBox" arguments="{_all}"/>

                    <!-- boxes -->
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.boxesArticle" data="{data}" />

                </div>
            </div>

            <!-- related -->
            <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.related" data="{data}" />
        </div>

    </f:section>


    <f:comment><!-- ======================================================================== --></f:comment>

    <f:section name="Special">

        <div class="page-area-grid">
            <div class="article">

                <article class="project-article" aria-labelledby="article-headline">

                    <!-- key-visual and slogan -->
                    <f:render partial="HeaderSection/Article/Special" arguments="{_all}"/>

                    <!-- main part -->
                    <div class="content-box content wysiwyg">
                        <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.main" data="{data}" />
                    </div>

                </article>

                <div class="sections narrow">

                    <!-- boxes -->
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.boxesArticle" data="{data}" />

                </div>
            </div>
        </div>

    </f:section>

</html>