<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:layout name="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutSwitch')}" />

	<f:section name="Header">
		<f:render partial="HeaderSection/AuthorDetail" arguments="{_all}"/>
	</f:section>


	<f:comment><!-- ======================================================================== --></f:comment>


	<f:section name="Content">


		<f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.mainExpert" data="{data}" />

		<f:comment>
			<header class="page-headings page-headings--no-image">
				<f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.headlineExpert" data="{data}" />
			</header>

			<f:comment><!-- details --></f:comment>
			<div class="expert-grid">


				<f:comment><!-- further boxes --></f:comment>
				<div class="sections">
					<f:cObject typoscriptObjectPath="lib.txRkwTemplate.expert.work" data="{data}" />
				</div>
			</div>

		</f:comment>

	</f:section>
</html>
