<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:layout name="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutSwitch')}" />

	<f:section name="Header">
		<f:render partial="HeaderSection/BrokenLink" arguments="{_all}"/>
	</f:section>


	<f:comment><!-- ======================================================================== --></f:comment>

	<f:section name="Content">
		<main class="main flex-container no-padding-narrow" id="main">
			<section class="section content">

				<f:comment><!-- breadcrumb--></f:comment>
				<section class="section content flex-basis-12 full-width-smalldesk no-padding-narrow pb-0">
					<nav class="breadcrumbs flex-container nav breadcrumb-padding"
                         aria-label="{f:translate(key:'{settings.themeLanguageFile}:templates.menus.breadcrumb.descriptionAriaLabel')}">
						<f:cObject typoscriptObjectPath="lib.txRkwTemplate.navigation.breadcrumb" data="{data}" />
					</nav>
				</section>

				<f:comment><!-- content --></f:comment>
				<section class="section content flex-basis-12 full-width-smalldesk no-padding-narrow">
					<f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.main" data="{data}" />
				</section>

				<f:comment><!-- boxes --></f:comment>
				<f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.boxesArticle" data="{data}" />

			</section>

			<f:comment><!-- sticky-footer --></f:comment>
			<f:render partial="FooterSection/StickyFooter" section="Newsletter" arguments="{_all}" />
		</main>

	</f:section>

</html>