<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:layout name="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutSwitch')}" />

	<f:section name="Header">
		<f:render partial="HeaderSection/BrokenLink" arguments="{_all}"/>
	</f:section>


	<f:comment><!-- ======================================================================== --></f:comment>

	<f:section name="Content">
		<main class="main flex-container no-padding-narrow" id="main">
			<section class="section content content-padding-layoutmax">

				<f:comment><!-- breadcrumb-->
				<section class="section content flex-basis-12 full-width-smalldesk no-padding-narrow pb-0">
					<div class="breadcrumbs flex-container nav breadcrumb-padding">
						<f:cObject typoscriptObjectPath="lib.txRkwTemplate.navigation.breadcrumb" data="{data}" />
					</div>
				</section>

				<f:comment><!-- content -->
				<section class="section content flex-basis-12 full-width-smalldesk no-padding-narrow">
					<f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.main" data="{data}" />
				</section>

				<f:comment><!-- boxes -->
				<f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.boxesArticle" data="{data}" />

			</section>
		</main>

	</f:section>

</html>