<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Embed" />

    <f:section name="Header">

    </f:section>


    <f:comment><!-- ======================================================================== --></f:comment>


    <f:section name="Content">

        <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.embed" data="{data}" />

    </f:section>

</html>
