<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutSwitch')}" />


    <f:section name="Header">

    </f:section>


    <f:comment><!-- ======================================================================== --></f:comment>


    <f:section name="Content">

        <main class="main flex-container space-between no-narrow-padding">
            <section class="section content flex-item flex-basis-9 full-width-smalldesk no-narrow-padding">

                <div class="siteheader siteheader-extended">

                    <!-- header -->
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.event.title" data="{data}" />

                    <div class="siteheader__bg">

                        <!-- GoogleMaps -->
                        <f:format.raw><f:cObject typoscriptObjectPath="lib.txRkwTemplate.event.maps" data="{data}" /></f:format.raw>

                        <!-- overview -->
                        <f:cObject typoscriptObjectPath="lib.txRkwTemplate.event.info" data="{data}" />

                    </div>

                </div>

                <!-- breadcrumb -->
                <f:cObject typoscriptObjectPath="lib.txRkwTemplate.navigation.breadcrumb" data="{data}" />

                <div class="contentbox contentbox--text contentbox--no-border-radius has-initial no-border-radius-mobile">

                    <!-- content -->
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.main" data="{data}" />

                </div>

            </section>
        </main>


        <f:comment>
            <aside class="aside-info flex-item flex-basis-3 aside-info--padding">
                <div class="asideinner">

                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.related" data="{data}" />

                </div>
            </aside>
        </f:comment>


    </f:section>

</html>