<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutSwitch')}" />

    <f:section name="Header">

        <f:comment><!-- @todo: über Variablen oder gesonderte body-classes einbinden --></f:comment>
        <style type="text/css">

            .specials-textcolor-white {
                color: #fff !important;
            }

            .specials-bgcolor-white {
                background-color: #fff !important;
            }

            .specials-textcolor-primary {
                color: #009fee !important;
            }

            .specials-bgcolor-primary {
                background-color: #009fee !important;
                border-color: #009fee !important;
            }

            .specials-textcolor-secondary {
                color: #fec700 !important;
            }

            .specials-bgcolor-secondary {
                background-color: #fec700 !important;
                border-color: #fec700 !important;
            }

            .btn--specials:hover {
                background-color: #fec700 !important;
                border-color: #fec700 !important;
                color:#fff !important;
            }

            .btn--white:hover {
                background-color: #009fee !important;
                border-color: #009fee !important;
                color:#fff!important;
            }


        </style>

        <f:comment><!-- .js-header-class muss eigentlich zum Header --></f:comment>
        <div class="siteheader siteheader--big siteheader--detailimg flex valign-center js-hero-class js-header-class">
            <div class="parallax-container">
                <div class="parallax">
                    <img src="fileadmin/_processed_/5/e/csm_image-placeholder_5146ed8dba.jpg" alt="" style="transform: translate3d(-50%, 0px, 0px); opacity: 1;">
                </div>
            </div>
            <div class="flex-container flex-basis-12 siteheader__specials-title ">
                <div class="flex-basis-12 siteheader__specials-img">
                    <f:comment><!-- Header-Grafik (Artikelbild, modifiziert) --></f:comment>
                    <f:comment><!-- Im Mockup ist das Schrift als Grafik, nicht so geil und auch nicht variabel --></f:comment>
                    <img src="fileadmin/_processed_/5/e/csm_image-placeholder_5146ed8dba.jpg" alt="Mittelstand">
                </div>
                <a class="btn btn--specials specials-bgcolor-primary specials-text-white">Anmelden</a>
            </div>
        </div>
    </f:section>


    <f:comment><!-- ======================================================================== --></f:comment>


    <f:section name="Content">

        <main class="main space-between no-padding-narrow" id="main">

            <aside>
                <div class="contentbox">
                    <div class="labels">
                        <span class="label--outlined">
                          Veranstaltung
                        </span>
                        <span class="label--outlined">
                          Vortrag
                        </span>
                        <span class="label--outlined">
                          Studie
                        </span>
                    </div>
                    <p><strong>29. Mai 2018<br>
                        11.00 – 14.30 Uhr</strong></p>
                    Stadtbad Oderberger, Berlin
                </div>
                <div class="list">
                    <h5>Inhalt</h5>
                    <ul class="specials-textcolor-primary">
                        <li><a href="#intro" data-target="#intro">Einleitung</a></li>
                        <li><a href="#download" data-target="#download">Download Studie</a></li>
                        <li><a href="#program" data-target="#program">Programm</a></li>
                        <li><a href="#gallery" data-target="#gallery">Eindrücke von der Veranstaltung</a></li>
                        <li><a href="#feedback" data-target="#feedback">Feedback senden</a></li>
                        <li><a href="#imagemov" data-target="#imagemov">RKW Imagefilm</a></li>
                        <li><a href="#speaker" data-target="#speaker">Speaker</a></li>
                        <li><a href="#eventloc" data-target="#eventloc">Veranstaltungs­ort</a></li>
                        <li><a href="#eventloc" data-target="#eventloc">Kontakt</a></li>
                        <li><a href="#more" data-target="#more">Weitere Inhalte</a></li>
                    </ul>
                </div>
                <div class="contentbox text-small">
                    <h5>Bei Fragen:</h5>
                    <p><span class="is-medium">RKW Kompetenzzentrum</span><br>
                        Düsseldorfer Straße 40 A<br>
                        65760 Eschborn</p>
                    <br>
                    <p><span class="is-medium">Christof Starke</span><br>
                        06196 495 3240<br>
                        <a href="mailto:rkw@ring-of-fire.de" class="specials-textcolor-primary">starke@rkw.de</a><br>
                        <a href="#" class="specials-textcolor-primary">www.rkw-kompetenzzentrum.de</a></p>

                    <p>Eventmanagement:<br>
                        089 4161 58 696<br>
                        <a href="mailto:rkw@ring-of-fire.de" class="specials-textcolor-primary">rkw@ring-of-fire.de</a></p>
                </div>
            </aside>

            <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.landingpage" data="{data}" />

            <f:comment><!-- more --></f:comment>
            <section class="contentbox more-mod content-padding-layoutmax" id="more">
                <div class="flex-container">
                    <div class="flex-basis-12">
                        <h3 class="headline headline--underlined headline--underlined-primary">Weitere Inhalte</h3>
                        <div class="flex-container">
                            <div class="flex-basis-4">
                                <div class="list-header">
                                    <h5>
                                        <svg class="icon icon--16">
                                            <use xlink:href="#ic-download"/>
                                        </svg>
                                        Downloads
                                    </h5>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Flyer Lorem Ipsum consetetur sadipscing tempor
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Studie Lorem Ipsum
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Broschüre Lorem Ipsum
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="flex-basis-4">
                                <div class="list-header">
                                    <h5>
                                        <svg class="icon icon--16">
                                            <use xlink:href="#ic-globe"/>
                                        </svg>
                                        Weiterführende Links
                                    </h5>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Flyer Lorem Ipsum consetetur sadipscing tempor
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Studie Lorem Ipsum
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Broschüre Lorem Ipsum
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="flex-basis-4">
                                <div class="list-header">
                                    <h5>
                                        <svg class="icon icon--16">
                                            <use xlink:href="#ic-clipboard"/>
                                        </svg>
                                        Nützliche Tools
                                    </h5>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Flyer Lorem Ipsum consetetur sadipscing tempor
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Studie Lorem Ipsum
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Broschüre Lorem Ipsum
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>

    </f:section>

</html>