<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutSwitch')}" />

    <f:section name="Header">
        <f:render partial="HeaderSection/Topic" arguments="{_all}"/>
    </f:section>


    <f:comment><!-- ======================================================================== --></f:comment>


    <f:section name="Content">
        <main class="main flex-container">
            <section class="section content content-padding-layoutmax ">

                <f:comment><!-- breadcrumb--></f:comment>
                <div class="breadcrumbs flex-container nav breadcrumb-py">
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.navigation.breadcrumb" data="{data}" />
                </div>

                <f:comment><!-- plugin only --></f:comment>
                <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.pluginOnly" data="{data}" />

            </section>

            <f:comment><!-- sticky-footer --></f:comment>
            <f:render partial="FooterSection/StickyFooter" section="Newsletter" arguments="{_all}" />
            
        </main>
    </f:section>
</html>

