<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutSwitch')}" />

    <f:section name="Header">

    </f:section>


    <f:comment><!-- ======================================================================== --></f:comment>

    <f:section name="Content">
        <main class="main flex-container space-between no-padding-narrow" id="main">

            <section class="section content no-padding-narrow">

                <f:comment><!-- header & infobox --></f:comment>
                <f:render partial="HeaderSection/Publication" arguments="{_all}" />

                <f:comment><!-- breadcrumb--></f:comment>
                <nav class="breadcrumbs flex-container nav breadcrumb-padding"
                     aria-label="{f:translate(key:'{settings.themeLanguageFile}:templates.menus.breadcrumb.descriptionAriaLabel')}">
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.navigation.breadcrumb" data="{data}" />
                </nav>

                <f:comment><!-- content --></f:comment>
                <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.main" data="{data}" />

            </section>

            <f:comment><!-- sticky-footer --></f:comment>
            <f:render partial="FooterSection/StickyFooter" section="Newsletter" arguments="{_all}" />
        </main>
    </f:section>

</html>