<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:rkwBasics="http://typo3.org/ns/RKW/RkwBasics/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Tool" />

    <f:section name="Header" />

    <f:comment><!-- ======================================================================== --></f:comment>


    <f:section name="Content">

        <main class="main space-between no-padding-narrow" id="main">
            <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.tool" data="{data}" />
        </main>

    </f:section>

</html>
