<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:layout name="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutSwitch')}" />

    <f:section name="Header">
        <f:render partial="Keyvisual/Topic" arguments="{_all}"/>
    </f:section>


    <!-- ======================================================================== -->


    <f:section name="Content">

        <main class="main flex-container no-narrow-padding">
            <div class="flex-container no-narrow-margin">

                <!-- breadcrumb-->
                <section class="section content flex-basis-12 full-width-smalldesk no-narrow-padding pb-0">
                    <div class="breadcrumbs flex-container nav breadcrumb-padding">
                        <f:cObject typoscriptObjectPath="lib.txRkwTemplate.navigation.breadcrumb" data="{data}" />
                    </div>
                </section>

                <!-- promotion -->
                <f:if condition="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.content.promotion', data:'{data}')}">
                    <section class="section content flex-basis-12 full-width-smalldesk no-narrow-padding promoters">
                        <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.promotion" data="{data}" />
                    </section>
                </f:if>

                <!-- content -->
                <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.main" data="{data}" />

                <!-- box party - but not for MeinRKW ! -->
                <f:if condition="{f:cObject(typoscriptObjectPath:'lib.txRkwTemplate.utility.pageLayoutType')} != 12">

                    <!-- alerts -->
                    <f:comment><f:render partial="AlertsBox" arguments="{_all}"/></f:comment>

                    <!-- boxes -->
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.boxesTopic" data="{data}" />
                    <f:cObject typoscriptObjectPath="lib.txRkwTemplate.content.boxesTopicInherit" data="{data}" />
                </f:if>
            </div>
        </main>

    </f:section>

</html>