{namespace rkwBasics=RKW\RkwBasics\ViewHelpers}

<f:render partial="Layout/BrowserWarning" />

<!-- Page header -->
<f:render partial="Layout/Header" section="Microsite" arguments="{_all}"/>

<div class="page-wrap">

	<!-- Main Part -->
    <div class="page-content-wrapper"></div>

	<div class="container" id="page-top">
		<main id="main">
            <f:render partial="Layout/Logo" section="Microsite"  />
            <f:render section="content" />
		</main>
	</div>

	<!-- Footer -->
	<f:render partial="Layout/Footer" arguments="{_all}"/>

	<!-- Overlay -->
	<f:format.html parseFuncTSPath="">{overlayContent}</f:format.html>
	<f:format.html parseFuncTSPath="">{meinRkwLayer}</f:format.html>

</div>
