{namespace rkwMailer=RKW\RkwMailer\ViewHelpers}
{namespace rkwRegistration=RKW\RkwRegistration\ViewHelpers}
{namespace rkwShop=RKW\RkwShop\ViewHelpers}


<f:layout name="Email/{mailType}" />


<!-- PLAINTEXT -->
<f:section name="Plaintext">
	=============================================================\n
	<rkwMailer:frontend.translate key="partials.email.productList.orderDetails" languageKey="{language}" extensionName="rkwShop"/>\n
	=============================================================\n
	<f:for each="{order.orderItem}" as="orderItem" iteration="iterator">
		{orderItem.amount} x {orderItem.product.title} (
		<f:if condition="{orderItem.product.recordType} == '\RKW\RkwShop\Domain\Model\ProductBundle'">
			<f:then>
				<rkwMailer:frontend.translate key="partials.email.productList.isBundle" languageKey="{language}" extensionName="rkwShop"/>
			</f:then>
			<f:else>
				<f:if condition="{orderItem.product.recordType} == '\RKW\RkwShop\Domain\Model\ProductSubscription'">
					<f:then>
						<rkwMailer:frontend.translate key="partials.email.productList.isSubscription" languageKey="{language}" extensionName="rkwShop"/>
					</f:then>
					<f:else>
						<rkwMailer:frontend.translate key="partials.email.productList.isSingle" languageKey="{language}" extensionName="rkwShop"/>
					</f:else>
				</f:if>
			</f:else>
		</f:if>)
        <f:if condition="{backendUserForProductMap}">
            \n<rkwMailer:frontend.translate key="partials.email.productList.responsible" languageKey="{language}" extensionName="rkwShop"/>: <rkwShop:GetListOfAdminsForProduct product="{orderItem.product}" backendUserForProductMap="{backendUserForProductMap}" />
        </f:if>\n
	</f:for>
</f:section>

<!-- HTML -->
<f:section name="Html">
	<h2><rkwMailer:frontend.translate key="partials.email.productList.orderDetails" languageKey="{language}" extensionName="rkwShop"/></h2>

	<table class="colored-table">
		<tr>
			<th><rkwMailer:frontend.translate key="partials.email.productList.headlineProduct" languageKey="{language}" extensionName="rkwShop"/></th>
			<th><rkwMailer:frontend.translate key="partials.email.productList.headlineAmount" languageKey="{language}" extensionName="rkwShop"/></th>
			<th><rkwMailer:frontend.translate key="partials.email.productList.headlineType" languageKey="{language}" extensionName="rkwShop"/></th>
		</tr>
		<f:for each="{order.orderItem}" as="orderItem" iteration="iterator">
			<tr class="{f:if(condition: iterator.isEven, then: 'even')}">
				<td>
                    <f:if condition="{orderItem.product.page}">
                        <f:then>
                            <!-- set link only for admins -->
                            <f:if condition="{backendUserForProductMap}">
                                <f:then>
                                    <strong><a href="<rkwMailer:frontend.link absolute='true' pageUid='{orderItem.product.page.uid}' noCacheHash='true' />">{orderItem.product.title}</a></strong>
                                </f:then>
                                <f:else>
                                    <strong>{orderItem.product.title}</strong>
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            <strong>{orderItem.product.title}</strong>
                        </f:else>
                    </f:if>
					<f:if condition="{orderItem.product.subtitle}">
                        <br>{orderItem.product.subtitle}
                    </f:if>
                    <f:if condition="{backendUserForProductMap}">
                        <br/><em><rkwMailer:frontend.translate key="partials.email.productList.responsible" languageKey="{language}" extensionName="rkwShop"/>: <rkwShop:GetListOfAdminsForProduct product="{orderItem.product}" backendUserForProductMap="{backendUserForProductMap}" /></em>
                    </f:if>
				</td>
				<td class="align-center">
					{orderItem.amount}
				</td>
				<td class="align-center">
					<f:if condition="{orderItem.product.recordType} == '\RKW\RkwShop\Domain\Model\ProductBundle'">
						<f:then>
							<rkwMailer:frontend.translate key="partials.email.productList.isBundle" languageKey="{language}" extensionName="rkwShop"/>
						</f:then>
						<f:else>
							<f:if condition="{orderItem.product.recordType} == '\RKW\RkwShop\Domain\Model\ProductSubscription'">
								<f:then>
									<rkwMailer:frontend.translate key="partials.email.productList.isSubscription" languageKey="{language}" extensionName="rkwShop"/>
								</f:then>
								<f:else>
									<rkwMailer:frontend.translate key="partials.email.productList.isSingle" languageKey="{language}" extensionName="rkwShop"/>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</td>
			</tr>
		</f:for>
	</table>
</f:section>