<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:comment><!-- @todo: Hier brauche ich bessere Schalter? --></f:comment>
    <div class="section contentbox content-padding-layoutmax typo3-fsc {data.tx_rkwtemplate_styles}">
        <f:switch expression="{data.header}">
            <f:case value="Download">
                <f:render partial="ContentContainer/Content" arguments="{_all}"/>
            </f:case>
            <f:case value="Programm">
                <f:render partial="ContentContainer/Content" arguments="{_all}"/>
            </f:case>
            <f:case value="Galerie">
                <f:render partial="ContentContainer/Content" arguments="{_all}"/>
            </f:case>
            <f:case value="Collage">
                <f:render partial="ContentContainer/Content" arguments="{_all}"/>
            </f:case>
            <f:case value="Feedback">
                <div class="flex-container">
                    <f:render partial="ContentContainer/Content" arguments="{_all}"/>
                </div>
            </f:case>
            <f:case value="Imagefilm">
                <div class="flex-container">
                    <f:render partial="ContentContainer/Content" arguments="{_all}"/>
                </div>
            </f:case>
            <f:case value="Speaker">
                <div class="flex-container">
                    <h3 class="headline headline--underlined headline--underlined-primary">{data.header}</h3>
                </div>
                <f:comment>
                    <!-- @todo: Wie kann ich hier das Bild richtig aufrufen, dass diesem Inhaltselement zugeordnet ist? -->
                    <!-- @todo: Fehlermeldung:  You must either specify a string src or a File object -->
                    <div class="speaker-header" style="background-image:url('{f:uri.image(image:images.0,width:'1050',cropVariant:'default')}')">
                </f:comment>
                <div class="speaker-header" style="background-image:url('fileadmin/_processed_/5/e/csm_image-placeholder_5146ed8dba.jpg')">
                    <blockquote class="blockquote-specials">
                        {data.subheader}
                    </blockquote>
                </div>
                <div class="speaker-list-wrapper">
                    <f:render partial="ContentContainer/Content" arguments="{_all}"/>
                </div>
            </f:case>
            <f:case value="Map">
                <f:render partial="ContentContainer/Content" arguments="{_all}"/>
            </f:case>
            <f:case value="Banner">
                <f:render partial="ContentContainer/Content" arguments="{_all}"/>
            </f:case>
            <f:defaultCase>
                <div class="flex-container">
                    <div class="flex-basis-7">
                        <f:render partial="ContentContainer/Content" arguments="{_all}"/>
                    </div>
                </div>
            </f:defaultCase>
        </f:switch>
    </div>

</html>
