<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:comment><!-- @todo: Hier brauche ich bessere Schalter? --></f:comment>
    <div id="c{data.uid}" class="section contentbox content-padding-layoutmax typo3-fsc {data.tx_rkwtemplate_styles}">
        <f:switch expression="{data.header}">
            <f:case value="Download">
                <f:render partial="ContentContainer/Content" arguments="{_all}"/>
            </f:case>
            <f:case value="Programm">
                <div class="events">
                    <h3 class="headline">{data.header}</h3>
                    <hr class="lined specials-bgcolor-secondary"/>
                    <f:render partial="ContentContainer/Content" arguments="{_all}"/>
                </div>
            </f:case>
            <f:case value="Galerie">
                <f:render partial="ContentContainer/Content" arguments="{_all}"/>
            </f:case>
            <f:case value="Collage">
                <f:render partial="ContentContainer/Content" arguments="{_all}"/>
            </f:case>
            <f:case value="Feedback">
                <div class="flex-container">
                    <f:render partial="ContentContainer/Content" arguments="{_all}"/>
                </div>
            </f:case>
            <f:case value="Imagefilm">
                <div class="flex-container">
                    <f:render partial="ContentContainer/Content" arguments="{_all}"/>
                </div>
            </f:case>
            <f:case value="Speaker">
                <div class="flex-container">
                    <h3 class="headline headline--underlined headline--underlined-primary">{data.header}</h3>
                </div>
                <div class="speaker-header" style="background-image:url('{f:uri.image(image:images.0, width:'1050',cropVariant:'default')}')">
                    <blockquote class="blockquote-specials">
                        {data.subheader}
                    </blockquote>
                </div>
                <div class="speaker-list-wrapper">
                    <f:render partial="ContentContainer/Content" arguments="{_all}"/>
                </div>
            </f:case>
            <f:case value="GoogleMap">
                <f:render partial="ContentContainer/Content" arguments="{_all}"/>
            </f:case>
            <f:case value="StickyFooter">
                <f:render partial="ContentContainer/Content" arguments="{_all}"/>
            </f:case>
            <f:defaultCase>
                <div class="flex-container">
                    <div class="flex-basis-7">
                        <f:render partial="ContentContainer/Content" arguments="{_all}"/>
                    </div>
                </div>
            </f:defaultCase>
        </f:switch>
    </div>

</html>
