<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <!-- schema.org -->
    <f:render partial="ContentContainer/SchemaOrg" arguments="{_all}"/>

    <!-- content -->
    <div class="contentbox contentbox--text typo3-fsc contentbox--no-border-radius no-border-radius-smalldesk">
        <f:render partial="ContentContainer/Content" arguments="{_all}"/>
    </div>

    <!-- call to action -->
    <f:render partial="ContentContainer/CallToAction" arguments="{_all}"/>

</html>
