@charset "UTF-8";
/**! ==================================================
* RKW Kompetenzzentrum – WYSIWGYG CSS for BE Editor
* ================================================== */
/**! ==================================================
 * Settings
 * ================================================== */
/**! ==================================================
 * Global Settings
 * ================================================== */
/*
$h1: 48;
$h1-smalldesk: 44;
$h1-medium: 42.725;
$h1-mobile: 39.063;
$h2: 36;
$h2-medium: 34.18;
$h2-mobile: 31.25;
$h3: 30;
$h3-medium: 27.344;
$h3-mobile: 25;
$h4: 24;
$h4-medium: 21.875;
$h4-mobile: 21.875;
$h5: 16;
$h5-mobile: 16;
$h6: 14;
$h6-mobile: 14;
$p: 18;
$p-big: 20;
$p-small: 14;
$p-tiny: 12;*/
/**! ==================================================
 * Mixins
 * ================================================== */
/*
* Apply focus outline to element based on given color
*
* Defaults to focus-color if no color is specified
*/
/*
* Apply focus shadow to element based on given color
*
* Defaults to focus-color if no color is specified
* Should only be used if focusoutline() is not applicable, e.g. form elements
*/
/**! ==================================================
 * HTML Editor
 * ================================================== */
/**! ==================================================
 * Mixins
 * ================================================== */
/**! ==================================================
 * Normalize
 * ================================================== */
* {
  margin: 0;
  padding: 0;
}

img {
  border: none;
  vertical-align: bottom;
}

/**! ==================================================
 * Base
 * ================================================== */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* 2 */
  line-height: 1.5em;
}

body {
  font-family: "Enriqueta", "Times New Roman", "Times", serif;
  line-height: 1.5;
  color: #505050;
  word-wrap: break-word;
  font-size: 18px;
  font-size: 1.125rem;
}

/**! ==================================================
 * Settings for CKE
 * ================================================== */
.cke_editable {
  /* Fix for missing scrollbars with RTL texts. (#10488) */
  word-wrap: break-word;
}

.cke_contents_ltr {
  margin: 16px;
}

/**! ==================================================
 * CONTENT/Typo
 *  Typography
 * ================================================== */
/**! ==================================================
 * CONTENT/Typo
 *  Typography
 * ================================================== */
@font-face {
  font-family: 'Enriqueta';
  src: url(../fonts/enriqueta/Enriqueta-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'Enriqueta';
  src: url(../fonts/enriqueta/Enriqueta-Bold.otf) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: 'Palanquin';
  src: url(../fonts/palanquin/palanquin-regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Palanquin';
  src: url(../fonts/palanquin/palanquin-bold.ttf) format("truetype");
  font-weight: bold;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Enriqueta", "Times New Roman", "Times", serif;
  text-rendering: optimizelegibility;
  font-weight: 300;
  color: #333333;
  width: 100%;
}

h1,
.h1 {
  font-size: 48px;
  font-size: 3.0rem;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.16667em;
  margin-top: 0;
  font-weight: 400;
}

h1--white,
.h1--white {
  color: #ffffff;
}

h1 .foo-bar,
.h1 .foo-bar {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.18182em;
  font-size: 44px;
  font-size: 2.75rem;
  margin-top: 0;
}

h1 .foo-bar,
.h1 .foo-bar {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.18724em;
  font-size: 43px;
  font-size: 2.67031rem;
  margin-top: 0;
}

h1 .foo-bar,
.h1 .foo-bar {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.2048em;
  font-size: 39px;
  font-size: 2.44144rem;
  margin-top: 0;
}

h2,
.h2 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.22222em;
  font-size: 36px;
  font-size: 2.25rem;
}

h2 .foo-bar,
.h2 .foo-bar {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.23406em;
  font-size: 34px;
  font-size: 2.13625rem;
}

h2 .foo-bar,
.h2 .foo-bar {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.256em;
  font-size: 31px;
  font-size: 1.95312rem;
}

h3,
.h3 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.26667em;
  font-size: 30px;
  font-size: 1.875rem;
}

h3.tile__title,
.h3.tile__title {
  font-size: 16px;
  font-size: 1rem;
}

h3.siteheader__overlay-title,
.h3.siteheader__overlay-title {
  color: #ffffff;
}

h3 .foo-bar,
.h3 .foo-bar {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.29257em;
  font-size: 27px;
  font-size: 1.709rem;
}

h3 .foo-bar,
.h3 .foo-bar {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.32em;
  font-size: 25px;
  font-size: 1.5625rem;
}

h3 a,
.h3 a {
  color: #505050;
}

h3 a:hover,
.h3 a:hover {
  color: #d63f11;
}

h4,
.h4 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.33333em;
  font-size: 24px;
  font-size: 1.5rem;
}

h4 .foo-bar,
.h4 .foo-bar {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.36571em;
  font-size: 22px;
  font-size: 1.36719rem;
}

h4 .foo-bar,
.h4 .foo-bar {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.36571em;
  font-size: 22px;
  font-size: 1.36719rem;
}

h5,
.h5 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.5em;
  font-size: 16px;
  font-size: 1.0rem;
  color: #333333;
  font-family: "Palanquin", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

h5 .foo-bar,
.h5 .foo-bar {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.5em;
  font-size: 16px;
  font-size: 1.0rem;
}

h6,
.h6 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.57143em;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Palanquin", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333333;
}

h6 .foo-bar,
.h6 .foo-bar {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  line-height: 1.57143em;
  font-size: 14px;
  font-size: 0.875rem;
}

p {
  margin: 0 0 1em 0;
}

a {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  color: #d63f11;
}

a:link,
a:visited {
  text-decoration: none;
}

a:link:hover, a:link:focus,
a:visited:hover,
a:visited:focus {
  text-decoration: none;
  color: #d63f11;
}

a:link:not(.btn):not(.button):focus,
a:visited:not(.btn):not(.button):focus {
  outline: #d63f11 solid 2px;
  outline-offset: 2px;
  -webkit-transition: outline 0s !important;
  transition: outline 0s !important;
}

.js-focus-visible a:link:not(.btn):not(.button):focus:not(.focus-visible), .js-focus-visible
a:visited:not(.btn):not(.button):focus:not(.focus-visible) {
  outline: none;
}

ul li {
  list-style-position: outside;
  margin-left: 5px;
}

/*
p + ul,
p + ol {
  &.list-primary,
  &.list-ordered {
    margin-top:1em;
  }
}*/
ul,
ol {
  padding-left: 1em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  line-height: 1.44444em;
}

ul p,
ol p {
  display: inline;
}

ul.list-unstyled,
ol.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul.list-primary, ul:not(.cke_panel_list),
ol.list-primary {
  position: relative;
  top: -2px;
  padding: 0;
  margin: 1.5em 0;
  list-style-type: none;
  font-size: 18px;
  font-size: 1.125rem;
  list-style-position: inside;
}

ul.list-primary li, ul:not(.cke_panel_list) li,
ol.list-primary li {
  margin: 0 0 0.5em 0;
  text-indent: -28px;
  padding-left: 30px;
}

ul.list-primary li:before, ul:not(.cke_panel_list) li:before,
ol.list-primary li:before {
  content: "\2022";
  color: #d63f11;
  font-weight: 700;
  width: 10px;
  margin: 0 15px 0 0;
}

ul.list-primary li:last-child, ul:not(.cke_panel_list) li:last-child,
ol.list-primary li:last-child {
  margin-bottom: 0;
}

ul.list-ordered, ol:not(.cke_panel_list),
ol.list-ordered {
  counter-reset: section;
  padding: 0;
  margin: 1.5em 0;
  font-size: 18px;
  font-size: 1.125rem;
  list-style-type: none;
  list-style-position: inside;
}

ul.list-ordered li, ol:not(.cke_panel_list) li,
ol.list-ordered li {
  text-indent: -30px;
  padding-left: 30px;
}

ul.list-ordered li:before, ol:not(.cke_panel_list) li:before,
ol.list-ordered li:before {
  counter-increment: section;
  content: counters(section, ". ") ".";
  color: #d63f11;
  font-weight: 700;
  white-space: nowrap;
  margin: 0 15px 0 0;
  width: 10px;
  letter-spacing: -0.04em;
}

ul.list-inline,
ol.list-inline {
  padding-left: 0;
  list-style: none;
}

ul.list-inline li,
ol.list-inline li {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 0.5em;
}

ul.list-inline li:first-child,
ol.list-inline li:first-child {
  margin-left: 0;
}

ul li,
ol li {
  margin-bottom: 0.5em;
  font-size: 18px;
  font-size: 1.125rem;
}

td ul:first-child,
td ol:first-child,
th ul:first-child,
th ol:first-child {
  margin-top: 0;
}

td ul:last-child,
td ol:last-child,
th ul:last-child,
th ol:last-child {
  margin-bottom: 0;
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

.text-small {
  font-size: 14px;
  font-size: 0.875rem;
}

.text-lead {
  line-height: 32px;
  font-size: 20px;
  font-size: 1.25rem;
}

.text-primary {
  color: #d63f11;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-italic {
  font-style: italic;
}

.fontweight-bold {
  font-weight: 700;
}

.fontweight-medium {
  font-weight: 600;
}

.fontweight-regular {
  font-weight: 400;
}

.text-white {
  color: #ffffff;
}

.text-red {
  color: #ff0002;
}

.text-green {
  color: #408040;
}

.no-wrap {
  white-space: nowrap;
}

.list {
  color: #d63f11;
  margin: 3em 0;
}

.headline {
  /*
  &--underlined-blue {
    &::after {
      background-color: $color-specials-primary;
      margin: 0.7em 0;
    }
  }

  &--underlined-yellow {
    &::after {
      background-color: $color-specials-secondary;
      margin: 0.8em auto;
    }
  }

  &--underlined-primary {
    &::after {
      background-color: $color-primary;
      margin: 0.7em 0;
    }
  }*/
}

.headline--underlined::after {
  content: " ";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #acacac;
  border-radius: 4px;
  margin: 1em 0;
  margin-top: 0.5em;
}

blockquote {
  padding: 1em 30px 1em 60px;
  border: 1px solid #cccccc;
  font-style: italic;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 32px;
  position: relative;
  font-family: "Enriqueta", "Times New Roman", "Times", serif;
  margin: 1em 0;
}

blockquote:before {
  content: "„";
  position: absolute;
  top: -30px;
  font-size: 92px;
  font-size: 5.75rem;
  left: 10px;
  color: #d63f11;
  font-style: normal;
  line-height: 72px;
}

/*
.has-initial p:first-of-type::first-letter {
  color: $color-primary;
  float: left;
  @include font-size(64);
  font-family: $ff-serif;
  line-height: 54px;
  padding: 0px 15px 0px 0px;

  @include media("narrow") {
    font-size: 1.125rem;
    color: #505050;
    padding: 0;
    float: none;
    line-height: 1.7em;
  }
}*/
figcaption {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  /*display: block;*
  display: table-caption;
   */
}

figcaption .copyright-hint:before {
  content: ' ';
  white-space: pre;
}

ul.cke_panel_list li {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}

.text-left,
.align-left {
  text-align: left !important;
}

.text-center,
.align-center {
  text-align: center !important;
}

.text-right,
.align-right {
  text-align: right !important;
}

.text-justify,
.align-justify {
  text-align: justify !important;
}

.indent {
  margin-left: 2em;
}

h1 + table,
h1 + ul,
h1 + ol,
h1 + blockquote,
h1 + h1,
h1 + .h1,
h1 + h2,
h1 + .h2,
h1 + h3,
h1 + .h3,
h1 + h4,
h1 + .h4,
h1 + h5,
h1 + .h5,
h1 + h6,
h1 + .h6,
.h1 + table,
.h1 + ul,
.h1 + ol,
.h1 + blockquote,
.h1 + h1,
.h1 + .h1,
.h1 + h2,
.h1 + .h2,
.h1 + h3,
.h1 + .h3,
.h1 + h4,
.h1 + .h4,
.h1 + h5,
.h1 + .h5,
.h1 + h6,
.h1 + .h6,
h2 + table,
h2 + ul,
h2 + ol,
h2 + blockquote,
h2 + h1,
h2 + .h1,
h2 + h2,
h2 + .h2,
h2 + h3,
h2 + .h3,
h2 + h4,
h2 + .h4,
h2 + h5,
h2 + .h5,
h2 + h6,
h2 + .h6,
.h2 + table,
.h2 + ul,
.h2 + ol,
.h2 + blockquote,
.h2 + h1,
.h2 + .h1,
.h2 + h2,
.h2 + .h2,
.h2 + h3,
.h2 + .h3,
.h2 + h4,
.h2 + .h4,
.h2 + h5,
.h2 + .h5,
.h2 + h6,
.h2 + .h6,
h3 + table,
h3 + ul,
h3 + ol,
h3 + blockquote,
h3 + h1,
h3 + .h1,
h3 + h2,
h3 + .h2,
h3 + h3,
h3 + .h3,
h3 + h4,
h3 + .h4,
h3 + h5,
h3 + .h5,
h3 + h6,
h3 + .h6,
.h3 + table,
.h3 + ul,
.h3 + ol,
.h3 + blockquote,
.h3 + h1,
.h3 + .h1,
.h3 + h2,
.h3 + .h2,
.h3 + h3,
.h3 + .h3,
.h3 + h4,
.h3 + .h4,
.h3 + h5,
.h3 + .h5,
.h3 + h6,
.h3 + .h6,
h4 + table,
h4 + ul,
h4 + ol,
h4 + blockquote,
h4 + h1,
h4 + .h1,
h4 + h2,
h4 + .h2,
h4 + h3,
h4 + .h3,
h4 + h4,
h4 + .h4,
h4 + h5,
h4 + .h5,
h4 + h6,
h4 + .h6,
.h4 + table,
.h4 + ul,
.h4 + ol,
.h4 + blockquote,
.h4 + h1,
.h4 + .h1,
.h4 + h2,
.h4 + .h2,
.h4 + h3,
.h4 + .h3,
.h4 + h4,
.h4 + .h4,
.h4 + h5,
.h4 + .h5,
.h4 + h6,
.h4 + .h6,
h5 + table,
h5 + ul,
h5 + ol,
h5 + blockquote,
h5 + h1,
h5 + .h1,
h5 + h2,
h5 + .h2,
h5 + h3,
h5 + .h3,
h5 + h4,
h5 + .h4,
h5 + h5,
h5 + .h5,
h5 + h6,
h5 + .h6,
.h5 + table,
.h5 + ul,
.h5 + ol,
.h5 + blockquote,
.h5 + h1,
.h5 + .h1,
.h5 + h2,
.h5 + .h2,
.h5 + h3,
.h5 + .h3,
.h5 + h4,
.h5 + .h4,
.h5 + h5,
.h5 + .h5,
.h5 + h6,
.h5 + .h6,
h6 + table,
h6 + ul,
h6 + ol,
h6 + blockquote,
h6 + h1,
h6 + .h1,
h6 + h2,
h6 + .h2,
h6 + h3,
h6 + .h3,
h6 + h4,
h6 + .h4,
h6 + h5,
h6 + .h5,
h6 + h6,
h6 + .h6,
.h6 + table,
.h6 + ul,
.h6 + ol,
.h6 + blockquote,
.h6 + h1,
.h6 + .h1,
.h6 + h2,
.h6 + .h2,
.h6 + h3,
.h6 + .h3,
.h6 + h4,
.h6 + .h4,
.h6 + h5,
.h6 + .h5,
.h6 + h6,
.h6 + .h6 {
  margin-top: 0;
}

body > h1,
body > .h1,
body > h2,
body > .h2,
body > h3,
body > .h3,
body > h4,
body > .h4,
body > h5,
body > .h5,
body > h6,
body > .h6 {
  margin-top: 0;
}

/**! ==================================================
 * Buttons
 * ================================================== */
.btn, .button {
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 8px;
  display: inline-block;
  border: 0px;
  cursor: pointer;
  font-family: "Palanquin", Helvetica, Arial, sans-serif;
  padding: 1em;
  letter-spacing: 0.01em;
  border: 2px solid #d63f11;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  line-height: 1.2;
  text-align: center;
}

.btn .icon, .button .icon {
  float: left;
  margin: 0 10px 0 0;
}

.btn:hover, .button:hover, .btn:focus, .button:focus {
  background-color: transparent;
  color: #d63f11;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn:focus, .button:focus {
  border-color: #d63f11;
  -webkit-box-shadow: 0 0 1px 3px rgba(214, 63, 17, 0.3);
          box-shadow: 0 0 1px 3px rgba(214, 63, 17, 0.3);
  box-shadow: 0 0 0 3px -moz-mac-focusring rgba(214, 63, 17, 0.3);
  outline: none;
}

.js-focus-visible .btn:focus:not(.focus-visible), .js-focus-visible .button:focus:not(.focus-visible) {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn--primary, .button {
  background: #d63f11;
}

.btn--primary:hover, .button:hover, .btn--primary:focus, .button:focus {
  background-color: transparent;
  color: #d63f11;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn--secondary {
  color: #ffffff !important;
  background-color: #505050;
  border-color: #505050;
}

.btn--secondary:hover {
  background-color: transparent;
  color: #505050 !important;
  border-color: #505050;
}

.btn--secondary:focus {
  color: #505050 !important;
}

.btn--tertiary {
  color: #505050;
  background-color: #ffffff;
  border-color: #505050;
}

.btn--toggle {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #676767;
}

.btn--centered {
  margin: 0px auto;
}

.btn--outline {
  color: #676767;
  background-color: transparent;
  border-color: #676767;
}

.btn--contains-icon {
  line-height: initial;
}

.btn--contains-icon:hover svg {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn--white {
  color: #d63f11;
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 0.715em 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn--white:hover {
  color: #d63f11;
  background-color: #ffffff;
  text-decoration: underline;
}

.btn--white:hover svg {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn--white:focus {
  text-decoration: underline;
  color: #d63f11;
  background-color: #ffffff;
}

.btn--form {
  color: #d63f11;
  background-color: transparent;
  border-color: #d63f11;
}

.btn--form:hover {
  color: #ffffff;
  background-color: #d63f11;
}

.btn--primary.is-active, .is-active.button, .btn--secondary.is-active, .btn--tertiary.is-active, .btn--outline.is-active {
  background-color: rgba(214, 63, 17, 0.7);
  color: #ffffff;
  border-color: #d63f11;
  display: inline-block;
}

.btn--primary.is-active:hover, .is-active.button:hover, .btn--secondary.is-active:hover, .btn--tertiary.is-active:hover, .btn--outline.is-active:hover {
  color: #ffffff;
  background-color: #d63f11;
}

.btn--more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  background-color: #ffffff;
  color: #676767;
  text-transform: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
  border-color: transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn--more .foo-bar {
  margin: 0 auto;
}

.btn--more:focus {
  background-color: #ffffff;
}

.btn--more .icon {
  margin: 0;
}

.btn--more svg {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn--more:hover {
  color: #d63f11;
  background-color: #ffffff;
}

.btn--more:hover svg {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn--more .btn__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  border-right: 1px solid #cccccc;
  text-align: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn--more .btn__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
  padding: 1em;
}

.btn--more .btn__content .btn__content-text {
  display: block;
  font-family: "Enriqueta", "Times New Roman", "Times", serif;
  margin: 10px 0 10px 0;
}

.btn--more .btn__content .btn__content-link {
  display: inline-block;
  border-bottom: 1px solid #cccccc;
}

.btn--nav {
  font-size: 14px;
  font-size: 0.875rem;
}

.btn--small {
  font-size: 12px;
  font-size: 0.75rem;
  padding: 0.584em 1.8em;
}

.btn--icon {
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 0;
  color: #d63f11;
  margin: 0;
  font-family: "Enriqueta", "Times New Roman", "Times", serif;
  text-transform: none;
  font-weight: normal;
  padding: 0;
}

.btn--icon span {
  margin-left: 0.3em;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.btn--icon:hover span {
  border-bottom-color: #d63f11;
}

.btn--icon:focus {
  outline: #d63f11 solid 2px;
  outline-offset: 2px;
  -webkit-transition: outline 0s !important;
  transition: outline 0s !important;
}

.js-focus-visible .btn--icon:focus:not(.focus-visible) {
  outline: none;
}

.btn--icon .icon {
  float: none;
  margin: 0 3px 0 0;
}

.btn--disabled {
  color: #505050;
  background: #cccccc;
  border-color: #505050;
  cursor: not-allowed;
  line-height: initial;
  opacity: 0.6;
}

.btn--disabled:focus, .btn--disabled:visited, .btn--disabled:hover {
  text-decoration: none;
  color: #505050;
  background-color: #cccccc;
}

.contact-button {
  position: fixed;
  right: 0px;
  top: 50%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 80px;
  height: 60px;
  cursor: pointer;
  padding: 1em;
  border: 0px;
  z-index: 20;
  display: inline-block;
  border-radius: 5px 0 0 5px;
  background-color: #333333;
}

.contact-button .icon {
  color: #fff;
}

.contact-button .foo-bar {
  top: 80%;
  width: 50px;
  height: 45px;
  padding: 0.5em;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.25);
}

.contact-button .foo-bar {
  top: 30%;
}

.contact-button:hover, .contact-button:focus {
  background-color: #d63f11;
}

.contact-button:focus {
  outline: #d63f11 solid 2px;
  outline-offset: 2px;
  -webkit-transition: outline 0s !important;
  transition: outline 0s !important;
}

.js-focus-visible .contact-button:focus:not(.focus-visible) {
  outline: none;
}

.btn--circle {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.btn--circle .icon {
  display: inline-block;
  color: #d63f11;
  float: none;
  margin: 0;
}

.btn--circle:hover, .btn--circle:focus {
  background-color: #e6e6e6;
}

.btn--circle:focus {
  outline: #d63f11 solid 2px;
  outline-offset: 2px;
  -webkit-transition: outline 0s !important;
  transition: outline 0s !important;
}

.js-focus-visible .btn--circle:focus:not(.focus-visible) {
  outline: none;
}

.btn--circle.btn--primary, .btn--circle.button {
  background-color: #d63f11;
}

.btn--circle.btn--primary .icon, .btn--circle.button .icon {
  color: white;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1em;
}

.btn-list--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-list .foo-bar .btn:not(.search-field__submit):not(.select-field__info), .btn-list .foo-bar .button:not(.search-field__submit):not(.select-field__info) {
  width: 100%;
}

.btn-list form {
  width: auto;
}

.btn-list .btn:not(.search-field__submit):not(.select-field__info), .btn-list .button:not(.search-field__submit):not(.select-field__info) {
  margin: 0 1em 1em 0;
}

.btn-list .btn:not(.search-field__submit):not(.select-field__info) .foo-bar, .btn-list .button:not(.search-field__submit):not(.select-field__info) .foo-bar {
  margin: 0.5em 1em 0.5em 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn-list .btn:not(.search-field__submit):not(.select-field__info) .foo-bar, .btn-list .button:not(.search-field__submit):not(.select-field__info) .foo-bar {
  margin: 0 0 1em 0;
}

.btn-list--footer {
  margin-top: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
}

.btn-list--footer.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn-list--footer .foo-bar {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.btn-list--footer .btn:not(.search-field__submit):not(.select-field__info), .btn-list--footer .button:not(.search-field__submit):not(.select-field__info) {
  margin-bottom: 0;
}

.btn-list--footer .btn:not(.search-field__submit):not(.select-field__info) .foo-bar, .btn-list--footer .button:not(.search-field__submit):not(.select-field__info) .foo-bar {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.btn-list--footer .btn:not(.search-field__submit):not(.select-field__info) .foo-bar, .btn-list--footer .button:not(.search-field__submit):not(.select-field__info) .foo-bar {
  margin-top: 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn-list form:last-child .btn, .btn-list form:last-child .button,
.btn-list .btn:last-child,
.btn-list .button:last-child,
.btn-list .btn:not(.search-field__submit):not(.select-field__info):last-child,
.btn-list .button:not(.search-field__submit):not(.select-field__info):last-child {
  margin-right: 0;
}

.btn-list .checkbox-field {
  margin: 0 1em 1em 0;
  padding: 0.5em 1.25em 0 0;
}

.btn-list .checkbox-field .checkbox-label {
  font-family: "Palanquin", Helvetica, Arial, sans-serif;
}

.btn-list .select-field {
  margin: 0 1em 1em 0;
  padding: 0.822em 2em 0.822em 1.25em;
}

.btn-list .select-field .foo-bar {
  margin: 0.5em 1em 0.5em 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn-list .select-field .foo-bar {
  margin: 0.5em 0;
  width: 100%;
}

.btn-list .select-field:last-child {
  margin-right: 0;
}

.btn-list .select-field--longer {
  width: 300px;
}

.btn-list .select-field--longer .foo-bar {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.btn-list .select-field--outline {
  width: 100%;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  border-radius: 8px;
  font-family: "Palanquin", Helvetica, Arial, sans-serif;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.btn-list .select-field--outline:focus {
  border-color: #d63f11;
  outline: none;
}

.btn-list .select-field--search {
  display: none;
}

.btn-list .select-field--search .foo-bar {
  display: block;
}

.btn-list .select-field--info {
  margin-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-list .select-field--info .foo-bar {
  width: calc(100% - 50px);
  margin-left: 0;
  margin-right: 0;
}

.btn-list .select-field__info {
  font-size: 14px;
  font-size: 0.875rem;
  display: inline-block;
  color: #676767;
  background-color: #e6e6e6;
  margin-bottom: 1em;
  margin-right: 1em;
  border: 2px solid #676767;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 6px 0 6px;
  width: 44px;
}

.btn-list .select-field__info svg {
  -webkit-transform: translate(0, 0.45em);
          transform: translate(0, 0.45em);
}

.btn-list .select-field__info .foo-bar {
  margin-right: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.show-more-tile .foo-bar {
  width: 50%;
  margin-top: 1em;
}

.show-more-tile .foo-bar {
  width: 100%;
}

.button {
  margin-bottom: 2em;
}

/**! ==================================================
 * Icons
 * ================================================== */
/**! ==================================================
 * COMPONENTS/Icons
 *
 * ================================================== */
.icon {
  display: inline-block;
  border: none;
}

.icon--group {
  margin: 0 5px;
}

.icon--btn-left {
  margin: -3px 3px -3px 0;
}

.icon--btn-right {
  margin: -3px 0 -3px 3px;
}

.icon--12 {
  width: 12px;
  height: 12px;
}

.icon--16 {
  width: 16px;
  height: 16px;
}

.icon--24 {
  width: 24px;
  height: 24px;
}

.icon--32 {
  width: 32px;
  height: 32px;
}

.icon--36 {
  width: 36px;
  height: 36px;
}

.icon--42 {
  width: 42px;
  height: 42px;
}

.icon--48 {
  width: 48px;
  height: 48px;
}

.icon--64 {
  width: 64px;
  height: 64px;
}

.sociallist {
  list-style: none;
}

.sociallist .foo-bar {
  float: none !important;
  text-align: center;
}

.sociallist li .foo-bar {
  padding: 0 10px;
  margin: 0;
}

.sociallist__item {
  font-size: 16px;
  font-size: 1rem;
  margin: 0 0.3em 0 0;
}

.sociallist__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sociallist__item svg {
  color: #868686;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.sociallist__item svg:hover {
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #d63f11;
}

a[class^="icon-"] {
  padding: 0 0 0 1.8em;
  margin: 0.5em 0;
  display: block;
  position: relative;
}

a[class^="icon-"]::before {
  content: "";
  background-color: #d63f11;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0.2em;
  background: url("../img/global/ic_world_active.svg") no-repeat 4px center #676767;
}

a[class^="icon-"]:hover::before, a[class^="icon-"]:focus::before {
  background-color: #d63f11;
}

a[class^="icon-"].icon-book::before {
  background: url("../img/global/ic_book_active.svg") no-repeat 4px center #676767;
}

a[class^="icon-"].icon-book:hover:before, a[class^="icon-"].icon-book:focus:before {
  background-color: #d63f11;
}

a[class^="icon-"].icon-file::before {
  background: url("../img/global/ic_download_active.svg") no-repeat 4px center #676767;
}

a[class^="icon-"].icon-file:hover:before, a[class^="icon-"].icon-file:focus:before {
  background-color: #d63f11;
}

/**! ==================================================
 * Responsive tables
 * ================================================== */
.responsive-table, table {
  width: 100%;
  color: #505050;
  font-family: "Enriqueta", "Times New Roman", "Times", serif;
  background-color: #cccccc;
  margin: 2em 0;
}

.responsive-table.font-reduction-smalldesk .foo-bar, table.font-reduction-smalldesk .foo-bar {
  font-size: 14px;
  font-size: 0.875rem;
}

.responsive-table thead th > *:first-child, table thead th > *:first-child,
.responsive-table thead td > *:first-child,
table thead td > *:first-child,
.responsive-table tfoot th > *:first-child,
table tfoot th > *:first-child,
.responsive-table tfoot td > *:first-child,
table tfoot td > *:first-child,
.responsive-table tbody th > *:first-child,
table tbody th > *:first-child,
.responsive-table tbody td > *:first-child,
table tbody td > *:first-child {
  margin-top: 0;
}

.responsive-table thead th *:last-child, table thead th *:last-child,
.responsive-table thead td *:last-child,
table thead td *:last-child,
.responsive-table tfoot th *:last-child,
table tfoot th *:last-child,
.responsive-table tfoot td *:last-child,
table tfoot td *:last-child,
.responsive-table tbody th *:last-child,
table tbody th *:last-child,
.responsive-table tbody td *:last-child,
table tbody td *:last-child {
  margin-bottom: 0;
}

.responsive-table thead .label_before::before, table thead .label_before::before,
.responsive-table tfoot .label_before::before,
table tfoot .label_before::before,
.responsive-table tbody .label_before::before,
table tbody .label_before::before {
  padding-right: 0.25em;
}

.responsive-table thead .label_before--sum::before, table thead .label_before--sum::before,
.responsive-table tfoot .label_before--sum::before,
table tfoot .label_before--sum::before,
.responsive-table tbody .label_before--sum::before,
table tbody .label_before--sum::before {
  content: "=";
}

.responsive-table thead .label_before--sum::before .foo-bar, table thead .label_before--sum::before .foo-bar,
.responsive-table tfoot .label_before--sum::before .foo-bar,
table tfoot .label_before--sum::before .foo-bar,
.responsive-table tbody .label_before--sum::before .foo-bar,
table tbody .label_before--sum::before .foo-bar {
  content: "";
}

.responsive-table thead .label_before--multiply::before, table thead .label_before--multiply::before,
.responsive-table tfoot .label_before--multiply::before,
table tfoot .label_before--multiply::before,
.responsive-table tbody .label_before--multiply::before,
table tbody .label_before--multiply::before {
  content: "x";
}

.responsive-table thead .label_before--multiply::before .foo-bar, table thead .label_before--multiply::before .foo-bar,
.responsive-table tfoot .label_before--multiply::before .foo-bar,
table tfoot .label_before--multiply::before .foo-bar,
.responsive-table tbody .label_before--multiply::before .foo-bar,
table tbody .label_before--multiply::before .foo-bar {
  content: "";
}

.responsive-table thead .label_after::after, table thead .label_after::after,
.responsive-table tfoot .label_after::after,
table tfoot .label_after::after,
.responsive-table tbody .label_after::after,
table tbody .label_after::after {
  padding-left: 0.25em;
}

.responsive-table thead .label_after::after .foo-bar, table thead .label_after::after .foo-bar,
.responsive-table tfoot .label_after::after .foo-bar,
table tfoot .label_after::after .foo-bar,
.responsive-table tbody .label_after::after .foo-bar,
table tbody .label_after::after .foo-bar {
  content: "";
}

.responsive-table thead .label_after--sum::after, table thead .label_after--sum::after,
.responsive-table tfoot .label_after--sum::after,
table tfoot .label_after--sum::after,
.responsive-table tbody .label_after--sum::after,
table tbody .label_after--sum::after {
  content: "=";
}

.responsive-table thead .label_after--sum::after .foo-bar, table thead .label_after--sum::after .foo-bar,
.responsive-table tfoot .label_after--sum::after .foo-bar,
table tfoot .label_after--sum::after .foo-bar,
.responsive-table tbody .label_after--sum::after .foo-bar,
table tbody .label_after--sum::after .foo-bar {
  content: "";
}

.responsive-table thead .label_after--multiply::after, table thead .label_after--multiply::after,
.responsive-table tfoot .label_after--multiply::after,
table tfoot .label_after--multiply::after,
.responsive-table tbody .label_after--multiply::after,
table tbody .label_after--multiply::after {
  content: "x";
}

.responsive-table thead .label_after--multiply::after .foo-bar, table thead .label_after--multiply::after .foo-bar,
.responsive-table tfoot .label_after--multiply::after .foo-bar,
table tfoot .label_after--multiply::after .foo-bar,
.responsive-table tbody .label_after--multiply::after .foo-bar,
table tbody .label_after--multiply::after .foo-bar {
  content: "";
}

.responsive-table thead th, table thead th {
  text-align: left;
  padding: 0.5em 1em 0.8em 1em;
  text-transform: uppercase;
  white-space: nowrap;
}

.responsive-table thead th .foo-bar, table thead th .foo-bar {
  padding: 0.5em;
}

.responsive-table thead th:first-child, table thead th:first-child {
  border-top-left-radius: 8px;
}

.responsive-table thead th:last-child, table thead th:last-child {
  border-top-right-radius: 8px;
}

.responsive-table tbody td, table tbody td {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.responsive-table tfoot tr, table tfoot tr,
.responsive-table tbody tr,
table tbody tr {
  background-color: #ffffff;
}

.responsive-table tfoot tr:last-child th:last-child, table tfoot tr:last-child th:last-child,
.responsive-table tbody tr:last-child th:last-child,
table tbody tr:last-child th:last-child {
  border-bottom-left-radius: 8px;
}

.responsive-table tfoot tr:last-child td:last-child, table tfoot tr:last-child td:last-child,
.responsive-table tbody tr:last-child td:last-child,
table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.responsive-table tfoot td, table tfoot td,
.responsive-table tfoot th,
table tfoot th, .responsive-table tbody td, table tbody td,
.responsive-table tbody th,
table tbody th {
  padding: 0.5em 1em 0.8em 1em;
  text-align: left;
  vertical-align: top;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
}

.responsive-table tfoot td .foo-bar, table tfoot td .foo-bar,
.responsive-table tfoot th .foo-bar,
table tfoot th .foo-bar,
.responsive-table tbody td .foo-bar,
table tbody td .foo-bar,
.responsive-table tbody th .foo-bar,
table tbody th .foo-bar {
  padding: 0.5em;
}


.responsive-table tbody th,
table tbody th {
  font-weight: 700;
}

.responsive-table tfoot tr, table tfoot tr {
  background-color: #e6e6e6;
}


.responsive-table tfoot th,
table tfoot th {
  font-weight: bold;
  padding: 0.5em 1em;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}


.responsive-table tfoot th .foo-bar,
table tfoot th .foo-bar {
  padding: 0.5em;
}

.responsive-table--background:not(.bt) tbody tr {
  background-color: #f2f2f2;
}

.responsive-table--background:not(.bt) tbody tr:nth-child(2n + 1) > * {
  background-color: #ffffff;
}

.bt-wrapper.active {
  max-height: 310px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

table.bt .bt-hide,
table.bt thead {
  display: none;
}

table.bt.bt--no-header tfoot td::before,
table.bt.bt--no-header tbody td::before {
  display: none;
}

table.bt tfoot th,
table.bt tfoot td,
table.bt tbody th,
table.bt tbody td {
  border: none;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* IE 9 */
  float: left\9;
  width: 100%\9;
}

table.bt tfoot th .bt-content,
table.bt tfoot td .bt-content,
table.bt tbody th .bt-content,
table.bt tbody td .bt-content {
  vertical-align: top;
}

table.bt tfoot td::before,
table.bt tbody td::before {
  content: attr(data-th) ": ";
  display: inline-block;
  -ms-flex-shrink: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

table.bt tfoot th,
table.bt tbody th {
  background-color: #cccccc;
}

table.bt tfoot th .bt-content,
table.bt tbody th .bt-content {
  margin: 0 auto;
}

/*
table.bt tfoot th::before,
table.bt tfoot .table__score::before,
table.bt tbody .table__score::before,
table.bt tfoot td::before,
table.bt tbody td::before {
  content: attr(data-th) ": ";
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}

table.bt tbody td.table__topic {
  background-color: $color-gray-light-1;
  .bt-content {
    padding: 0.5em 0;
    text-align: center;
    margin: 0 auto;
  }
}

table.bt tbody td.table__score {
  @include media("narrow") {
    justify-content: space-between;
  }
}
table.bt tbody td.table__score::before {
  @include media("narrow") {
    color: $color-gray-dark-2;
    justify-content: space-between;
  }
}
*/
