.klaro {
    --green1: #d63f11;
    --green2: #d63f11;
    --green3: #d63f11;
    --dark1: #ffffff;
    --font-family: "Palanquin", Helvetica, Arial, sans-serif;
    margin: auto;
}
.klaro .context-notice {
    background-color: #f2f2f2;
    font-size: 1.2em;
}

.klaro label {
    margin:0;
}

.klaro .cookie-modal .cm-btn,
.klaro .context-notice .cm-btn,
.klaro .cookie-notice .cm-btn {
    text-transform: uppercase;
    font-size:14px;
    font-weight: 600;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.01em;
    border: 2px solid #d63f11;
    transition: all 0.2s ease-out;
    line-height: 1.2;
    text-align:center;
    padding: 12px;
}

.klaro .cookie-modal .cm-btn:hover {
    background-color:#fff;
    color: #d63f11;
}

.klaro .context-notice .cm-btn.cm-btn-success-var,
.klaro .cookie-notice .cm-btn.cm-btn-success-var,
.klaro .cookie-modal .cm-btn.cm-btn-success-var,
.klaro .cookie-modal .cm-btn.cm-btn-accept,
.klaro .cookie-modal .cm-btn.cm-btn-decline {
    background-color: #505050;
    border: 2px solid #505050;
}

.klaro .context-notice .cm-btn.cm-btn-success-var:hover,
.klaro .cookie-notice .cm-btn.cm-btn-success-var:hover,
.klaro .cookie-modal .cm-btn.cm-btn-success-var:hover,
.klaro .cookie-modal .cm-btn.cm-btn-accept:hover,
.klaro .cookie-modal .cm-btn.cm-btn-decline:hover,
.klaro .cookie-modal .cm-btn.cm-btn-accept-all:hover,
.klaro .context-notice .cm-btn.cm-btn-success-var:focus,
.klaro .cookie-notice .cm-btn.cm-btn-success-var:focus,
.klaro .cookie-modal .cm-btn.cm-btn-success-var:focus,
.klaro .cookie-modal .cm-btn.cm-btn-accept:focus,
.klaro .cookie-modal .cm-btn.cm-btn-decline:focus,
.klaro .cookie-modal .cm-btn.cm-btn-accept-all:focus {
    background-color:#fff;
    color: #505050;
}

.klaro .context-notice .cm-list-label .slider,
.klaro .cookie-notice .cm-list-label .slider,
.klaro .cookie-modal .cm-list-label .slider {
    background-color: #676767;
}

.klaro .cookie-modal .cm-caret,
.klaro .cookie-modal .cm-list-description {
    font-size: 0.8em ;
}

.klaro .cookie-modal .cm-modal .cm-header,
.klaro .cookie-modal .cm-list-title {
    font-size: 1.2em;
}

.klaro .cookie-modal .cm-btn.cm-btn-accept-all{
    background-color: #408040;
    border: 2px solid #408040;
}

.klaro .cookie-modal .cm-btn.cm-btn-accept-all:hover,
.klaro .cookie-modal .cm-btn.cm-btn-accept-all:focus {
    color: #408040;
    border: 2px solid #408040;
}

.klaro .cookie-modal .cm-btn.cm-btn-decline {
    background-color: #e41a11;
    border: 2px solid #e41a11;
}

.klaro .cookie-modal .cm-btn.cm-btn-decline:hover,
.klaro .cookie-modal .cm-btn.cm-btn-decline:focus {
    color: #e41a11;
    border: 2px solid #e41a11;
}
